{% load i18n easy_icons geoluminate %}

<style>
  .sidebar-toggle {
    height: 40px;
    width: 40px;
  }
</style>
{% if not user.is_authenticated %}
  <a class="btn btn-outline-light d-flex align-items-center" href="{% url "account_login" %}">
    <span title="{% trans "Sign In" %}">{% trans "Sign In" %}</span>
  </a>
{% else %}
  <a class="sidebar-toggle p-0 shadow btn bg-white text-secondary rounded-circle d-flex align-items-center justify-content-center"
     role="button"
     aria-expanded="false"
     data-bs-toggle="offcanvas"
     data-bs-target="#userNavOffcanvas"
     title="{% trans "Toggle user navigation" %}"
     aria-label="{% trans "Toggle user navigation" %}">
    {% icon "user" height="1.5em" %}
    {% comment %} {% avatar user width="36.7px" class='rounded-circle shadow border border-2 border-light shadow' %} {% endcomment %}
  </a>
{% endif %}
{% comment %} {% load i18n easy_icons %}

{% if not user.is_authenticated %}
  <a class="btn btn-outline-light d-flex align-items-center d-flex" href="{% url "account_login" %}">
    <span title="{% trans "Sign In" %}">{% trans "Sign In" %}</span>
  </a>
{% else %}
  <a class="sidebar-toggle p-0 shadow btn bg-white text-secondary rounded-circle d-flex align-items-center justify-content-center" role="button" aria-expanded="false" data-bs-toggle="offcanvas" data-bs-target="#userNavOffcanvas" title="{% trans "Toggle user navigation" %}" aria-label="{% trans "Toggle user navigation" %}">{% icon "user" height="1.5em" %}</a>
{% endif %} {% endcomment %}
