{% extends "geoluminate/sidebar_left.html" %}
{% load i18n formsetify autotables geoluminate static %}


{% block sidebar_title %}{% trans "Filter by" %}{% endblock %}

{% block sidebar %}
  {% formsetify filter.form %}
  <django-formset endpoint="{{ request.path }}" csrf-token="{{ csrf_token }}">
    <form id="{{ filter.form.form_id }}"></form>
      {% include "formset/non_field_errors.html" %}
      {% for field in filter.form %}{% if field.name not in list_filter_top %}
        {% if field.is_hidden %}
          {{ field }}
        {% else %}
          {% include "formset/default/field_group.html" %}
        {% endif %}{% endif %}
      {% endfor %}
  </django-formset>
{% endblock %}

{% block sidebar_footer %}
  <button class='btn btn-primary' type="submit" form="{{filter.form.form_id}}" 
          hx-get="{{request.path}}"
          hx-include="#{{filter.form.form_id}}"
          hx-target="#templateWrapper" 
          hx-push-url="true">
    {% trans "Apply" %}
  </button>
{% endblock %}

{% block main %}
  {% include "geoluminate/list/list.html" %}
{% endblock main %}


{% block scripts %}
  <script src="{% static "el-pagination/js/el-pagination.js" %}"></script>
  <script>
    $.endlessPaginate({
    {% comment %} paginateOnScroll: true, {% endcomment %}
    {% comment %} paginateOnScrollMargin: 1200, {% endcomment %}
    onCompleted: function(context, fragment) {
      console.log('Label:', $(this).text());
      console.log('URL:', context.url);
      console.log('Querystring key:', context.key);
      {% comment %} console.log('Fragment:', fragment); {% endcomment %}
  }
  });</script>
  {{ filter.form.js }}

{% endblock scripts %}

{% block toolbar_right %}
  <a class="btn text-primary content-sidebar-toggle" href="#pageSidebar" data-bs-toggle="offcanvas" role="button" aria-controls="pageSidebar" aria-expanded="true">
    <i class="fas fa-filter"></i>
  </a>
{% endblock %}




