{% extends "geoluminate/sidebar_left.html" %}
{% load static i18n formsetify cms_tags geoluminate sekizai_tags activity_tags %}
{% load render_bundle from webpack_loader %}

{% block application %}
  {% if user_has_permission.edit %}
    {% include "cms/cms_menu.html" %}
  {% endif %}
  {{ block.super }}
{% endblock application %}
{% block css %}
  {{ block.super }}
  {% render_bundle "detail" "css" "GEOLUMINATE" %}
  {% render_bundle "datatables" "css" "GEOLUMINATE" %}
  <link rel="stylesheet" type="text/css" href="{% static "fluent_comments/css/ajaxcomments.css" %}" />
  <style>
    th {
      white-space: nowrap;
    }
  </style>
{% endblock css %}
{% block javascript %}
  {{ block.super }}
  {% render_bundle "detail" "js" "GEOLUMINATE" attrs="defer" %}
  {% render_bundle "datatables" "js" "GEOLUMINATE" attrs="defer" %}
  <script src="{% static "el-pagination/js/el-pagination.js" %}" defer></script>
{% endblock javascript %}
{% block compressable_js %}
{% endblock compressable_js %}
{% block page_nav %}
  <nav class="page-nav">
    {% page_menu %}
  </nav>
{% endblock page_nav %}
{% block sidebar_title %}
  {{ object.uuid }}
{% endblock sidebar_title %}
{% block sidebar %}
  {% block sidebar_top %}
    {% block sidebar_image %}
      <div class="card text-white">{% avatar object width="100%" class="card-img" %}</div>
    {% endblock sidebar_image %}
    <div class="actions d-flex mb-2 justify-content-center">
      {% follow_button object %}
      {% share_button object %}
      <a href="#" class="btn btn-sm btn-secondary">
        <i class="fa-solid fa-envelope"></i>
        {% trans "Contact" %}
      </a>
      {% block actions %}
      {% endblock actions %}
    </div>
  {% endblock sidebar_top %}
  {% for card in sidebar_components %}
    {% include card %}
  {% endfor %}
{% endblock sidebar %}
{% block main %}
  <div class="tab-content d-flex flex-wrap w-100 h-100">
    {% for item in page_menu %}
      <div id="{{ item.title|slugify }}-panel" class="tab-pane fade bg-body-light w-100 {% if forloop.first %}show active{% endif %} " role="tabpanel" aria-labelledby="{{ item.title|slugify }}-tab" tabindex="{{ forloop.counter }}" hx-get="{{ item.resolved }}"{% for key, val in htmx.items %} {{ key }}="{{ val }}"{% endfor %} hx-trigger="intersect" hx-target="this">
      </div>
    {% endfor %}
  </div>
{% endblock main %}
