{% extends "geoluminate/sidebar_left.html" %}
{% load i18n formsetify autotables geoluminate static %}
{% load render_bundle from webpack_loader %}

{% block css %}
  {{ block.super }}
  {% render_bundle 'detail' 'css' 'GEOLUMINATE' %}
{% endblock css %}

{% block javascript %}
  {{ block.super }}
  {% render_bundle 'list' 'js' 'GEOLUMINATE' attrs="defer" %}
  <script src="{% static "el-pagination/js/el-pagination.js" %}" defer></script>
{% endblock javascript %}

{% block sidebar_title %}
  {% trans "Filter by" %}
{% endblock %}

{% block sidebar %}
  {% formsetify filter.form %}
  <django-formset endpoint="{{ request.path }}" csrf-token="{{ csrf_token }}">
    <form id="{{ filter.form.form_id }}" class="list-filter-form">
    </form>
    {% include "formset/non_field_errors.html" %}
    {% for field in filter.form %}
      {% if field.name not in list_filter_top %}
        {% if field.is_hidden %}
          {{ field }}
        {% else %}
          {% include "formset/default/field_group.html" %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </django-formset>
{% endblock %}

{% block sidebar_footer %}
  <button class="btn btn-warning list-filter-clear"
          hx-get="{{ request.path }}"
          hx-target="#templateWrapper"
          hx-push-url="true"
          {% comment %}
          hx-on::before-request="clearFilter()"
          {% endcomment %}>{% trans "Clear Filters" %}</button>
  <button class='btn btn-primary'
          type="submit"
          form="{{ filter.form.form_id }}"
          hx-get="{{ request.path }}"
          hx-include="#{{ filter.form.form_id }}"
          hx-target="#templateWrapper"
          hx-push-url="true">{% trans "Apply" %}</button>
{% endblock %}

{% block main %}
  <div class='page-content container d-block entry-list py-3'>
    <header>
      <h1 class="display-1">
        {% block heading %}
          {{ meta.title }}
        {% endblock heading %}

      </h1>
    </header>
    {% block description %}{{ description }}{% endblock %}

    {% if list_filter_top %}
      <div class='toolbar py-2 d-flex w-100'>
        <django-formset class='list-filter-top hidden-labels' endpoint="{{ request.path }}" csrf-token="{{ csrf_token }}">
          {% for field in filter.form %}
            {% if field.name in list_filter_top %}
              <div class="{% if forloop.first %} flex-grow-1 {% else %} flex-shrink-1{% endif %}">
                {% include "formset/default/field_group.html" %}
              </div>
            {% endif %}
          {% endfor %}
        </django-formset>
      {% endif %}
      <button class='d-block d-xl-none btn btn-primary' data-bs-target="#pageSidebar" data-bs-toggle="modal">
        <i class="fas fa-filter"></i>
      </button>
      {% if permissions.create %}
        <a class='btn btn-success text-nowrap ms-2'
           {% comment %}
           hx-get="{% url "datasets:contribution:add" uuid=object.uuid %}"
           {% endcomment %}
           hx-target="#exampleModal .modal-content"
           data-bs-toggle="modal"
           data-bs-target="#exampleModal">
          <span>{% icon 'plus' title="Create new" %}
          {% trans "New " %}</span>
        </a>
      {% endif %}
    </div>
    <hr class="mt-0 border border-primary" />
    {% comment %} template_name defaults to "geoluminate/base/list_view.html" {% endcomment %}
    {% include template_name %}
  </div>
{% endblock main %}

{% block toolbar_right %}
  <a class="btn text-primary content-sidebar-toggle"
     href="#pageSidebar"
     data-bs-toggle="offcanvas"
     role="button"
     aria-controls="pageSidebar"
     aria-expanded="true">
    <i class="fas fa-filter"></i>
  </a>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
{% endblock scripts %}
