{% extends "geoluminate/layout/sidebar_left.html" %}
{% load i18n formsetify autotables geoluminate static %}


{% block main %}
<div class='container py-3'>
  <header>
    <h1>{% block heading %}{{ geoluminate.database.acronym }} {{ list_of|title }}{% endblock %}</h1>
  </header>
  <p class='page-description'>{% block description %}{% endblock %}</p>
  <div class='toolbar py-2 d-flex'>
    {% with filter.form as form %}
     <form class="w-100 small" aria-label="Reviews" role="search" method="get">
      <div class="d-flex flex-column flex-lg-row w-100">
        <input class="form-control form-control-sm w-100 flex-grow-1" 
          placeholder="Search {{list_of}}..." 
          autocomplete="off" 
          hx-trigger="keyup changed delay:500ms, search" 
          hx-get 
          hx-target=".page-content"
          hx-push-url="true"
          type="{{ widget.type }}"
          name="{{ widget.name }}"
          {% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %}
          > 
        <select class="form-select flex-shrink-1 mx-2 w-auto bg-primary-subtle" aria-label="Default select example">
          <option selected>Status</option>
          <option value="1">Concept</option>
          <option value="2">Planning</option>
          <option value="3">In progress</option>
          <option value="4">Complete</option>
        </select>
        <select class="form-select flex-shrink-1 w-auto bg-primary-subtle" placeholder="Sort by" aria-label="Default select example">
          {% comment %} <option selected>Sort</option> {% endcomment %}
          <option value="1">Created</option>
          <option value="2">Last modified</option>
          <option value="3">Date published</option>
        </select>
      </div>
    </form>
    {% endwith %}
  </div>
  <hr class="mt-0 border border-primary">
  {% include template_name %}
</div>

{% endblock main %}


{% block head %}
{{ block.super }}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{{ filter.form.css }}
{% endblock %}



{% block sidebar_header %}
<h5 class='offcanvas-title'>{% trans "Filter by" %}</h5>
<button type="button" class="btn-close d-lg-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
{% endblock sidebar_header %}

{% block sidebar_content %}
  <form method="get" hx-get hx-target="#templateWrapper" hx-trigger="change queue:none, keyup changed delay:500ms from:#id_title queue:none">
    {{ filter.form.as_p }}
    {% comment %} <button type="submit" class='btn btn-primary'>{% trans "Apply" %}</button> {% endcomment %}
  </form>
{% endblock %}


{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="{% static "el-pagination/js/el-pagination.js" %}"></script>
<script>
  $.endlessPaginate({
  {% comment %} paginateOnScroll: true, {% endcomment %}
  {% comment %} paginateOnScrollMargin: 1200, {% endcomment %}
  onCompleted: function(context, fragment) {
    console.log('Label:', $(this).text());
    console.log('URL:', context.url);
    console.log('Querystring key:', context.key);
    {% comment %} console.log('Fragment:', fragment); {% endcomment %}
}
});</script>
{{ filter.form.js }}

{% endblock scripts %}

{% block toolbar_right %}
<a class="btn text-primary content-sidebar-toggle" href="#pageSidebar" data-bs-toggle="offcanvas" role="button" aria-controls="pageSidebar" aria-expanded="true">
  <i class="fas fa-filter"></i>
</a>
{% endblock %}




