{% load i18n geoluminate contributor_tags %}
{% spaceless %}

<style>
  #gauge-container {
    width: 200px;
    height: 200px;
  }
</style>

<div class="card mb-3 w-100">
  <div class='card-header'>
    {% block pretitle %}
      <h6 class="mb-1">
        {% include "contributors/names_list.html" with contributors=obj.get_contributors|role:"HostingInstitution" %}
      </h6>
    {% endblock %}
    {% block title_link %}
      <a href="{{ obj.get_absolute_url }}" class='text-decoration-none'>
        <h5 class="card-title">
        {% block title %}<span>{{ obj.title }}</span>{% endblock %}
        </h5>
      </a>
    {% endblock %}
    <h6 class="card-subtitle mb-2 text-muted fw-light">
      {% block subtitle %}{% endblock %}
    </h6>
  </div>
  <div class="card-body row">
    <div class='col col-lg-3 col-md-4'>
      <div class="card h-100 mt-1">
        {% block image %}{% if obj.image %}
        <img src="{{ obj.image.url }}" class="card-img-top rounded" alt="{{ obj.title }}">
        {% endif %}{% endblock %}
        <div class="card-body text-center">
          <h6>{% trans "Metadata Quality" %}</h6>
          <div id='metadataQuality-{{obj.id}}' class='gauge'
                  data-bs-toggle="popover"
                  data-bs-placement="right"
                  data-bs-content="Find out more."
                  data-value='{{ obj.get_metadata_quality}}'
          ></div>
          <h6>{% trans "Data Quality" %}</h6>
          <div id='dataQuality-{{obj.id}}' class='gauge'
          data-value='{{ obj.get_data_quality }}'

          ></div>



          {% block card_left %}
          {% comment %} <ul class="list-group list-group-flush mt-3 mt-md-2">
            {% block list_group %}


            <li>{% trans "Status" %}: <span class="badge project-status-{{obj.status}}">{{obj.get_status_display}}</span></li>
            <li>{% trans "Start" %}: <span>{{obj.created|date:"M Y"}}</span></li>
            <li>{% trans "Finish" %}: <span>{{obj.created|date:"M Y"}}</span></li>
            {% for date in obj.key_dates.all %}
              <li>{{ date.get_type_display }}: <span>{{ date.date|date|default:"-"}}</span></li>
            {% endfor %}

            {% endblock list_group %}
          </ul> {% endcomment %}
          {% endblock %}
        </div>
      </div>
    </div>
    <div class='col'>
      <div class="card h-100 ">
        <div class='card-body pt-0'>
          {% block card_right %}
          <p class="card-text">
            {% block description %}
            {% comment %} {% with obj.summary as description %} {% endcomment %}
            {% with obj.get_abstract as description %}
              {% if description %}
                {% comment %} {{ description.clean|truncatewords_html:100 }} {% endcomment %}
                {{ description.clean|truncatechars_html:512 }}
                {% comment %} {{ description.clean }} {% endcomment %}
              {% else %}
                {% blocktrans %}
                No abstract has been provided for this {{ obj_name }} yet.
                {% endblocktrans %}
              {% endif %}
            {% endwith %}
            {% endblock description %}
          </p>
          {% endblock %}
          <div class=''>
            {% block actions %}{% endblock %}
          </div>
        </div>
        {% if obj.get_tags_list %}

        <div class='card-footer'>
          {% block footer %}
          <div class="text-muted">
            <div>{% block badges %}{% for tag in obj.get_tags_list %}
              <span class="badge rounded-pill text-bg-secondary">{{ tag }}</span>{% endfor %}{% endblock %}
            </div>
            {% block info %}
            {% endblock info %}
          </div>
          {% endblock footer %}
        </div>
        {% endif %}

      </div>
    </div>
  </div>
  <div class='card-footer'>{% with obj.modified|timesince as last_updated %}
    {% blocktrans %}Last Updated: {{ last_updated }} ago{% endblocktrans %}
    {% endwith %}

  </div>
</div>
{% endspaceless %}
