{% load i18n geoluminate contributor_tags %}
{% spaceless %}

<div class="card mb-3 w-100 border-0">
  <div class="card-body">
    {% block pretitle %}
    <h6 class="mb-1">
      {% include "contributors/names_list.html" with contributors=obj.get_contributors|role:"HostingInstitution" %}

      {% comment %} {% for contributor in obj.get_contributors|role:"HostingInstitution" %}
      {% if forloop.first %}
      <i class="{% icon "organization" %} me-2"></i>{% endif %}
      <span class='me-1'>{{ contributor }}</span>{% if not forloop.last %}, {% endif %}
      {% endfor %} {% endcomment %}
    </h6>
    {% endblock %}
    {% block title_link %}
    <a href="{{ obj.get_absolute_url }}" class='text-decoration-none'>
      <h5 class="card-title">
    {% block title %}<span>{{ obj.title }}</span>{% endblock %}
        {% comment %} {% if not obj.is_public %}
          <i class="float-end fa-solid fa-user-secret text-secondary" data-bs-toggle="tooltip" data-bs-title="Only you and other listed contributors can see this item.">
            {{ obj.get_is_public_display }}
          </i>
        {% endif %} {% endcomment %}
      </h5>
    </a>
    {% endblock %}
    <h6 class="card-subtitle mb-2 text-muted fw-light">
      {% block subtitle %}{% endblock %}
    </h6>

    <div class='row'>
      <div class='col-12 col-lg-3 col-md-4 d-flex flex-column'>
        {% block image %}{% if obj.image %}
        <img src="{{ obj.image.url }}" class="w-100 mt-2 bg-secondary-subtle object-fit-contain" alt="{{ obj.title }}" />
        {% endif %}{% endblock %}
        {% block card_left %}
        <ul class="list-group list-group-flush mt-3 mt-md-2">
          {% block list_group %}
          <li>{% trans "Status" %}: <span class="badge project-status-{{obj.status}}">{{obj.get_status_display}}</span></li>
          <li>{% trans "Start" %}: <span>{{obj.created|date:"M Y"}}</span></li>
          <li>{% trans "Finish" %}: <span>{{obj.created|date:"M Y"}}</span></li>
          {% for date in obj.key_dates.all %}
            <li>{{ date.get_type_display }}: <span>{{ date.date|date|default:"-"}}</span></li>          
          {% endfor %}
          {% endblock list_group %}
        </ul>
        {% endblock %}
      </div>
      <div class='col d-flex flex-column flex-grow-1 mt-3 mt-md-0'>
        {% block card_right %}
        <p class="card-text flex-grow-1">
          {% block description %}
          {% with obj.get_abstract as description %}
            {% if description %}
              {{ description.clean|truncatewords_html:100 }}
            {% else %}
              {% blocktrans %}
              No abstract has been provided for this {{ obj_name }} yet.
              {% endblocktrans %}
            {% endif %}
          {% endwith %}
          {% endblock description %}
        </p>
        <div class="text-muted small mt-auto">{% block info %}{% trans "Last Updated" %}: <span>{{ obj.modified|date }}</span>{% endblock info %}</div>
        {% endblock %}
        {% if obj.get_tags_list %}
        <hr class='mb-1'>
        <div>{% block badges %}{% for tag in obj.get_tags_list %}
          <span class="badge rounded-pill text-bg-secondary">{{ tag }}</span>{% endfor %}{% endblock %}
        </div>
        {% endif %}
        <div class=''>
          {% block actions %}{% endblock %}
        </div>    
      </div>
    </div>
  </div>
</div>
{% endspaceless %}