{% extends "base.html" %}
{% load static flex_menu partials geoluminate %}
{% load render_bundle from webpack_loader %}

{% block body_class %}
  vstack vh-100
{% endblock body_class %}

{% block css %}
  {{ block.super }}
  <style>
    th {
      white-space: nowrap;
    }
  </style>
{% endblock css %}

{% block page_nav %}
  {% render_menu menu pk=base_object.pk|default:object.pk %}
{% endblock page_nav %}

{% block content %}
  <div class="overflow-hidden d-flex h-100">
    <c-detail.sidebar>
      {% for heading, config in sidebar_fields %}
        <c-sidebar-fieldset :heading="heading" :fields="['title','project']" />
      {% endfor %}
      {% comment %} <c-fields.relation :field="field.0" :value="field.1" /> {% endcomment %}
      {% render_field object "contributors" %}
      {% comment %} {% render_field object "samples" %} {% endcomment %}
      {% comment %} {% render_field object "project" %} {% endcomment %}
    </c-detail.sidebar>
    {% block plugin %}
    {% endblock plugin %}

  </div>
{% endblock content %}
