{% extends 'geoluminate/layout/container.html' %}
{% load static i18n formsetify geoluminate sekizai_tags cms_tags %}

{% comment %} {% block title %}{{ geoluminate.database.acronym}} {{ object|verbose_name|title }}{% endblock %} {% endcomment %}

{% block title_after %}{{ object|title }}{% endblock %}

{% block container %}
<div class='row'>
  <div class='col-12 col-md-3 pt-3'>
    <img src="{{ object.profile_image }}" class='w-100 rounded-circle' alt="{{ object }}">
    <div class='container py-3'>
      <h1 class='fs-5 mb-0'>{{object}}</h1>
      <span class='fs-6 fw-light '>Deutsches GeoForschungsZentrum</span> 
      <a href="" class='text-right'><i class='fa-solid fa-envelope'></i></a>
      {% if has_edit_permission %}
        <button class='btn bg-primary-subtle btn-outline-primary w-100 my-3'>
          {% trans "Edit" %}
        </button>
      {% endif %}

      <ul class="list-group list-group-flush mt-3">
        <li class="list-group-item d-flex px-0 align-items-center">
          <i class='fa-solid fa-project-diagram me-2'></i>
          {% trans "Active Projects" %}: 
          <span class='ms-auto badge rounded-pill text-bg-success'>{{object.projects.count}}</span>
        </li>
        <li class="list-group-item d-flex px-0 align-items-center">
          <i class='fa-solid fa-folder-open me-2'></i>
          {% trans "Published Datasets" %}: 
          <span class='ms-auto badge rounded-pill text-bg-success'>{{object.datasets.count}}</span>
        </li>
        <li class="list-group-item d-flex px-0 align-items-center">
          <i class='fa-solid fa-check-to-slot me-2'></i>
          {% trans "Completed Reviews" %}: 
          <span class='ms-auto badge rounded-pill text-bg-success'>{{object.reviews.count}}</span>
        </li>
      </ul>
    </div>
  </div>
  <div id='contribPage' class='col-12 col-md-9'>
    {% include template_name %}
  </div>

</div>
{% endblock %}


{% block scripts %}

{% addtoblock 'js' %}
  <script>
    $("#contributorModal").on("show.bs.modal", function (event) {
      console.log(event)
      var button = $(event.relatedTarget);
      var modal = $(this);
      modal.find(".contributor-name").text(button.data("bs-name"));
      modal.find(".profile-image").html(button.data("bs-image"));
      modal.find(".contributor-roles").text(button.data("bs-roles"));
      modal.find(".contributor-bio").html(button.data("bs-bio"));
      modal.find(".modal-footer a").attr("href", button.data("bs-url"))
    });
  </script>
{% endaddtoblock %}

<link rel="stylesheet" href="https://unpkg.com/maplibre-gl@2.0.0/dist/maplibre-gl.css" />
<script src="https://unpkg.com/maplibre-gl@2.0.0/dist/maplibre-gl.js"></script>

{% endblock scripts %}

