{% extends "base.html" %}
{% load static partials crispy_forms_tags %}

{% partialdef form inline=True %}
<form method="post"
      class="my-class"
      hx-post="{{ request.get_full_path }}"
      {% if request.htmx.target %}hx-target="#{{ request.htmx.target }}"{% endif %}>
  {% csrf_token %}
  {{ form|crispy }}
  <button type="submit"
          class="btn btn-primary">{% trans "Save" %}</button>
</form>
{% comment %} {% crispy form %} {% endcomment %}
{% endpartialdef %}

{% block content %}
  <div class="container py-3 col-6">
    <c-header title="{{ meta.title }}"
              hr />
    <div class="page-content">
      {% if view.help_text %}{{ view.help_text }}{% endif %}
      <div class="my-3">{% partial form %}</div>
    </div>
  </div>
{% endblock content %}
