{% extends "base.html" %}
{% load partials crispy_forms_tags %}
{% load render_bundle from webpack_loader %}

{% partialdef list-filter %}
{% if is_filtered %}
  <div class="filter-info container d-flex justify-content-between">
    <span class="text-muted">Filters matched {{ filtered_object_count }} out of {{ total_object_count }} total {{ meta.title }}.</span>
    <button class="btn btn-sm btn-warning list-filter-clear"
            hx-get="{{ request.path }}"
            hx-target="#templateWrapper"
            hx-push-url="true">{% trans "Clear Filters" %}</button>
  </div>
{% endif %}
{% endpartialdef %}

{% partialdef object-list %}
{% for obj in object_list %}
  {% include object_template %}
{% empty %}
  {% trans "There's nothing here yet." %}
{% endfor %}
{% endpartialdef %}

{% partialdef page %}
<c-bs5.grid ncols="{{ view.ncols }}">
  {% partial object-list %}
</c-grid>
{% endpartialdef %}

{% block content %}
  <c-layout.sidebar wrapper_class="container" size="3">
    <c-slot name="sidebar">
      <div class="py-2 hstack sticky-top align-items-center">
        <h1 class="fs-5 fw-semibold m-0">{% trans "Filter by" %}</h1>
        <div class="ms-auto">
          <button class="btn btn-sm btn-warning list-filter-clear"
                  hx-get="{{ request.path }}"
                  hx-target="#templateWrapper"
                  hx-push-url="true"
                  {% comment %}
                  hx-on::before-request="clearFilter()"
                  {% endcomment %}>{% trans "Clear" %}</button>
          <button class="btn btn-sm btn-primary"
                  type="submit"
                  form="{{ filter.form.form_id }}"
                  hx-get="{{ request.path }}"
                  hx-include="#{{ filter.form.form_id }}"
                  hx-target="#templateWrapper"
                  hx-push-url="true">{% trans "Apply" %}</button>
        </div>
      </div>
      {% crispy filterset.form %}
    </c-slot>
    <div class="page-content container d-block entry-list py-3">
      <div>
        <c-header title="{{ object_verbose_name_plural|title }}" hr>
          <c-slot name="actions">
            <c-paginator />
          </c-slot>
        </c-header>
        {% comment %} <a class="text-secondary ms-auto fs-3">{% icon "info" %}</a> {% endcomment %}
      </div>
      <p>
        {% block description %}
        {% endblock description %}
      </p>
      {% block page %}
        {% partial page %}
      {% endblock page %}

    </div>
  </c-layout.sidebar>
{% endblock content %}

{% block toolbar_right %}
  <a class="btn text-primary content-sidebar-toggle"
     href="#pageSidebar"
     data-bs-toggle="offcanvas"
     role="button"
     aria-controls="pageSidebar"
     aria-expanded="true">
    <i class="fas fa-filter"></i>
  </a>
{% endblock toolbar_right %}

{% block body_end %}
  {{ block.super }}
  <!-- Modal -->
  <div class="modal fade"
       id="listDescriptionModal"
       tabindex="-1"
       aria-labelledby="listDescriptionModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5"
              id="listDescriptionModalLabel">{{ meta.title }}</h1>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {% comment %} {% block description %}
            {{ description }}
{% endblock description %}




          {% endcomment %}
        </div>
      </div>
    </div>
  </div>
{% endblock body_end %}
