{% extends "base.html" %}
{% block body_class %}
  vstack vh-100
{% endblock body_class %}

{% block content %}
  <c-layout.sidebar gap="0" x-data>
    <c-slot name="sidebar">
      <h2 class="fs-5 fw-semibold text-center">{{ meta.title }}</h2>
      <div class="list-group">
        {% for c in subclasses %}
          <button type="button"
                  class="list-group-item"
                  @click='$refs.slider.swiper.slideTo({{ forloop.counter0 }})'>{{ c.name }}</button>
        {% endfor %}
      </div>
    </c-slot>
    <swiper-container class="main-slider h-100"
                      x-ref="slider"
                      slides-per-view="1"
                      pagination="true"
                      navigation="true"
                      loop="true">
      {% for c in subclasses %}
        <swiper-slide>
          <div class="d-flex h-100 justify-content-center align-items-center">
            <div class="col-12 col-md-9 text-center">
              <h5 class="card-title mb-0">{{ c.name }}</h5>
              <div class="mb-2">
                <a href={{ c.authority.website }}>{{ c.authority.name }}</a>
              </div>
              {{ c.description }}
              {{ c.count }}
              <div class="hstack justify-content-center gap-2 p-3">
                <a href="{{ c.list_url }}" class="btn btn-primary">{% icon "search" %} {% trans "Search" %}</a>
                <a href="{{ c.detail_url }}"
                   class="btn btn-secondary">{% icon "chart" %} {% trans "Visualize" %}</a>
                <a href="{{ c.detail_url }}"
                   class="btn btn-secondary">{% trans "Learn More" %}</a>
              </div>
            </div>
          </div>
        </swiper-slide>
      {% endfor %}
    </swiper-container>
  </c-layout.sidebar>
{% endblock content %}
