{% extends "account/base.html" %}
{% load i18n account %}

{% block title %}
  {% trans "Password Reset" %}
{% endblock %}

{% block content %}
  <p class='card-text'>
    {% trans "Forgot your password? Please enter a registered e-mail address below and we'll send you a link to reset it. If you have issues, please get in contact and we will try to assist you." %}
  </p>
  {% if user.is_authenticated %}
    <div class="alert alert-info" role="alert">{% include "account/snippets/already_logged_in.html" %}</div>
  {% endif %}
  <form id='resetPassword'
        method="POST"
        action="{% url 'account_reset_password' %}"
        class="password_reset standard">
    {% csrf_token %}
    {{ form.as_p }}
    <input hidden value="{% trans 'Reset My Password' %}" />
    <button type='submit' class='btn btn-primary' for='#resetPassword'>{% trans 'Reset My Password' %}</button>
  </form>
{% endblock content %}
