{% comment %} {% extends "account/base.html" %} {% endcomment %}
{% load i18n %}

{% comment %} {% block title %}{% trans "Change Password" %}{% endblock %} {% endcomment %}
{% block content %}
  <h5 class="mb-3">{% trans "Change Password" %}</h5>
  <form method="POST" action="{% url 'account_change_password' %}" class="password_change standard">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary" name="action">{% trans "Change Password" %}</button>
    <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  </form>
{% endblock %}
