{% load static sekizai_tags %}
<section class='plot-banner d-flex container{% if plot.wide %}-fluid{% endif %}' data-appear-top-offset="{{plot.offset|default:300}}">
    <div class='row {% if plot.reverse %}flex-row-reverse{% endif %}'>
      <div class='col-6 d-flex align-items-center'>
        <div>
          {{content|safe}}
        </div>
      </div>
      <div class='col-6 d-flex justify-content-center plot-container'>
        {% if plot.fields %}
          {% for p in plot.fields %}
            <div class='plot d-flex justify-content-center align-items-center' type="{{plot.type}}" field="{{p}}">
              {% include "sections/placeholder.html" %}
            </div> 
          {% endfor %}
        {% else %}
          <div class='plot d-flex justify-content-center align-items-center' type="{{plot.type}}">
            {% include "sections/placeholder.html" %}
          </div> 
        {% endif %}
      </div>
    </div>
</section>
