{% extends 'sidebar_left.html' %}
{% load static i18n formsetify geoluminate %}

{% block css %}
<link rel="stylesheet" href="{% static "client_side_image_cropping/croppie.css" %}">
<link rel="stylesheet" href="{% static "client_side_image_cropping/cropping_widget.css" %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{% static "client_side_image_cropping/croppie.min.js" %}"></script>
<script src="{% static "client_side_image_cropping/cropping_widget.js" %}"></script>
{% endblock css %}

{% block page_title %}
{% if add %}
{% trans "Create a project" %}
{% else %}
{{object.title}}
{% endif %}
{% endblock %}

{% comment %} {% block toolbar_right %}
{% if not add %}
    <button id="submit-tab" class="btn btn-sm btn-success" type="button">
      <span>{% trans "Review & Submit" %}</span>
    </button>
{% endif %}
{% endblock %} {% endcomment %}


{% block sidebar_left %}

<ul class="list-group" role="tablist" aria-orientation="vertical">

  {% for form in form_collection %}
    <a id="{{ form.prefix }}Tab"
    class="list-group-item {% if forloop.first %}active{% endif %}"
    data-bs-toggle="tab"
    data-bs-target="#{{ form.prefix }}Panel"
    type="button"
    role="tab"
    aria-controls="{{ form.prefix }}Panel"
    aria-selected={% if forloop.first %}"true"{% else %}"false"{% endif %}>
      <span>{{form.legend}}</span>
    </a>
  {% endfor %}

  {% comment %}Contributors, Files, Map{% endcomment %}
</ul>


{% endblock %}

{% block main %}
<django-formset endpoint="{{ request.path }}" csrf-token="{{ csrf_token }}">
  <div class="tab-content" id="formContent">
    {{ form_collection }}
  </div>
  <div class='container d-flex justify-content-end pb-3'>
   {% if add %}
     <button type="button" class="btn btn-primary" df-click="submit({add: true}) -> proceed">{% trans "Create" %}</button>
   {% else %}
     <button type="button" class="btn btn-primary"  df-click="submit({update: true}) -> proceed">{% trans "Update" %}</button>
     <button type="button" class="btn btn-danger"  df-click="submit({delete: true}) -> proceed">{% trans "Delete" %}</button>
   {% endif %}
  </div>
 </django-formset>
{% endblock main %}
