{% extends 'geoluminate/layout/column_left.html' %}
{% load i18n formsetify %}

{% block title %}{{ geoluminate.database.acronym}}{% endblock %}

{% block title_after %}{% trans "My Projects" %}{% endblock %}

{% block page_title %}{% trans "My Projects" %}{% endblock %}

{% block toolbar_right %}
  <button class='btn btn-sm btn-success' data-bs-toggle="modal" data-bs-target="#createProjectModal">
    <i class='fas fa-plus'></i>
    {% trans "Create new" %}
  </button>
{% endblock %}


{% block content_main %}
 {% for object in object_list %}
  {% include "project/card.html" %}
 {% empty %}
  <p>{% trans "It looks like you haven't created any projects yet! Try creating one using the button above." %}</p>
 {% endfor %}

{% endblock %}

{% block scripts %}

<div class="modal fade" id="createProjectModal"
tabindex="-1" aria-labelledby="createProjectModalLabel" aria-hidden="true"
>
  <div class="modal-dialog {{dialog_css}}">
    <div class="modal-content {{content_css}}">
        <div class="modal-header">
          <h5 class="modal-title" id="createProjectModalLabel">
          {% trans "Create new project" %}
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {{ form.as_p }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" df-click="submit({add: true}) -> proceed">{% trans "Create" %}</button>
        </div>


    </div>
  </div>
</div>





{% endblock scripts %}
