{% extends "base.html" %}
{% load geoluminate static sekizai_tags %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"/>
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"/>
{% endblock head %}

{% block app_menu %}
<div id='appMenu' class="container-fluid">
  <ul class='nav w-100' id="myTab" role="tablist" hx-target='#tabbedContent'>
    {% menu app_menu "geoluminate/components/app_menu.html" %}
    <li class='ms-auto'>
      <a class="icon fa-expand expand" type="button" data-target='#outer'></a>
    </li>
  </ul>
</div>
{% endblock app_menu %}


{% block content %}
<div id="tabbedContent" class="tab-content fill"></div>
{% endblock content %}




