{% extends "sidebar_right.html" %}
{% load i18n crispy_forms_tags static i18n cms_tags sekizai_tags %}

{% block head %}
{{ block.super }}
	<script src="https://unpkg.com/htmx.org@1.8.0" integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc" crossorigin="anonymous"></script>
	{{ filter.form.media.css }}
{% endblock head %}

{% block main_window %}
	<div class='inner container pt-5'>
		<section id='publication-list' class='main'>
			{% include "literature/partials/publication_list.html" %}
		</section>
	</div>
	{% addtoblock "js" %}<script src="{% static "geoluminate/js/shave.min.js" %}"></script>{% endaddtoblock %}
	{% addtoblock "js" %}<script>shave('.abstract', 150)</script>{% endaddtoblock %}
	{% addtoblock "js" %}<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>{% endaddtoblock %}
	
{% endblock main_window %}

{% block sidebar_right %}
	<div class='sidebar-header d-flex justify-content-between'>
		<h5>
			{% blocktranslate with count=paginator.count %}Filter {{ count }} publications{% endblocktranslate %}:
		</h5>
		<i class='icon fa-filter'></i>
	</div>
	<div class='sidebar-body p-3'>
			<form id='literatureFilter' method='get'
					hx-trigger="change"
					hx-target="#publication-list"
					hx-params="*"
					hx-get>
				{% crispy filter.form %}	
			</form>
	</div>

{% addtoblock "js" %}{{ filter.form.media.js }}{% endaddtoblock %}
{% endblock sidebar_right %}






{% block modals %}
{% include "review/modals/nominate.html" with modal_id='requestToReview' %}
	{% comment %} {% include 'geoluminate/modals/form.html' with modal_id="filterPublicationsModal" form=filter.form helper=filter.helper %} {% endcomment %}
{% endblock modals %}




