{% extends "geoluminate/layout/sidebar_left.html" %}
{% load i18n formsetify autotables geoluminate static %}

{% block main %}{% include template_name %}{% endblock main %}

{% block sidebar_header %}
<h5 class='offcanvas-title'>{% trans "Filters" %}</h5>
<button type="button" class="btn-close d-lg-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
{% endblock sidebar_header %}

{% block sidebar_content %}
  <div id="searchButton"></div>
  {{ filter.form }}
{% endblock %}


{% block scripts %}
<script src="{% static "el-pagination/js/el-pagination.js" %}"></script>
<script>
  $.endlessPaginate({
  {% comment %} paginateOnScroll: true, {% endcomment %}
  {% comment %} paginateOnScrollMargin: 1200, {% endcomment %}
  onCompleted: function(context, fragment) {
    console.log('Label:', $(this).text());
    console.log('URL:', context.url);
    console.log('Querystring key:', context.key);
    {% comment %} console.log('Fragment:', fragment); {% endcomment %}
}
});</script>
{% endblock scripts %}


{% comment %}
{% block toolbar_right %}
<button class='btn btn-sm btn-success' data-bs-toggle="modal" data-bs-target="#createEntityModal">
  <i class='fas fa-plus'></i>
  {% trans "Create new" %}
</button>
{% endblock %} {% endcomment %}



{% block toolbar_right %}
<a class="btn text-primary content-sidebar-toggle" href="#pageSidebar" data-bs-toggle="offcanvas" role="button" aria-controls="pageSidebar" aria-expanded="true">
  <i class="fas fa-filter"></i>
</a>
{% endblock %}




