{% load menu_tags static %}


<div id='navPanel' class="p-3 bg-white">
  <a href="/" class="d-flex align-items-center pb-3 mb-3 border-bottom">
    <img src="{% static 'collection/images/logo_square.png' %}" alt="" height='45px'>
  </a>
  <ul class="list-unstyled ps-0">
    {% for child in children %}
		<li class="child{% if child.selected %} selected{% endif %}{% if child.ancestor %} ancestor{% endif %}{% if child.sibling %} sibling{% endif %}{% if child.descendant %} descendant{% endif %}">
			<a{% if not child.children %} href="{{ child.attr.redirect_url|default:child.get_absolute_url }}"{% else %} class="collapsed" data-bs-toggle="collapse" data-bs-target="#{{child|slugify}}"{% endif %}>
        <span>{{ child.get_menu_title }}</span>
      </a>
      {% if child.children %}
      <div class="collapse" id="{{child|slugify}}" style="">
        <ul class="list-unstyled">
          {% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
        </ul>
      </div>
			{% endif %}

		</li>
		{% endfor %}
    <li class="border-top my-3"></li>
    {% include 'menu/sidebar_widget.html' %}



  </ul>




</div>
