// a combination of Bootstrap list group and accordion
table {
  // max-width: 100% !important;
  @extend .table;
  @extend .table-striped;
  @extend .table-responsive;
  @extend .table-sm;
  width: 100%;
  margin-bottom: 0;
}


// .auto-table-wrapper {
//   display: flex;
//   flex-grow: 1;
//   max-height: 100%;
//   opacity: 0;
//   &.loaded {
//       opacity: 1;
//   }
// }
#SampleTable {

  .dataTables_wrapper {
    width: 100%;
    height: 100%;
    display: flex !important;
    flex-direction: column;
  }

  .dataTables_scroll {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  // .dataTables_scrollHead {
  //   overflow: initial !important;
  //   cursor: grab;
  // }


  .dataTables_scrollBody {
    flex-grow: 1;
    // max-height: 100% !important;
    // height: 100% !important;
  }

  .dataTables_info {
    background: var(--bs-body-bg);
    @extend .p-1;
    border-top-left-radius: var(--bs-border-radius)!important;
  }

}


.dt-buttons {
  @extend .nav-item;

  button {
    @extend .py-1;
    @extend .nav-pills, .nav-link;
    @extend .rounded;

    &:hover {
      background-color: inherit;
    }
    &:active {
      @extend .bg-secondary-subtle;
    }
  }
}


.dtb {
  &-collection-closeable {
  width: calc(100vw - 2rem) !important;
  margin: 1rem;
  padding: $modal-inner-padding;
  }

  &-popover-close {
    @extend .float-end;
  }
}

// .dtsb {

//   &-logicContainer {
//     @extend .d-flex;
//     @extend .justify-content-between;
//     @extend .align-items-center;
//     @extend .mb-2;
//     @extend .w-100;
//     position: inherit !important;
//   }

//   &-title {
//     @extend .h5;
//     @extend .mb-0;
//   }
//   &-criteria {
//     width: 100%;
//     @extend .btn-group;
//   }

//   &-data {
//     width: 25%;
//   }

//   &-condition {
//     width: 25%;
//   }
//   &-inputCont {
//     flex-grow: 1;
//   }
// }
