div.dataTables {

    &_scroll {
        flex-grow: 1 !important;
        display: flex!important;
        flex-direction: column;
        width: 100%;

        &Head {
            overflow: inherit!important;
        }

        .dataTables_scrollBody {
            border: none!important;
        }

    }

    &_wrapper.dts {

        flex-grow: 1 !important;
        display: flex!important;
        flex-direction: column;
        height: 100%;

        .row.dt-row {
            flex-grow: 1 !important;
            overflow: hidden;
            >div {
                display: flex;
                height: 100%;

            }
        }
    }
}