.htmx-indicator {
    height: 2em;
    transform: translate(-50%, -50%) !important;
    left: 50% !important;
    top: 50% !important;
    position: absolute !important;
    z-index: 1000;
    opacity: 0;
}