.publication.card {

    .icons {
        font-size: 1.2em;
    }

    .badge {
        font-size: 0.8em;
    }

    @include breakpoint('<=sm') {

        .icons {
            font-size: 1.3em;
        }
    }


}