///
/// Editorial by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		@include vendor('appearance', 'none');
		@include vendor('transition', (
			'background-color #{_duration(transition)} ease-in-out',
			'color #{_duration(transition)} ease-in-out'
		));
		// background-color: transparent;
		border-radius: _size(border-radius);
		border: 1px solid _palette(primary);
		color: _palette(primary);
		cursor: pointer;
		display: inline-block;
		font-family: _font(family-heading);
		font-size: 0.8em;
		font-weight: _font(weight-heading);
		height: 3em;
		letter-spacing: _font(kerning-heading);
		line-height: 3em;
		padding: 0 1em;
		text-align: center;
		text-decoration: none;
		// text-transform: uppercase;
		white-space: nowrap;

		&:hover {
			background-color: transparentize(_palette(primary), 0.95);
		}

		&:active {
			background-color: transparentize(_palette(primary), 0.85);
		}

		&.icon {
			&:before {
				margin-right: 0.5em;
			}
		}

		&.fit {
			width: 100%;
		}

		&.small {
			font-size: 0.6em;
		}

		&.large {
			font-size: 1em;
			height: 3.45em;
			line-height: 3.45em;
		}

		&.primary {
			background-color: _palette(primary);
			box-shadow: none;
			color: _palette(bg) !important;
		}

		&.secondary {
			background-color: _palette(secondary);
			color: _palette(fg-bold)!important;
			box-shadow: none;
		}

		&.secondary {
			background-color: _palette(secondary);
			box-shadow: none;
		}

		&.primary, &.secondary {
			&:hover {
				background-color: lighten(_palette(secondary), 3);
			}

			&:active {
				background-color: darken(_palette(secondary), 3);
			}
		}

		&.disabled,
		&:disabled {
			@include vendor('pointer-events', 'none');
			opacity: 0.25;
		}


		&.orcid {
			background-color: _palette(bg);
			color: #a6ce39!important;
			box-shadow: none;
		}

		&.plain {
			background-color: _palette(bg);
			color: _palette(fg-bold)!important;
			box-shadow: none;
		}


	}

	.text-large {
		font-size:large!important;
	}
