
#tableToolBar {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background-color: #f8f9fa;

    .dataTables_info {
        padding: 0;
    }

    :last-child {
        margin-left: auto;
    }
}

div.dataTables {

    &_scroll {
        flex-grow: 1 !important;
        display: flex!important;
        flex-direction: column;
        width: 100%;

        // &Head {
        //     overflow: inherit!important;
        // }

        .dataTables_scrollBody {
            border: none!important;
        }

    }

    &_wrapper {

        flex-grow: 1 !important;
        display: flex!important;
        flex-direction: column;
        height: 100%;
        overflow: hidden;
    }
}