::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	// background-color: #ebebeb;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: _palette(fg-light);

	&:hover {
		background: _palette(fg);
	}
}