{% load i18n menu_tags thumbnail cms_tags geoluminate sekizai_tags static %}
{% spaceless %}
<nav id="mainSidebar" class="offcanvas offcanvas-start small" tabindex="-1">
  <div class="offcanvas-header align-items-start">
    <img src="{% logo %}" alt="" width='100%'>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    {% include 'geoluminate/components/navigation/partials/sidebar_menu.html' %}
  </div>
  <div class='footer'></div>
</nav>
{% endspaceless %}
