{% load i18n authentication %}
<div id="accountPanel" class="tab-pane fade show active" role="tabpanel" aria-labelledby="home-tab">
  <section>
    <h4>{% trans "Email" %}</h4>
    {% include "authentication/email.html" %}
  </section>
  <hr class="major">
  <section>
    <h4>{% trans "ORCID" %}</h4>
    {% include "dashboard/sections/orcid.html" %}
  </section>
  <hr class="major">
  <section>
    <h4>{% trans "Password" %}</h4>
    <p>{% trans "Click below to change your password." %}</p>
    {% auth_link '#changePasswordModal' "Change" 'btn button' %}
  </section>
</div>

{% block modals %}
  {% include "authentication/modals/change_password.html" %}
{% endblock modals %}


