{% load i18n authentication %}
<div id="publicationPanel" class="tab-pane fade show active" role="tabpanel" aria-labelledby="home-tab">
  <div class='d-flex'>
    <h2 class='flex-fill'>{% trans "Publications" %}</h2>
    <h2>
      <a href="{{ modal_id }}" class="{{classes}}" data-bs-target="{{ modal_id }}" data-bs-toggle="modal" data-bs-dismiss="modal">{% trans link_text %}</a>

    <h2>{% auth_link '#createPublicationModal' '' 'fas fa-plus-square text-primary' %}</h2>
      
      {% comment %} <a href="" class='fas fa-plus-square text-primary'></a></h2> {% endcomment %}
  </div>
  <hr class="major mt-1">
  <section>
    {% for publication in user.publications.all %}
      {% include "crossref/publication.html" %}          
    {% endfor %}
  </section>
</div>

{% include "crossref/modals/create_from_doi.html" with form=publication_form %}