{% for section in menu %}
  {% if section.visible %}
    <c-sidebar.section heading="{{ section.label }}">
      {% if section.children %}
        <c-sidebar.menu class="mb-3">
          {% comment %} <div class="list-group list-group-flush mb-3"> {% endcomment %}
          {% for item in section.children %}
            {% if item.visible %}
              {% firstof section.template as template %}
              {% include section.template %}
            {% endif %}
          {% endfor %}
          {% comment %} </div> {% endcomment %}
        </c-sidebar.menu>
      {% endif %}
    </c-sidebar.section>
  {% endif %}
{% endfor %}
{% comment %} <div class="list-group list-group-flush mb-3">
  {% for item in menu %}
    {% if item.visible %}
      {% include item.template %}
      {% include "geoluminate/menus/database/menu.html" %}
    {% endif %}
  {% endfor %}
</div> {% endcomment %}
