.select2 {
    flex-grow: 1;
}

/* make admin forms more like bootstrap */
.flex-container {
    flex-wrap: wrap;
}

.flex-container > label, .flex-container > input, .flex-container > textarea {
    width: 100%;
}

form .aligned p.help, form .aligned div.help, form .aligned ul {
    margin-left: 0;
    padding-left: 0;
}

/* better whitespace around multi-widget input elements (e.g. PartialDate fields) */
.flex-container select:not(:first-of-type) {
    margin-left: .5em; /* Adjust the margin value as needed */
}

/* remove form row border */
.form-row {
    border-bottom: none;
}

.flex-container > div {
    flex-grow: 1;
}