{% load social_share sekizai_tags %}

<li>{% post_to_twitter '' request.path ' ' "icon brands fa-twitter" %}</li>
<li>{% post_to_linkedin request.path "icon brands fa-linkedin" %}</li>
<li>{% post_to_facebook request.path ' ' "icon brands fa-facebook-f" %}</li>
<li>{% post_to_reddit '' request.path ' ' "icon brands fa-reddit-alien" %}</li>
<li>{% send_email 'World Heat Flow Database' 'Take a look at this publication from the World Heat Flow Database Project.' request.path ' ' "icon fas fa-envelope" %}</li>

{% comment %} <li>{% post_to_telegram "Check out this publication from the World Heat Flow Project" request.path " " "fab fa-telegram" %}</li>
  <li>{% post_to_whatsapp request.path " " "fab fa-whatsapp" %}</li> {% endcomment %}
