aside {
  height: 100%;
}

main {
  height: 100%;
  overflow: auto;
}

.page-nav {
  // @extend .container-fluid;
  width: 100%;
  @extend .bg-light-subtle;
  @extend .bg-gradient;
  @extend .small;
  text-transform: capitalize;
}

.page-messages {
  @extend .container;
  position: absolute;
}

.page {
  display: flex;
  flex-grow: 1 !important;
  flex-direction: column;
  overflow: auto;
  // background-color: var(--bs-body-bg);
  // @extend .bg-gradient;

  // >div:first-child {
  //   overflow: auto;
  // }

}

.page-content {
  position: relative;
  scroll-behavior: smooth;
}


// Color mode variables in _root.scss
@include color-mode(dark) {

  img {
    filter: grayscale(50%);
  }
}
