.entry-list {
    >.card {
      &:hover {
        @extend .shadow-sm;
        filter: brightness(0.97);
      }
      .line-clamp {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box !important;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }
  }
}

#gauge-container {
  width: 200px;
  height: 200px;
}
