#main {
	flex-grow: 1 !important;
	flex-shrink: 1 !important;
	flex-basis: auto !important;
	display: flex;
	flex-wrap: nowrap;
	max-height: 100vh;
	overflow-x: auto;
	position: relative;
	
	>.inner {
		@include padding(0, 6em);
		margin: 0 auto;
		// max-width: 110em;
		max-width: 85em;

		>section {
			@include padding(6em, 0);
			border-top: solid 2px _palette(border);

			&:first-of-type {
				border-top: 0 !important;
			}
		}

	}

	@include breakpoint('<=xxl') {
		>.inner {
			@include padding(0, 5em);

			>section {
				@include padding(5em, 0);
			}
		}
	}

	@include breakpoint('<=xl') {
		>.inner {
			@include padding(0, 2em);

			>section {
				@include padding(4em, 0);
			}
		}
	}

	@include breakpoint('<=md') {
		>.inner {
			@include padding(0, 1.5em);

			>section {
				@include padding(3em, 0);
			}

			&.map {
				padding: 0;
			}
		}
	}

	@include breakpoint('<=sm') {
		>.inner {
			@include padding(0, 0.5em);

			>section {
				@include padding(3em, 0);
			}

		}

	}

}

.outer {
	display: flex;
	flex-direction: column;
	}

.fullscreen {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	// -webkit-transition: all 1s ease-out;
	// transition: all 1s ease-out;
}