{% load static sekizai_tags %}

<div class="tab-pane fade show active w-100 content overflow-auto" id="AboutContent" role="tabpanel" aria-labelledby="nav-home-tab">
  <div class='container pt-3'>
    <header class="main">
      <div>
      {% if object.is_verified %}
        <i class='text-success fas fa-check-circle' data-bs-toggle="tooltip" data-bs-placement="bottom" title="Data from this objectlication have been verified as part of the World Heat Flow Database Project!"></i>
      {% else %}
        <i class='text-warning fas fa-exclamation-triangle' data-bs-toggle="tooltip" data-bs-placement="bottom" title="Data from this objectlication are unverified. Use at your own discretion."></i>
      {% endif %}
        <i class='me-auto'>{{object.container_title}}, {{ object.published|date:'Y' }}
          {% if object.issue %}, Iss. {{ object.issue }}{% endif %}
          {% if object.volume %}, vol. {{ object.volume }}{% endif %}
          {% if object.page %}, pp. {{ object.page }}{% endif %}
        </i>
        <h4 class="card-title">{{ object.title }}</h4>
        <h5 class="card-subtitle mb-2 text-muted">
        {% for author in object.author.all %}
        <a href="{{ author.get_absolute_url }}"><span>{{author}}</span></a>{% if not forloop.last %},{% endif %} 
        
        {% endfor %}</h5>
      </div>
    </header>
    
    <div>
      <h5 class='d-inline'>Cited by:</h5> {{object.is_referenced_by_count}}
    </div>
    <div>
      <h5 class='d-inline'>References:</h5> {{object.reference_count}} 
    </div>
  
    {% if object.abstract %}
      <p>{{ object.abstract|safe }}</p>
    {% endif %}
    {% if object.funder %}
    <div>
    <h5>Funded by:</h5>
    <ul>
      {% for funder in object.funder %}
        <li><a href="https://www.doi.org/{{ funder.DOI}}">{{funder.name}}</a></li>
      {% endfor %}
    </ul>
  </div>
    {% endif %}
    {% comment %} {{object.subjects.objects.count}} {% endcomment %}
    {% if object.subject.count %}
      <h5>Subjects:</h5>
      <ul>
        {% for subject in object.subject.all %}
          <li>{{ subject }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if object.keywords %}
      {% for keyword in object.keywords.all %}
        <span class="keyword">{{ keyword }}</span>
      {% endfor %}
    {% endif %}
</div>

</div>