{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'datatables/datatables.min.css' %}"/>

<div class='container table-responsive fill-available overflow-auto'>
  <table class="table table-sm table-striped table-hover w-100">
    <thead class="table-light text-capitalize"></thead>
  </table>
</div>
      
<script src="{% static 'datatables/datatables.min.js' %}"></script>
<script src="{% static 'datatables/remoteTable.js' %}"></script>

<script>
  var table = $('table').RemoteDataTable("{{ remote_url }}")
</script>




