{% load static sekizai_tags %}
<div class="tab-pane show active d-flex flex-grow-1 animate__animated" id="MapContent" role="tabpanel" aria-labelledby="nav-home-tab">
  <div id='map'
      url="{% url "literature-data-list" lit_pk=publication.pk%}"
      data-format='geojson' 
      {% comment %} {% if publication %}
      data-references='{{publication.pk}}'{% endif %}
      {% if site %}
      data-id='{{site.pk}}'{% endif %}  {% endcomment %}
      class="{{css_class}}">
    <div id='shadow'></div>
  </div>
</div>

<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/2.1.0/leaflet.ajax.min.js"></script>  
<script src='https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js'></script>
<script src="https://unpkg.com/esri-leaflet@2.5.0/dist/esri-leaflet.js" integrity="sha512-ucw7Grpc+iEQZa711gcjgMBnmd9qju1CICsRaryvX7HJklK0pGl/prxKvtHwpgm5ZHdvAil7YPxI1oWPOWK3UQ==" crossorigin=""></script>

<script>const CLUSTER = false;</script>
<script src="{% static 'mapping/js/map.js' %}"></script>