{% load i18n geoluminate %}

<div id="{% if preview %}comment-preview{% else %}c{{ comment.id }}{% endif %}"
     class="comment-item{% if comment.user_id and comment.user_id == comment.content_object.author_id %} by-author{% endif %} card my-2 border-0">
  {% if preview %}
    <h3>{% trans "Preview of your comment" %}</h3>
  {% endif %}
  <div class="row mx-0 py-1">
    <div class="col-auto px-0">
      {% avatar comment.user class='shadow rounded-circle' %}
      <div class="text-center">
        <button class="comment-list-toggle mt-1"
                data-bs-toggle="collapse"
                data-bs-target="#comments-list-{{ comment.id }}"
                aria-expanded="true"
                aria-controls="top-level-comment"></button>
      </div>
    </div>
    <div class="col">
      <h6 class="card-title">
        {% block comment_title %}
          {% if comment.url %}<a href="{{ comment.url }}" rel="nofollow">{% endif %}
            {% if comment.name %}
              {{ comment.user. }}
            {% else %}
              {% trans "Anonymous" %}
            {% endif %}
            {% if comment.url %}</a>{% endif %}
          - <span class="comment-date">{{ comment.submit_date }}</span>
          {% if not comment.is_public %}
            <span class="comment-moderated-flag">({% trans "moderated" %})</span>
          {% endif %}
          {% if comment.user_id and comment.user_id == comment.content_object.author_id %}
            <span class="comment-author-flag">[{% trans "author" %}]</span>
          {% endif %}
        {% endblock comment_title %}

      </h6>
      <div class="comment-text">{{ comment.comment|linebreaks }}</div>
      <div class="comment-tools">
        {% if USE_THREADEDCOMMENTS and not preview %}
          <a href="#c{{ comment.id }}"
             data-comment-id="{{ comment.id }}"
             class="comment-reply-link btn btn-sm btn-success text-capitalize">
            {% comment %} {% icon "reply" %} {% endcomment %}
          {% trans "reply" %}</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
