minio/
# **/migrations/*
geoluminate/static/bundles/
# webpack-stats.json
Global/
docs/_build
docs/apidocs


# Temporary and binary files
*~
*.ruff_cache
*.mypy_cache
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
**/__pycache__
.cache/*
.*.swp
*/.ipynb_checkpoints/*
.DS_Store
_test*.py
/node_modules
test.html

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
.vscode
tags

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov
.coverage
.coverage.*
.tox
junit*.xml
coverage.xml
.pytest_cache/

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_rst/*
docs/_build/*
cover/*
MANIFEST

# Per-project virtualenvs
.venv*/
.conda*/
.python-version

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
/static/
/*.sqlite3

*/static/vendor/*

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

dist
geoluminate/static/geoluminate/temp/*
*.ipython
assets/webpack-stats.json
staticfiles/CACHE/css/stylesheet.0c7e1b93de6e.css
staticfiles/CACHE/css/stylesheet.0c7e1b93de6e.css.gz
staticfiles/CACHE/css/stylesheet.0e0f1ff11ed7.css
staticfiles/CACHE/css/stylesheet.0e0f1ff11ed7.css.gz
staticfiles/CACHE/css/stylesheet.45d42dcf4aa0.css
staticfiles/CACHE/css/stylesheet.45d42dcf4aa0.css.gz
staticfiles/CACHE/css/stylesheet.92ebeb430e8a.css
staticfiles/CACHE/css/stylesheet.92ebeb430e8a.css.gz
staticfiles/CACHE/css/stylesheet.b8c95c06aa8f.css
staticfiles/CACHE/css/stylesheet.b8c95c06aa8f.css.gz
staticfiles/CACHE/css/stylesheet.c37e32a646fc.css
staticfiles/CACHE/css/stylesheet.c37e32a646fc.css.gz
staticfiles/CACHE/css/stylesheet.d1548e1dc322.css
staticfiles/CACHE/css/stylesheet.d1548e1dc322.css.gz
staticfiles/CACHE/css/stylesheet.f2805c3261b1.css
staticfiles/CACHE/css/stylesheet.f2805c3261b1.css.gz
staticfiles/CACHE/css/variables.bcc0a380dfbf.css
staticfiles/CACHE/css/variables.bcc0a380dfbf.css.gz
