*.py[cod]
__pycache__
/setup.py
.pytest_cache
.venv

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Pycharm/Intellij
.idea

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build



.env*
dump.json
project.db
media
/static
.vscode
.jsbeautifyrc
node_modules
*.pyc
*.cpython-38.pyc
playground
__pycache__
data
# **/migrations/*
!**/migrations/__init__.py
original_theme_files
locale/*
geoluminate/core/datatables/static