# Temporary and binary files
*~
*.ruff_cache
*.mypy_cache
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
**/__pycache__
.cache/*
.*.swp
*/.ipynb_checkpoints/*
.DS_Store
_test*.py
/node_modules
test.html

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
.vscode
tags

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov
.coverage
.coverage.*
.tox
junit*.xml
coverage.xml
.pytest_cache/

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_rst/*
docs/_build/*
cover/*
MANIFEST

# Per-project virtualenvs
.venv*/
.conda*/
.python-version

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
/static/
/*.sqlite3

*/static/vendor/*

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

dist
geoluminate/static/geoluminate/temp/components/_bibliography.scss
geoluminate/static/geoluminate/temp/components/_checkmark.scss
geoluminate/static/geoluminate/temp/components/_comment.scss
geoluminate/static/geoluminate/temp/components/_datatables.scss
geoluminate/static/geoluminate/temp/components/_dropdown.scss
geoluminate/static/geoluminate/temp/components/_icon.scss
geoluminate/static/geoluminate/temp/components/_icons.scss
geoluminate/static/geoluminate/temp/components/_list.scss
geoluminate/static/geoluminate/temp/components/_map.scss
geoluminate/static/geoluminate/temp/components/_nav.scss
geoluminate/static/geoluminate/temp/components/_pagination.scss
geoluminate/static/geoluminate/temp/components/_publication.scss
geoluminate/static/geoluminate/temp/components/_section.scss
geoluminate/static/geoluminate/temp/components/_table.scss
geoluminate/static/geoluminate/temp/layout/_kepler.scss
geoluminate/static/geoluminate/temp/layout/_publication.scss
geoluminate/static/geoluminate/temp/layout/_sidebar.scss
geoluminate/static/geoluminate/temp/layout/_utils.scss
geoluminate/static/geoluminate/temp/libs/_typography.scss
geoluminate/static/geoluminate/temp/libs/_vars.scss
