[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-cms = "*"
djangocms-frontend = "*"
django-allauth = "*"
django-invitations = "*"
django-fluent-comments = {extras = ["threadedcomments"], version = "*"}
django-grappelli = "*"
django-storages = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
django-filter = "*"
djangorestframework = "*"
drf-spectacular = {extras = ["sidecar"], version = "*"}
drf-access-policy = "*"
drf-orjson-renderer = "*"
shortuuid = "*"
whitenoise = "*"
gunicorn = "*"
redis = "*"
django-solo = "*"
django-social-share = "*"
django-simple-menu = "*"
django-split-settings = "*"
django-lockdown = "*"
django-meta = "*"
django-htmx = "*"
django-sortedm2m = "*"
dj-rest-auth = {extras = ["with_social"], version = "*"}
psycopg2-binary = "*"
djangorestframework-gis = "*"
drf-nested-routers = "*"
django-rosetta = "*"
drf-schema-adapter = "*"
pint = "*"
uncertainties = "*"
django-controlled-vocabulary = "*"
django-model-utils = "*"
django-postgres-metrics = "*"
django-dbbackup = "*"
django-celery-beat = "*"
django-spaghetti-and-meatballs = "*"
django-adminactions = "*"
django-jazzmin = "*"
django-import-export = "*"
django-nested-admin = "*"
django-better-admin-arrayfield = "*"
django = {extras = ["argon2"], version = "*"}
django-tellme = "*"
django-literature = {git = "https://github.com/SSJenny90/django-literature"}
django-laboratory = {git = "https://github.com/SSJenny90/django-laboratory"}
django-ror = {git = "https://github.com/SSJenny90/django-ror"}
django-debug-toolbar-template-profiler = "*"
django-debug-toolbar = "*"
djangorestframework-datatables-editor = "*"
sentry-sdk = {extras = ["django"], version = "*"}
django-environ = "*"
django-compressor = "*"
django-libsass = "*"

[dev-packages]
cookiecutter = "*"
autopep8 = "*"
pycodestyle = "*"
ipython = "*"
sphinx = "*"
coverage = "*"
json-schema = "*"
django-extensions = "*"
tldextract = "*"
tqdm = "*"
djlint = "*"
invoke = "*"
sphinx-copybutton = "*"
sphinxext-opengraph = "*"
sphinx-nested-apidoc = "*"
sphinx-book-theme = "*"
myst-parser = "*"
pip-licenses = "*"

[requires]
python_version = "3.9"
