[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-cms = "*"
djangocms-frontend = "*"
django-allauth = "*"
django-invitations = "*"
django-fluent-comments = {extras = ["threadedcomments"], version = "*"}
django-grappelli = "*"
django-storages = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
django-filter = "*"
djangorestframework = "*"
drf-spectacular = {extras = ["sidecar"], version = "*"}
drf-access-policy = "*"
drf-orjson-renderer = "*"
shortuuid = "*"
whitenoise = "*"
gunicorn = "*"
redis = "*"
django-solo = "*"
django-social-share = "*"
django-simple-menu = "*"
django-split-settings = "*"
django-lockdown = "*"
django-meta = "*"
django-htmx = "*"
django-sortedm2m = "*"
dj-rest-auth = {extras = ["with_social"], version = "*"}
psycopg2-binary = "*"
django-simple-history = "*"
django-super-deduper = "*"
djangorestframework-gis = "*"
django-fake-model = "*"
drf-nested-routers = "*"
django-rosetta = "*"
django = ">3.2"
drf-schema-adapter = "*"

[dev-packages]
autopep8 = "*"
pycodestyle = "*"
ipython = "*"
sphinx = "*"
furo = "*"
django-debug-toolbar-template-profiler = "*"
django-debug-toolbar = "*"
coverage = "*"
djangorestframework-datatables-editor = "*"
django-organizations = "*"
json-schema = "*"
django-extensions = "*"
tldextract = "*"
tqdm = "*"
django-taggit = "*"

[requires]
python_version = "3.9"
