-i https://pypi.org/simple
amqp==5.1.1 ; python_version >= '3.6'
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0 ; python_version >= '3.6'
asgiref==3.6.0 ; python_version >= '3.7'
async-timeout==4.0.2 ; python_version >= '3.6'
attrs==22.2.0 ; python_version >= '3.6'
billiard==3.6.4.0
celery==5.2.7 ; python_version >= '3.7'
certifi==2022.12.7 ; python_version >= '3.6'
cffi==1.15.1
charset-normalizer==3.0.1
click==8.1.3 ; python_version >= '3.7'
click-didyoumean==0.3.0 ; python_full_version >= '3.6.2' and python_full_version < '4.0.0'
click-plugins==1.1.1
click-repl==0.2.0
crispy-bootstrap5==0.7
cryptography==39.0.1
cssselect2==0.7.0 ; python_version >= '3.7'
defusedxml==0.7.1 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
diff-match-patch==20200713 ; python_version >= '2.7'
dj-rest-auth[with_social]==3.0.0
django==4.1.5
django-adminactions==2.0.0
django-allauth==0.52.0
django-appconf==1.0.5 ; python_version >= '3.6'
django-better-admin-arrayfield==1.4.2
django-celery-beat==2.4.0
django-classy-tags==4.0.0 ; python_version >= '3.7'
django-cms==3.11.1
django-contrib-comments==2.2.0
django-controlled-vocabulary==0.3.0
django-crispy-forms==2.0
django-dbbackup==4.0.2
django-entangled==0.5.3
django-filer==2.2.4 ; python_version >= '3.6'
django-filter==22.1
django-fluent-comments[threadedcomments]==3.0
django-formtools==2.4 ; python_version >= '3.6'
django-grappelli==3.0.4
django-htmx==1.14.0
django-import-export==3.1.0
django-invitations==2.0.0
django-jazzmin==2.6.0
django-js-asset==2.0.0 ; python_version >= '3.6'
django-lockdown==4.0.0
django-meta==2.1.0
django-model-utils==4.3.1
django-mptt==0.14.0 ; python_version >= '3.6'
django-nested-admin==4.0.2
django-organizations==2.1.0
django-polymorphic==3.1.0
django-postgres-metrics==0.13.1
django-rich==1.5.0 ; python_version >= '3.7'
django-rosetta==0.9.8
django-sekizai==4.0.0 ; python_version >= '3.8'
django-select2==8.1.0 ; python_version >= '3.8'
django-simple-menu==2.1.0
django-social-share==2.3.0
django-solo==2.0.0
django-sortedm2m==3.1.1
django-spaghetti-and-meatballs==0.4.2
django-split-settings==1.2.0
django-storages==1.13.2
django-tag-parser==3.2
django-taggit==3.1.0 ; python_version >= '3.6'
django-tellme==0.7.3
django-threadedcomments==2.0
django-timezone-field==5.0 ; python_version >= '3.7' and python_version < '4.0'
django-treebeard==4.4 ; python_version >= '3.6'
djangocms-admin-style==3.2.3 ; python_version >= '3.7'
djangocms-attributes-field==2.1.0
djangocms-frontend==1.0.2
djangocms-text-ckeditor==5.1.2 ; python_version >= '3.7'
djangorestframework==3.14.0
djangorestframework-gis==1.0
drf-access-policy==1.3.0
drf-nested-routers==0.93.4
drf-orjson-renderer==1.7.1
drf-schema-adapter==3.0.5
drf-spectacular[sidecar]==0.25.1
drf-spectacular-sidecar==2023.3.1
easy-thumbnails[svg]==2.8.5 ; python_version >= '3.6'
et-xmlfile==1.1.0 ; python_version >= '3.6'
future==0.18.3 ; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
gunicorn==20.1.0
html5lib==1.1 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
idna==3.4 ; python_version >= '3.5'
importlib-metadata==6.0.0 ; python_version >= '3.7'
inflection==0.5.1 ; python_version >= '3.5'
inflector==3.0.1
jsonschema==4.17.3 ; python_version >= '3.7'
kombu==5.2.4 ; python_version >= '3.7'
lxml==4.9.2 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
markdown-it-py==2.2.0 ; python_version >= '3.7'
markuppy==1.14
mdurl==0.1.2 ; python_version >= '3.7'
oauthlib==3.2.2 ; python_version >= '3.6'
odfpy==1.4.1
openpyxl==3.1.1
orjson==3.8.7 ; python_version >= '3.7'
packaging==23.0 ; python_version >= '3.7'
pillow==9.4.0 ; python_version >= '3.7'
pint==0.20.1
polib==1.2.0
prompt-toolkit==3.0.38 ; python_full_version >= '3.7.0'
psycopg2-binary==2.9.5
pycparser==2.21
pygments==2.14.0 ; python_version >= '3.6'
pyjwt[crypto]==2.6.0 ; python_version >= '3.7'
pyparsing==3.0.9 ; python_full_version >= '3.6.8'
pyrsistent==0.19.3 ; python_version >= '3.7'
python-akismet==0.4.3
python-crontab==2.7.1
python-dateutil==2.8.2 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-monkey-business==1.0.0
python3-openid==3.2.0
pytz==2022.7.1
pyyaml==6.0 ; python_version >= '3.6'
redis==4.5.1
reportlab==3.6.12 ; python_version >= '3.7' and python_version < '4'
requests==2.28.2 ; python_version >= '3.7' and python_version < '4'
requests-oauthlib==1.3.1 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
rich==13.3.1 ; python_full_version >= '3.7.0'
setuptools==67.4.0 ; python_version >= '3.7'
shortuuid==1.0.11
six==1.16.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
sqlparse==0.4.3 ; python_version >= '3.5'
svglib==1.5.1 ; python_version >= '3.7'
tablib[html,ods,xls,xlsx,yaml]==3.3.0 ; python_version >= '3.7'
tinycss2==1.2.1 ; python_version >= '3.7'
tzdata==2022.7 ; python_version >= '2'
uncertainties==3.1.7
unidecode==1.1.2
uritemplate==4.1.1 ; python_version >= '3.6'
urllib3==1.26.14 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
vine==5.0.0 ; python_version >= '3.6'
wcwidth==0.2.6
webencodings==0.5.1
whitenoise==6.4.0
xlrd==2.0.1 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
xlwt==1.3.0
zipp==3.15.0 ; python_version >= '3.7'
