alabaster==0.7.12
aldryn-apphooks-config==0.6.0
amqp==5.1.1
appconf==0.1.11
asgiref==3.5.2
astroid==2.12.9
asttokens==2.1.0
async-timeout==4.0.2
attrs==22.1.0
autopep8==2.0.0
Babel==2.11.0
backcall==0.2.0
beautifulsoup4==4.11.1
bibtexparser==1.4.0
billiard==3.6.4.0
boto3==1.24.71
botocore==1.27.71
celery==5.2.7
certifi==2022.6.15.1
cffi==1.15.1
chardet==5.0.0
charset-normalizer==2.1.1
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.5
commonmark==0.9.1
coverage==6.4.4
crispy-bootstrap5==0.6
cssselect==1.1.0
cssselect2==0.7.0
cycler==0.11.0
datacite==1.1.2
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
diff-match-patch==20200713
dj-database-url==1.0.0
Django==3.2.16
django-allauth==0.51.0
django-appconf==1.0.5
django-appdata==0.3.2
django-author==1.2.0
django-background-tasks==1.2.5
django-bootstrap-datepicker-plus==4.0.0
django-captcha==1.0.0
django-celery-beat==2.4.0
django-ckeditor-5==0.1.8
django-classy-tags==3.0.1
django-cleanup==6.0.0
django-cms==3.11.0
django-colorful==1.3
django-compat==1.0.15
django-contrib-comments==2.2.0
django-crispy-forms==1.14.0
django-debug-toolbar==3.6.0
django-debug-toolbar-template-profiler==2.1.0
django-extensions==3.2.1
django-filer==2.2.3
django-filter==22.1
django-fluent-comments==3.0
django-formtools==2.4
django-geojson==3.2.1
django-grappelli==3.0.4
django-gravatar2==1.4.4
django-heroku==0.3.1
django-htmx==1.12.2
django-import-export==2.8.0
django-import-export-celery==1.3
django-invitations==1.9.3
django-js-asset==2.0.0
django-jsonforms==1.1.2
django-lockdown==4.0.0
django-meta==2.1.0
django-mptt==0.14.0
django-newsletter==0.9.1
django-ordered-model==3.6
django-organizations==2.1.0
django-parler==2.3
django-polymorphic==3.1.0
django-recaptcha==3.0.0
django-rosetta==0.9.8
django-sekizai
django-select2==7.11.1
django-simple-history==3.1.1
django-simple-menu==2.0.1
django-smuggler @ git+https://github.com/semente/django-smuggler.git@1143ac6fcb09e29e8019e08677bb92da4dd9d2c0
django-social-share==2.3.0
django-solo==2.0.0
django-sortedm2m==3.1.1
django-split-settings==1.1.0
django-storages==1.13.1
django-super-deduper==0.1.4
django-tag-parser==3.2
django-taggit==3.0.0
django-taggit-autosuggest==0.4.1
django-taggit-templatetags==0.2.5
django-templatetag-sugar==1.0
django-threadedcomments==2.0
django-timezone-field==5.0
django-treebeard==4.4
django-treewidget==0.4.2
django-widget-tweaks==1.4.12
djangocms-admin-style==3.2.0
djangocms-apphook-setup==0.4.1
djangocms-attributes-field==2.1.0
djangocms-blog==1.2.3
djangocms-bootstrap5==0.1.0
djangocms-faq==1.5.1
djangocms-file==3.0.0
djangocms-icon==2.0.0
djangocms-installer==2.0.0
djangocms-link==3.1.0
djangocms-picture==4.0.0
djangocms-style==3.0.0
djangocms-text-ckeditor==5.1.1
djangocms-video==3.0.0
djangorestframework==3.13.1
djangorestframework-csv==2.1.1
djangorestframework-datatables-editor==0.3.3
djangorestframework-gis==1.0
docutils==0.19
drf-access-policy==1.3.0
drf-excel==2.2.0
drf-extensions==0.7.1
drf-nested-routers==0.93.4
drf-orjson-renderer==1.6.0
drf-schema-adapter==3.0.0
drf-spectacular==0.23.1
easy-thumbnails==2.8.3
et-xmlfile==1.1.0
executing==1.2.0
fonttools==4.37.1
fsspec==2022.8.2
furo==2022.9.29
future==0.18.2
gunicorn==20.1.0
habanero==1.2.2
html5lib==1.1
httpie==3.2.1
idna==3.3
IDUtils==1.1.13
imagesize==1.4.1
importlib-metadata==5.0.0
inflection==0.5.1
Inflector==3.0.1
isbnlib==3.10.12
jdcal==1.4.1
jedi==0.18.1
Jinja2==3.1.2
jmespath==1.0.1
jsonschema==4.16.0
kiwisolver==1.4.4
kombu==5.2.4
lazy-object-proxy==1.7.1
ldif3==3.1.1
lxml==4.9.1
MarkupPy==1.14
MarkupSafe==2.1.1
matplotlib==3.5.3
matplotlib-inline==0.1.6
micawber==0.5.4
model-bakery==1.9.0
multidict==6.0.2
numpy==1.23.3
odfpy==1.4.1
openpyxl==3.0.10
orjson==3.8.0
packaging==21.3
pandas==1.4.4
parso==0.8.3
patsy==0.5.3
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
plotly==5.10.0
polib==1.1.1
prompt-toolkit==3.0.31
psycopg2-binary==2.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pycodestyle==2.10.0
pycparser==2.21
pydantic==1.10.2
pydot==1.4.2
Pygments==2.13.0
PyJWT==2.6.0
pyparsing==3.0.9
pyquery==1.4.3
pyrsistent==0.19.2
PySocks==1.7.1
python-akismet==0.4.3
python-card-me==0.9.3
python-crontab==2.6.0
python-dateutil==2.8.2
python3-openid==3.2.0
pytz==2022.6
pytz-deprecation-shim==0.1.0.post0
PyYAML==5.1.2
redis==4.3.5
reportlab==3.6.12
requests==2.28.1
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
rest-pandas==1.1.0
retrying==1.3.3
rich==12.6.0
s3transfer==0.6.0
scipy==1.9.3
setuptools-git==1.2
shortuuid==1.0.11
simplejson==3.18.0
six==1.16.0
snowballstemmer==2.2.0
sorl-thumbnail==12.9.0
soupsieve==2.3.2.post1
Sphinx==5.3.0
sphinx-basic-ng==1.0.0b1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.3
stack-data==0.6.1
statsmodels==0.13.5
surlex==0.2.0
svglib==1.4.1
tablib==3.2.1
tenacity==8.1.0
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
tqdm==4.64.1
traitlets==5.5.0
types-cryptography==3.3.23
typing_extensions==4.4.0
tzdata==2022.6
tzlocal==4.2
unicodecsv==0.14.1
Unidecode==1.1.2
uritemplate==4.1.1
urllib3==1.26.13
vine==5.0.0
wcwidth==0.2.5
webencodings==0.5.1
whitenoise==6.2.0
wrapt==1.14.1
xlrd==2.0.1
xlwt==1.3.0
xmlschema==2.1.1
zipp==3.10.0
