{% load i18n easy_icons %}

<div class="position-relative"
     x-data="{'imageUrl': '{{ current_img_url }}', 'active': false }">
  <div class="dcsic_wrapper"
       data-res-width="{{ widget.res_width }}"
       data-res-height="{{ widget.res_height }}"
       data-res-format="{{ widget.res_format }}"
       data-res-quality="{{ widget.res_quality }}">
    <input type="file"
           x-ref="file_input"
           class="dcsic_file_input d-none"
           name="{{ widget.name }}"
           {% include "django/forms/widgets/attrs.html" %}
           {% if original_uploaded_data %}value="{{ original_uploaded_data }}"{% endif %} />
    <div class="dcsic_choose_img"
         style="aspect-ratio: {{ widget.res_width }} / {{ widget.res_height }}">
      {% if current_img_url %}
        <img :src="imageUrl"
             class="img-fluid"
             x-show="imageUrl"
             x-ref="current_img"
             @change="active = true"
             height="100%"
             width="100%" />
      {% else %}
        <div class="w-100 h-100"
             @click="$refs.file_input.click()">
          <div class="vstack h-100 bg-secondary-subtle align-items-center justify-content-center">
            {% icon "image" style="height: 2em !important;" %}
            <div>{% trans "Choose image" %}</div>
          </div>
        </div>
      {% endif %}
    </div>
    <div class="w-100 h-100 d-none card-img-overlay p-0"
         x-show="active">
      <div class="dcsic_dialog">
        <div class="dcsic_croppie_container"></div>
      </div>
    </div>
  </div>
  <div class="btn-group z-1 position-absolute bottom-0 start-50 translate-middle-x py-2">
    <div class="btn btn-secondary"
         @click="$refs.file_input.value = ''">{% icon "delete" %}</div>
    <div class="btn btn-primary"
         @click="window.dcsic_cropobj.croppie('rotate', -90)">{% icon "rotate" %}</div>
  </div>
</div>
{% comment %} window.dcsic_cropobj.croppie('rotate', -90) {% endcomment %}
