{% load static meta cms_tags menu_tags sekizai_tags authentication thumbnail solo_tags %}
<!doctype html>
<html lang="en">
<head {% meta_namespaces %}>
  {% include 'core/utils/google_analytics.html' %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  {% include 'meta/meta.html' %}
  {% block head %}{% endblock head %}  
  <link rel="icon" href="data:,">
  <link rel="shortcut icon" type="image/png" href="{% static "main/images/favicon.png" %}">
  {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> {% endcomment %}
  {% comment %} <link rel="stylesheet" href="{% static "theme/css/main.min.css" %}"> {% endcomment %}
  {% render_block "css"%}
</head>

<body class="is-preload" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
  {% include 'core/utils/cms_toolbar.html' %}
  <div id="wrapper">
    <div id="main" class='position-relative'>
      {% block main %}
      {% include "core/components/messages.html" %}    
      {% block content %}{% endblock content %}
    </div>
    {% include 'sidebar.html' %}
  </div>
  {% endblock main %}

  {% include "authentication/login_or_register.html" %}
    
  
  {% block modals %}{% endblock modals %}
  {% render_block "modals" %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <script src="https://kit.fontawesome.com/a08181010c.js"></script>
  {% comment %} USE THESE FOR DEVELOPMENT {% endcomment %}
  <script src="{% static "theme/js/browser.min.js" %}"></script>
  <script src="{% static "theme/js/breakpoints.min.js" %}"></script>
  {% comment %} <script src="{% static "theme/js/util.js" %}"></script> {% endcomment %}
  <script src="{% static "theme/js/main.js" %}"></script>
  <script src="{% static "main/js/custom.js" %}"></script>
  {% render_block "js"%}

  {% block scripts %}
  {% endblock scripts %}

</body>

</html>

