{% load menu_tags thumbnail solo_tags %}

<div id="sidebar" class="{{sidebar|default:'active'}}">
  <div class="inner">
    <section id="logo-banner" class='alt py-1'>
      <header>
        <div class='d-flex flex-row align-items-center'>
            {% include 'core/components/logo.html' with size="220x220" %}
        </div>
      </header>
    </section>
    <nav id="menu" class='sidebar-menu'>
      <ul>{% show_menu 0 100 100 100 %}</ul>
    </nav>
    {% include "theme/menu/user_menu.html" %}
  </div>
</div>