{% load menu_tags %}

{% spaceless %}
{% for child in children %}
<li class="nav-item child {% if child.selected %} 
										selected{% endif %}{% if child.ancestor %} 
										ancestor{% endif %}{% if child.sibling %} 
										sibling{% endif %}{% if child.descendant %} 
										descendant{% endif %}{% if child.children %} 
										dropdown{% endif %}">

		<a class="nav-link {% if child.ancestor or child.selected %} 
							active{% endif %}{% if child.children %}
							dropdown-toggle{% endif %}" 
			{% if not child.children %}
				href="{{ child.attr.redirect_url|default:child.get_absolute_url }}"
			{% else %}
				href="#"
				data-bs-toggle="dropdown" 
				data-bs-target="#{{ child.get_menu_title|slugify }}" 
				aria-expanded="false" 
				aria-controls="{{ child.get_menu_title|slugify }}"
			{% endif %}
			>
			{{ child.get_menu_title }}
		</a>

		{% if child.children %}
			<ul id="{{ child.get_menu_title|slugify }}" class='dropdown-menu'>
				{% comment %} <li>
					<a class="dropdown-item {% if child.selected %} 
					active{% endif %}" href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">
						{{ child.get_menu_title }}
					</a>
				</li> {% endcomment %}
				{% show_menu from_level to_level extra_inactive extra_active "menu/nav_dropdown.html" "" "" child %}
			</ul>
		{% endif %}

</li>
{% endfor %}
{% endspaceless %}