{% load i18n geoluminate authentication sekizai_tags %}

<div id="userToolbar" class="offcanvas offcanvas-end" tabindex="-1" aria-labelledby="userToolbarHeader">
  <div id="userToolbarHeader" class="offcanvas-header pb-1">
   <div class='d-flex align-items-center justify-content-center w-100'>
      {% if user.is_authenicated %}
      {% endif %}
      {% avatar user.profile class='rounded-circle shadow' %}
      {% trans "Anonymous User" as anon %}
      <h5 class='offcanvas-title ms-2'>{{ user.profile|default:anon }}</h5>
      <button type="button" class="btn-close ms-auto" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
  </div>
  <div class='d-flex w-100 border-bottom bg-border-subtle'>
    {% for widget in user_sidebar_widgets %}{% include widget %}{% endfor %}
  </div>
  <div class="offcanvas-body">
    {% if user.is_authenticated %}
      <div class='list-group list-group-flush flex-grow-1'>
        {% for item in menus.account_sidebar %}
          {% if not item.url %}
            <h5>{{ item.title }}</h5>
          {% elif item.visible %}
            <a href="{{ item.url }}"
              class="list-group-item list-group-item-action {{ item.extra_classes }}">
              <i class="fas {{ item.icon }} pe-2"></i>
              {{ item.title }}
            </a>
          {% endif %}
        {% endfor %}

      </div>
    {% else %}
    <div class='container'>
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="login-tab" data-bs-toggle="tab" data-bs-target="#login-tab-pane" type="button" role="tab" aria-controls="login-tab-pane" aria-selected="true">{% trans "Login" %}</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="register-tab" data-bs-toggle="tab" data-bs-target="#register-tab-pane" type="button" role="tab" aria-controls="register-tab-pane" aria-selected="false">Register</button>
        </li>
      </ul>
      <div class="tab-content pt-3">
        <div class="tab-pane fade show active" id="login-tab-pane" role="tabpanel" aria-labelledby="login-tab" tabindex="0">
          {% include "user/login.html" %}
        </div>
        <div class="tab-pane fade" id="register-tab-pane" role="tabpanel" aria-labelledby="register-tab" tabindex="0">
          {% include "user/register.html" %}
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  {% if user.is_authenticated %}
    <a href="{% url "account_logout" %}" class="btn rounded-0 bg-secondary-subtle w-100">
      <i class="fas fa-arrow-right-to-bracket pe-2 "></i> 
      {% trans "Logout" %}
    </a>
  {% endif %}

</div>
