{% extends "geoluminate/components/sidebar/card.html" %}
{% load i18n easy_icons %}

{% block title %}
  {% trans "Summary" %}
{% endblock title %}

{% block content %}
  <ul class="list-group list-group-flush">
    {% for item in object.get_summary %}
      <li class="list-group-item d-flex px-0 align-items-center">
        {% icon item.icon class="float-end me-2" %}
        {{ item.label }}:
        <span class="ms-auto badge rounded-pill text-bg-success">{{ item.value }}</span>
      </li>
    {% endfor %}
  </ul>
{% endblock content %}
