<section>
  <form action="">
    {{ wizard.management_form }}

  {% for subform in form %}
    <div class='card mb-2'>
      <div class='card-header d-flex justify-content-between'>
        <div class='form-name'>{{ wizard.steps.current }}</div>
        <button type="button" class="btn-close" aria-label="Close"></button>
      </div>
      {% include "gfz_dataservices/form.html" with helper=form.0.helper %}
    </div>
  {% endfor %}
  <div class='d-flex'>
    {% if wizard.steps.prev %}
      <button type="submit"><i class='fas fa-step-backward'></i> {{ wizard.steps.prev }}</button>
    {% endif %}
    {% if wizard.steps.next %}
      <button class='ms-auto' type="submit">
        {{ wizard.steps.next }} <i class='fas fa-step-forward'></i>
      </button>
    {% endif %}
  </div>
</form>
</section>
      
