{% extends "base.html" %}
{% load i18n crispy_forms_tags static i18n cms_tags %}

{% block head %}
<script src="https://unpkg.com/htmx.org@1.8.0" integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc" crossorigin="anonymous"></script>

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

{{ wizard.form.media }}
{% endblock head %}

{% block content %}
<div class='inner container'>
	<header id="header">
		<div class="logo"><strong>{% trans "Submit Metadata" %}</strong> {% trans "World Heat Flow Project" %}</div>
	</header>
	<section class='d-flex flex-row-reverse '>
		<div class='w-25 ps-3'>
			<ul class='alt nav flex-column' role="tablist">
				{% for form in form_list %}
				<li class="nav-item">
						<a href	hx-post
						hx-target="#form-container" 
						hx-include='#currentForm' 
						hx-vals='{"wizard_goto_step": "{{ form }}"}'>
						<span class='ps-2'>{{ form|capfirst }}</span></a>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class='w-75 pe-3 tab-content'>
			<div id='form-container'>
				{% include 'submit/general.html' %}
			</div>
		</div>
	</section>
</div>
{% endblock %}


