{% for item in menus.review_app_menu %}{% if item.visible %}
 
<div class="btn-group flex-wrap" role="tablist">
 <button id="dataset-tab" class="nav-link btn btn-primary">
   <span>{% trans "Dataset" %}</span>
   <i class='fa fa-check-circle text-success'></i>
 </button> 
</div>


<div class="menu-item">   
  {% if item.children %}
  <button class="menu-item-accordion collapsed {% is_active item.url %}" type="button" data-bs-toggle="collapse" data-bs-target="#{{ item.title|slugify }}" aria-expanded="false" aria-controls="collapseOne">
    <i class="fas {{ item.icon }} pe-2"></i>
    <span class='menu-item-title'>{{ item.title }}</span>
  </button>
  <button id="dataset-tab" class="nav-link btn btn-primary">
   <span>{% trans "Dataset" %}</span>
   <i class='fa fa-check-circle text-success'></i>
 </button>
  <div id="{{ item.title|slugify }}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionFlushExample">
      <div class="menu-group">
        <div class="menu-item">
          {% for link in item.children %}
          <a href="{{ link.url }}" 
              class="menu-item-action ps-4 bg-light {% is_active item.url %}">
              <i class="fas {{ link.icon }} pe-2"></i>
              {{ link.title }}
          </a>
          {% endfor %}
        </div>
      </div>
  </div>
  {% else %}
  <a href="{{ item.url }}" class="menu-item-action btn btn-primary {% is_active item.url %}">
    <i class="fas {{ item.icon }} pe-2"></i>
    <span class='menu-item-title'>{{ item.title }}</span>
  </a>
</div>

{% endif %}

{% endif %}
{% endfor %}