{% extends "geoluminate/base/base_list.html" %}
{% load i18n %}

{% block heading %}{% trans "Literature Review" %}{% endblock %}

{% block description %}
The following literature items may contain data that are relevant to the {{ geoluminate.database.name}} but have not yet been added. You can contribute to our community by selecting an item to review, assessing any relevant data, then submitting a request to add the data to the portal. All contributions will be appropriately acknowledged in the next major database release. Find out more about the release cycle of the {{ geoluminate.database.name }} and how your contributions make a difference. 
{% endblock %}
