{% extends "geoluminate/base/list_view.html" %}
{% load i18n geoluminate formsetify %}
{% block toolbar %}

{% comment %} <django-formset endpoint="{{ request.path }}" csrf-token="{{ csrf_token }}"> {% endcomment %}

{% with filter.form as form %}

<form class="w-100 small" aria-label="Reviews" role="search" method="get">
  <div class="d-flex flex-column flex-lg-row w-100">
    <input type="search" class="form-control form-control-sm w-100" id="{{ form.title.id }}" placeholder="Find a review..." autocomplete="off" value=""> 
  </div>
</form>

{% endwith %}



<a type="button" class="ms-auto btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <i class='fa-solid fa-filter'></i>
</a>
{% if has_edit_permission %}
  <a href="{% url 'reviews:add' %}" class='ms-1 btn btn-sm btn-success text-nowrap'>
    <i class='fa-solid fa-plus' title="{% trans "Create a new dataset" %}"></i>
    {% trans "New " %}
  </a>
{% endif %}
{% endblock %}