{% load activity_tags %}

{% if user.is_authenticated %}
  {% with user|is_following:object as following %}
    <c-bs5.button href="{% follow_all_url object %}"
                  hx-get="{% follow_all_url object %}"
                  hx-target="this"
                  hx-swap="outerHTML"
                  icon="star-{% if following %}solid{% else %}outline{% endif %}"
                  title="{% trans "Following" %}"
                  size="sm">
      {% trans "Following" %}
    </c-bs5.button>
  {% endwith %}
{% endif %}
