{% load static sekizai_tags widget_tweaks crispy_forms_tags %}
<div id="verifyModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="downloadModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered bg-transparent" role="document">
    <div class="modal-content">
      <section class='banner d-flex'>
          <div class="content p-5">
            <header class="major"><h2 class='mb-4'>Verify</h2></header>
            <p>Verifying sites and publications on ThermoGlobe lets other users have confidence that the data they are accessing is true to the source. Before you proceed, please make sure that you double-check the data on this page against the original reference.</p>
            <p>Before you proceed with verification, please note that your username will be associated with this site or publication.</p>
            <p>If you make a mistake you can unverify by following the same procedure.</p>
            <ul class='actions'>
              <li>
              <a class='button primary' href="{% url 'publications:verify' pk=publication.id %}"> 
              {% if user in publication.verified_by.all %}Unverify {% else %}Verify{% endif %}
              </a>
              </li>
            </ul>
          </div>
      </section>
    </div>
  </div>
</div>



