{% extends "base.html" %}
{% load i18n crispy_forms_tags static i18n cms_tags sekizai_tags %}

{% block content %}
<div class='inner container'>
	<header id="header">
		<div class="logo"><strong>{% trans "Publications" %}</strong> {% trans "World Heat Flow Project" %}</div>
		<ul class="icons">
			{% include "/components/socials.html" %}
		</ul>
	</header>

	<section class='d-flex flex-row-reverse '>
		<div class='w-100'>
			<section id='publication-list' class='main'>
					{% include "crossref/partials/publication_list.html" %}
			</section>
		</div>
	</section>
</div>

{% addtoblock "js" %}<script src="{% static "core/js/shave.min.js" %}"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script>shave('.abstract', 150)</script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>{% endaddtoblock %}
{% endblock %}

{% block modals %}
	{% include 'core/modals/form.html' with modal_id="filterPublicationsModal" form=filter.form helper=filter.helper %}
{% endblock modals %}




{% block head %}
<script src="https://unpkg.com/htmx.org@1.8.0" integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc" crossorigin="anonymous"></script>
{% endblock head %}