{% extends 'application.html' %}
{% load static sekizai_tags i18n autotables geoluminate %}

{% block wrapper_class %}application{% endblock %}

{% block title %}{{ geoluminate.database.acronym }} {{ table.model|verbose_name_plural|title }}{% endblock %}


{% block toolbar_right %}
{% if table.row_template %}
<a class="btn text-primary" href="#" role="button" onclick="$('#filterContainer').toggleClass('show')" aria-expanded="true">
  <i class="fas fa-filter"></i>
</a>
{% else %}
<a class="btn text-primary" href="#" role="button" data-bs-toggle="offcanvas" data-bs-target="#filterContainer" aria-controls="filterContainer" aria-expanded="false">
  <i class="fas fa-filter"></i>
</a>
{% endif %}

<div id="searchButton"></div>
{% endblock %}

{% block page_header_css %}{% if not table.row_template %}app-layout{% else %}page-layout{% endif %}{% endblock %}

{% block content %}
{% if table.row_template %}
<div id="filterContainer" class="sidebar sidebar-start show" tabindex="-1" aria-labelledby="filterContainerLabel">
{% else %}
<div id="filterContainer" class="offcanvas offcanvas-end" tabindex="-1" aria-labelledby="filterContainerLabel">
{% endif %}
  <div class="sidebar-body"></div>
</div>


<div class="auto-table-wrapper {% if table.row_template %}templated{% endif %}">
  {% render_table_for_url table True %}
  <div class='container mt-3'>
    <div id="template-container"></div>
  </div>
</div>

{% if template %}
<script id='template-card'>
  {% include template %}
</script>
{% endif %}
{% endblock content %}
