{% load static sekizai_tags %}

{% spaceless %}
<div id="{{ table.get_id }}" class="h-100 {% if table.row_template %}templated{% endif %}">
<table class="datatable w-100 {{ table_css_class }}" test="{{table.url}}">
    <thead>
      <tr>
        {% for f in table.build_columns %}
          <th {% for k, v in f.items %}{% if k != "title" %}
            data-{{ k }}= "{{ v }}"
            {% endif %}{% endfor %}
            class='{{ f.class }} {{f.name}}'
            >{{ f.title|safe|capfirst }}</th>
        {% endfor %}
      </tr>
    </thead>
  </table>
</div>

{% endspaceless %}



{% addtoblock "styles" %}<link href="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-1.13.8/af-2.6.0/b-2.4.2/b-colvis-2.4.2/b-html5-2.4.2/b-print-2.4.2/cr-1.7.0/date-1.5.1/fc-4.3.0/fh-3.4.0/kt-2.11.0/r-2.5.0/rg-1.4.1/rr-1.4.1/sc-2.3.0/sb-1.6.0/sp-2.2.0/sl-1.7.0/sr-1.3.0/datatables.min.css" rel="stylesheet">{% endaddtoblock %}
 
{% addtoblock "js" %}<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-1.13.8/af-2.6.0/b-2.4.2/b-colvis-2.4.2/b-html5-2.4.2/b-print-2.4.2/cr-1.7.0/date-1.5.1/fc-4.3.0/fh-3.4.0/kt-2.11.0/r-2.5.0/rg-1.4.1/rr-1.4.1/sc-2.3.0/sb-1.6.0/sp-2.2.0/sl-1.7.0/sr-1.3.0/datatables.min.js"></script>{% endaddtoblock %}


{% addtoblock "styles" %}<link rel="stylesheet" href="{% static "auto_datatables/css/auto-datatable.css" %}">{% endaddtoblock %}



{% addtoblock "js" %}<script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/2.3.1/luxon.min.js" crossorigin="anonymous"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{% static "auto_datatables/js/auto-datatables.js" %}"></script>{% endaddtoblock %}


{% addtoblock "js" %}
<script>
  $('#mainIndicator').toggle()
  DataTable.Buttons.defaults.dom.button.className = 'nav-link m-1';
  $(document).ready(function() {
    var $table = $('#{{ table.get_id }}').AutoTable("{{table.url}}", {{ table.get_js_config }});
     $table.on( 'init.dt', function () {
      $('#mainIndicator').toggle()
    } )
  })
</script>
{% endaddtoblock %}
