{% load static sekizai_tags %}

{% comment %} {% addtoblock "css" %}<link href="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-1.13.8/af-2.6.0/b-2.4.2/b-colvis-2.4.2/b-html5-2.4.2/b-print-2.4.2/cr-1.7.0/date-1.5.1/fc-4.3.0/fh-3.4.0/kt-2.11.0/r-2.5.0/rg-1.4.1/rr-1.4.1/sc-2.3.0/sb-1.6.0/sp-2.2.0/sl-1.7.0/sr-1.3.0/datatables.min.css" rel="stylesheet" />{% endaddtoblock %} {% endcomment %}
{% spaceless %}
  <div id="{{ table.get_id }}" class="table-wrapper h-100 {% if table.row_template %}templated{% endif %}">
    <table class="datatable w-100 {{ table_css_class }}" test="{{ table.url }}">
      <thead>
        <tr>
          {% for f in table.build_columns %}
            <th {% for k, v in f.items %}{% if k != "title" %} data-{{ k }}= "{{ v }}" {% endif %}{% endfor %} class='{{ f.class }} {{ f.name }}'>{{ f.title|safe|capfirst }}
            </th>
          {% endfor %}
        </tr>
      </thead>
    </table>
  </div>
{% endspaceless %}
{% addtoblock "body_end" %}
<script></script>
{% endaddtoblock %}
