{% load i18n sekizai_tags %}

{% if not comment.is_removed %}
<li>
  {% if perms.comments.can_moderate %}
    {% if item.flagged_count %}
      <span class="badge badge-danger" title="{% blocktrans count counter=item.flagged_count %}A user has flagged this comment as inappropriate.{% plural %}{{ counter }} users have flagged this comment as inappropriate.{% endblocktrans %}">{{ item.flagged_count }}</span>
    {% endif %}
  {% endif %}
  {% if allow_flagging and request.user in item.flagged %}
    <i class="fas fa-flag text-danger" title="{% trans 'comment flagged' %}"></i>
  {% elif allow_flagging %}
  <a href="#flagCommentModal" class='comment-flag' data-bs-target="#flagCommentModal" data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-next="{{ comment.get_absolute_url }}" data-bs-action="{% url 'comments-flag' comment.pk %}"><i class="fas fa-flag" title="{% trans 'flag comment' %}"></i></a>
  {% endif %}
</li>
{% endif %}