{% load i18n geoluminate sekizai_tags cache %}

<div class="bd-navbar-toggle me-2">
  <button class="navbar-toggler d-block"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#mainSidebar"
          aria-controls="mainSidebar"
          aria-expanded="false"
          aria-label="{% trans "Toggle database navigation" %}">
    <span class="navbar-toggler-icon"></span>
    <span class="d-none fs-6 pe-1">{% trans "Database Menu" %}</span>
  </button>
</div>
{% addtoblock "body_end" %}
{% cache 500 sidebar %}
{% spaceless %}
  <nav id="mainSidebar" class="offcanvas offcanvas-start" tabindex="-1">
    <div class="offcanvas-header align-items-start">
      <img src="{% brand "logo" %}" alt="" width='100%' />
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">{% include 'geoluminate/components/navigation/partials/sidebar_menu.html' %}</div>
    <div class='footer'></div>
  </nav>
{% endspaceless %}
{% endcache %}
{% endaddtoblock %}
