{% load i18n cms_tags menu_tags static authentication %}

{% if request.user|has_group:"CMS" or request.user.is_superuser and current_page %}
  <li class="nav-item col-6 col-lg-auto">
    <a class="nav-link px-0 px-lg-2"
       data-bs-toggle="collapse"
       href="#cmsToolbarWrapper"
       role="button"
       aria-expanded="false"
       aria-controls="cmsToolbarWrapper">
      <i class="fa-solid fa-pencil" title={% trans "Edit page" %}></i>
      <small class="d-lg-none ms-2">{% trans "Edit page" %}</small>
    </a>
  </li>
{% endif %}
