{% extends "geoluminate/object_detail.html" %}
{% load partials %}

{% comment %} {% block sidebar_cards %}
  {% for heading, config in sidebar_fields %}
    <c-sidebar-fieldset :heading="heading" :fields="config.fields" />
  {% endfor %}
{% endblock sidebar_cards %} {% endcomment %}

{% block plugin %}
  {% partialdef plugin inline=True %}
  <div class="col position-relative">
    <div class="container py-3 d-flex gap-2">
      <c-bs5.card class="w-50" title="Graph 1">
        Placeholder content
      </c-bs5.card>
      <c-bs5.card title="Graph 2">
        Placeholder content
      </c-bs5.card>
    </div>
    <div id="mainIndicator"
         class="dataTables_processing htmx-indicator endless_loading fs-1"
         style="width: 3rem;
                height: 3rem"
         role="status">
      {% icon "spinner" %}
      <span class="visually-hidden">{% trans "Loading..." %}</span>
    </div>
  </div>
  <c-modals.social :object="object" />
{% endpartialdef plugin %}

{% endblock plugin %}
