{% load static %}
<div class='container'>
  <header class="page-header {% block page_header_css %}page-layout{% endblock %}">
    {% block title %}{{title}}{% endblock %}
    <div class='toolbar'>
      <div class="toolbar-left">{% block toolbar_left %}{% endblock %}</div>
      <div class="toolbar-right">{% block toolbar_right %}{% endblock %}</div>
    </div>
  </header>
  <div class='page-content d-block'>
    {% block content %}{% endblock %}
    <img id='mainIndicator' class="htmx-indicator" src="{% static "geoluminate/img/spinners/spinning-circles.svg" %}"/>
  </div>
</div>
