<c-bs5.card class="shadow align-items-center text-center {{ contributor.type }}"
            body_class="px-1 py-3 vstack align-items-center">
  {% comment %} <span class="position-absolute top-0 end-0 me-2 mt-1">{% icon "gear" %}</span> {% endcomment %}
  <span class="text-secondary position-absolute top-0 end-0 me-2 mt-1"
        data-bs-toggle="tooltip"
        data-bs-html="true"
        data-bs-placement="bottom"
        data-bs-custom-class="text-start"
        data-bs-title="<strong>Roles:</strong><br><ul><li>{{ contribution.verbose_roles|join:'</li><li>' }}</li></ul>">{% icon "info" %}</span>
  {% if contributor.get_default_identifier %}
    <span class="position-absolute top-0 start-0 ms-2 mt-1 z-1">
      <c-contributor.icon :contributor="contributor" />
    </span>
  {% endif %}
  <c-avatar :contributor="contributor" class="w-75" only />
  <h5 class="card-title fs-6 mt-1 mb-3">{{ contributor }}</h5>
  <c-bs5.button class="btn btn-primary"
                href="{{ contributor.get_absolute_url }}">
    {% trans "View profile" %}
  </c-bs5.button>
</c-bs5.card>
