{% extends "geoluminate/base/list_view.html" %}
{% block description %}
  The following literature are directly associated with datasets included in the {{ geoluminate.database.name }}. Works listed here are assured to contain data that adhere to the metadata and quality standards set forth by the community. If you would like to see your own publications listed here, be sure to create an  with us, upload your datasets, link any relevant literature to them and pass them through our internal review process.
{% endblock description %}
