{% load static %}
<section class='plot-banner' data-appear-top-offset="{{plot.offset|default:300}}">
<div class='d-flex flex-column{% if plot.reverse %}-reverse{% endif %}'>
  {% if content %}<div class='container'>{{content|safe}}</div>{% endif %}
  <div class='container{% if plot.wide %}-fluid{% endif %} d-flex justify-content-around'>
  <div class='container d-flex justify-content-around'>
    {% if plot.fields %}
        {% for p in plot.fields %}
        <div class='plot d-flex justify-content-center align-items-center' field="{{p}}" type="{{plot.type}}">
          {% include "sections/placeholder.html" %}
        </div> 
      {% endfor %}
    {% else %}
      <div class='plot d-flex justify-content-center align-items-center' type="{{plot.type}}">
        {% include "sections/placeholder.html" %}
      </div> 
    {% endif %} 
  </div>
</div>
</section>