{% for item in menus.toolbar %}{% if item.visible %}

<li class="child {% if item.selected %}active{% endif %}{% if item.children %} dropend{% endif %}">
  <a role="button" href='{{ item.url }}'
  {% if item.children %} 
      class='dropdown-toggle'
      data-hover="dropdown" 
      data-bs-toggle="dropdown" 
      aria-expanded="false"
    {% endif %} 
    >
    <div class='d-flex align-items-center'>
      <i class="fas {{ item.icon }}"></i> 
      <span>{{ item.title }}</span>
    </div>
  </a>
  {% if item.children %}{% with item.children as items %}
  <ul class="dropdown-menu">
    {% for item in items %}
        {% if item.visible %}
            <li class="{% if item.selected %} active{% endif %}{% if item.children %} dropdown-submenu{% endif %}">
                <a href="{{ item.url }}">{{ item.title }}</a>
                {% if item.children %}
                  {% with items=item.children template_name='bootstrap-navbar-submenu.html' %}
                    {% include template_name %}
                  {% endwith %}
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
  </ul>
  {% endwith %}{% endif %}

</li>
{% endif %}{% endfor %}