{% load static geoluminate easy_icons %}

<header class="navbar navbar-expand-lg navbar-dark bg-primary bg-gradient mb-0">
  <nav class="container-fluid bd-gutter flex-wrap flex-lg-nowrap"
       aria-label="Main navigation">
    {% include "geoluminate/menus/main/widgets/database_navigation.html" %}
    <a class="navbar-brand" href="{% url "home" %}" title={{ site_config.database.name }}>
      <span class="d-md-none">{{ identity.database.short_name|default:"Geoluminate" }}</span>
      <span class="d-none d-md-block ">{{ identity.database.name|default:"Geoluminate" }}</span>
    </a>
    {% comment %} <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav">
      {% block navbar_menu %}
        {% for item in breadcrumbs %}
          <li class="navbar-brand navbar-text text-white ">{% icon "angle-right" %}</li>
          <li class="navbar-text text-white ">
            <a class="navbar-brand " href="{{ item.url }}">{{ item.title|title }}</a>
          </li>
        {% endfor %}
      {% endblock navbar_menu %}

    </ul> {% endcomment %}
    {% comment %} <button class="btn btn-outline-light d-flex justify-content-between align-items-center" style="width:280px">
      <span>{% icon "search" %} {% trans "Search" %}</span>
      <span>
        <kbd>CTRL</kbd>+<kbd>K</kbd>
      </span>
    </button> {% endcomment %}
    {% comment %} <a class="navbar-brand" href="#">Global Heat Flow Database</a> {% endcomment %}
    <div class="hstack gap-2 ms-md-auto">
      <div class="dropdown">
        <c-bs5.button class="btn btn-sm btn-outline-light bg-gradient-none dropdown-toggle shadow-none"
                      type="button"
                      icon="plus"
                      aria-expanded="false"
                      data-bs-toggle="dropdown" />
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <a class="dropdown-item"
               href="{% url "project-create" %}">
              {% icon "project" %}
            {% trans "New project" %}</a>
          </li>
          <li>
            <a class="dropdown-item"
               href="{% url "dataset-create" %}">
              {% icon "dataset" %}
            {% trans "New dataset" %}</a>
          </li>
        </ul>
      </div>
      <button @click="cycleTheme"
              :class="theme"
              class="theme-toggle btn btn-sm btn-outline-light bg-gradient-none shadow-none">
        <span x-show="theme == 'light'"
              x-cloak
              title="{% trans "Toggle theme" %}">{% icon "sun" %}</span>
        <span x-show="theme == 'dark'"
              x-cloak
              title="{% trans "Toggle theme" %}">{% icon "moon" %}</span>
        <span x-show="theme == 'auto'"
              x-cloak
              title="{% trans "Toggle theme" %}">{% icon "circle-half" %}</span>
      </button>
      {% include "account_management/sidebar_toggle.html" %}
    </div>
  </nav>
</header>
