{% extends "base.html" %}
{% load static sekizai_tags i18n %}
{% block head_title %}{% trans "Database" %}{% endblock head_title %}
{% block content %}
{% include 'datatables/includes/table.html' %}

{% addtoblock "js" %}
<script>


  $('table').on('click', "a .fa-binoculars", function ( e ) {
    $('#offcanvasRightIndicator').css('opacity', '1')
    var el_id = $(this).closest( "tr" ).attr('id');
    $('.offcanvas-title').html(el_id)
    fetch(this.dataset.url)
    .then((response) => response.text())
    .then((html) => {
      $('.offcanvas-body').html(html)
      $('#offcanvasRightIndicator').css('opacity', '0')
    })
  })
</script>{% endaddtoblock %}


{% endblock content %}


{% block modals %}
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasright" aria-labelledby="offcanvasLabel">
  <img src="https://via.placeholder.com/400x200?text=This+is+a+placeholder!" class="card-img-top">
  <div class='position-absolute w-100'>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasLabel">Offcanvas</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
</div>
  <div class="offcanvas-body"></div>
  <img id='offcanvasRightIndicator' class="htmx-indicator" src="{% static "geoluminate/spinners/spinning-circles.svg" %}"/>
</div>
{% endblock modals %}