{% extends "base.html" %}
{% load static partials crispy_forms_tags %}

{% block css %}
  {{ form.media.css }}
{% endblock css %}

{% partialdef form inline=True %}
{{ form.media.css }}
<form method="post"
      {% comment %}
      hx-post="{{ request.get_full_path }}"
      {% endcomment %}
      {% if request.htmx.target %}hx-target="#{{ request.htmx.target }}"{% endif %}>
  {% csrf_token %}
  {{ form|crispy }}
  <button type="submit" class="btn btn-primary">{% trans "Save & Continue" %}</button>
</form>
{% endpartialdef %}

{% block content %}
  <div class="h-100 overflow-auto">
    <div class="container col-12 col-md-9 col-lg-7">
      {% partialdef plugin inline=True %}
      <div class="container px-md-5">
        {% if title %}<c-text.title title="{{ title }}" hr />{% endif %}
        <div class="page-content">
          {% if view.help_text %}{{ view.help_text }}{% endif %}
          <div class="my-3">
            {% block form %}
              {% partial form %}
            {% endblock form %}

          </div>
        </div>
      </div>
      {{ form.media.js }}
    {% endpartialdef %}

  </div>
</div>
{% endblock content %}

{% block js %}
  {{ form.media.js }}
{% endblock js %}
