{% extends "base.html" %}
{% load crispy_forms_tags widget_tweaks static partials %}
{% load render_table from django_tables2 %}
{% load export_url from django_tables2 %}

{% block body_class %}
  vstack vh-100
{% endblock body_class %}

{% block content %}
  {% partialdef plugin inline=True %}
  <div class="overflow-hidden vstack h-100"
       hx-target="this"
       hx-swap="outerHTML"
       :hx-vals="JSON.stringify({'type': sampleType, 'dataset': '{{ dataset.pk }}'})"
       :class="{'position-fixed vh-100 top-0 start-0 w-100': isFullscreen}"
       x-data="{'isFullscreen': false, submit() { htmx.trigger(this.$refs.filter, 'submit'); }, 'num_pages': {{ table.paginator.num_pages }}, 'page': {{ table.page.number }}, 'page_size': {{ table.paginator.per_page }}, 'total_objects': {{ total_object_count }}, 'sampleType': '{{ current_type }}' }">
    <c-page-nav>
      {% block toolbar_start %}
        {% if type_choices %}
          <div class="dropdown"
               x-data="{ selected: '{{ current_label }}', typeChoices: {{ type_choices_dict | safe }} }">
            <button id="typeDropdownButton"
                    class="btn btn-primary dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    x-text="selected"></button>
            <div class="dropdown-menu"
                 aria-labelledby="typeDropdownButton">
              <template x-for="(label, index) in typeChoices"
                        :key="index">
                <a class="dropdown-item"
                   href="#"
                   :hx-get="'{{ request.path }}' + '?type=' + index"
                   @click="selected = label; sampleType = index;"
                   x-text="label"></a>
              </template>
            </div>
          </div>
        {% endif %}
      {% endblock toolbar_start %}

      {% trans "Search by name" as placeholder %}
      <div>
        {% render_field filter.form.name form="filterForm" type="search" class="form-control" placeholder=placeholder  @input.debounce="submit" %}
      </div>
      <c-menu.widgets class="ms-auto">
        {% if can_add %}
          <a class="btn btn-sm btn-outline-primary"
             href="{{ create_view_url }}"
             hx-get="{{ create_view_url }}"
             type="button">{% icon "plus" %}</a>
          <button class="btn btn-sm btn-outline-primary"
                  type="button">{% icon "upload" %}</button>
        {% endif %}
        <c-bs5.dropdown button_class="btn-sm btn-outline-primary"
                        button_text="{% icon 'download' %}">
          {% for format in view.export_formats %}
            <a class="dropdown-item"
               href="{{ request.path }}{% export_url format %}">
              <code>.{{ format }}</code>
            </a>
          {% endfor %}
        </c-bs5.dropdown>
        <button class="btn btn-sm btn-outline-primary"
                data-bs-toggle="modal"
                data-bs-target="#filterModal"
                type="button">{% icon "filter" %}</button>
        <button class="btn btn-sm btn-outline-primary"
                @click="isFullscreen = !isFullscreen"
                :class="{'btn-outline-primary': !isFullscreen, 'btn-outline-secondary': isFullscreen}"
                type="button">{% icon "expand" %}</button>
      </c-menu.widgets>
    </c-page-nav>
    {% render_table table %}
    <div id="tableIndicator"
         class="htmx-indicator position-absolute top-50 start-50 translate-middle">{% icon "spinner" %}</div>
    <c-bs5.modal id="filterModal"
                 dialog_class="modal-xl"
                 title="{% trans "Sample filter" %}">
      {{ filter.form.media.css }}
      <form id="filterForm"
            method="get"
            x-ref="filter"
            hx-get="{{ request.path }}"
            hx-indicator="#tableIndicator">
        {% for field in filter.form %}
          {% if field.name != "name" and field.name != "type" and field.name != "o" %}{{ field|as_crispy_field }}{% endif %}
        {% endfor %}
        <button type="submit" data-bs-dismiss="modal">{% trans "Apply filters" %}</button>
      </form>
      {{ filter.form.media.js }}
    </c-bs5.modal>
  </div>
{% endpartialdef plugin %}

{% endblock content %}
