{% extends "geoluminate/layout/application.html" %}
{% comment %} {% extends "base.html" %} {% endcomment %}
{% load geoluminate partials %}

{% block page_left %}
  {% partialdef sidebar inline=True %}
  <aside id="pageSidebar" class="sidebar px-0 modal" data-bs-toggle="collapse" data-bs-backdrop="false">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            {% block sidebar_title %}
            {% endblock sidebar_title %}

          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {% block sidebar %}
          {% endblock sidebar %}

        </div>
        <div class="modal-footer">
          {% block sidebar_footer %}
          {% endblock sidebar_footer %}

        </div>
      </div>
    </div>
  </aside>
{% endpartialdef %}

{% endblock page_left %}
