{% extends 'base.html' %}
{% load sekizai_tags i18n %}


{% block head_title %}API{% endblock head_title %}
{% block nav_title_bold %}API{% endblock %}
{% comment %} {% block nav_title %}{% endblock nav_title %} {% endcomment %}


{% block content %}
<div class='content overflow-auto'>
  <div id="swagger-ui"></div>
</div>

{% addtoblock "css"%}<link rel="stylesheet" href="{{ dist }}/swagger-ui.css">{% endaddtoblock %}
{% addtoblock "js"%}<script src="{{ dist }}/swagger-ui-bundle.js"></script>{% endaddtoblock %}
{% addtoblock "js"%}<script src="{{ dist }}/swagger-ui-standalone-preset.js"></script>{% endaddtoblock %}

{% if script_url %}
  {% addtoblock "js"%}<script src="{{ script_url }}"></script>{% endaddtoblock %}
{% else %}
  {% addtoblock "js"%}<script>{% include template_name_js %}</script>{% endaddtoblock %}
{% endif %}


{% endblock content %}