{% extends 'base.html' %}
{% load sekizai_tags i18n static compress %}
{% block head_title %}
  API
{% endblock head_title %}
{% block nav_title_bold %}API{% endblock %}
{% block content %}
  <div class='container'>
    <div id="swagger-ui"></div>
  </div>
  {% comment %} {% addtoblock "css" %}
    <link rel="stylesheet" 
          href="{% static "drf_spectacular_sidecar/swagger-ui-dist/swagger-ui.css" %}"/>
  {% endaddtoblock %} {% endcomment %}

  {% block style %}
  {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static "vendor/swagger/main.scss" %}"/>
  {% endcompress %}
  {% endblock style %}




  {% addtoblock "js" %}
    <script src="{% static "drf_spectacular_sidecar/swagger-ui-dist/swagger-ui-bundle.js" %}"></script>{% endaddtoblock %}
    {% addtoblock "js" %}
      <script src="{% static "drf_spectacular_sidecar/swagger-ui-dist/swagger-ui-standalone-preset.js" %}"></script>{% endaddtoblock %}
      {% if script_url %}
        {% addtoblock "js" %}
          <script src="{{ script_url }}"></script>{% endaddtoblock %}
        {% else %}
          {% addtoblock "js" %}
            <script>{% include template_name_js %}</script>
          {% endaddtoblock %}
        {% endif %}
      {% endblock content %}
