{% extends 'user/base.html' %}
{% load static geoluminate %}

{% block body_end %}
  <div class="modal fade"
       id="createEntityModal"
       tabindex="-1"
       aria-labelledby="createEntityModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <django-formset endpoint="{{ request.path }}"
                        csrf-token="{{ csrf_token }}">
          <div class="modal-header">
            <h5 class="modal-title" id="createEntityModalLabel">{% trans "Create new project" %}</h5>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
          </div>
          <div class="modal-body">{{ form }}</div>
          <div class="modal-footer">
            <button type="button"
                    class="btn btn-success"
                    df-click="submit({add: true}) -> proceed">{% trans "Create" %}</button>
          </div>
        </django-formset>
      </div>
    </div>
  </div>
{% endblock body_end %}
