<p>{% trans "Using a third-party authentication service:" %}</p>
<div class="socialaccount_providers d-flex justify-content-center">
  {% include "socialaccount/snippets/provider_list.html" with process="signup" %}
</div>
<div class="py-4 d-flex align-items-center">
  <hr class="flex-grow-1" />
  <span class="px-2 text-muted">{% trans "OR" %}</span>
  <hr class="flex-grow-1" />
</div>
<p>{% trans "Use the form below:" %}</p>
<form id="signup_form" action="{% url 'account_signup' %}" method="post" class="standard">
  {% csrf_token %}
  {{ register_form.as_p }}
</form>
<div class="d-flex align-items-end">
  <button class="btn btn-lg btn-primary" type="submit" form="signup_form">{% trans "Submit" %}</button>
</div>
