{% extends "geoluminate/cards/base.html" %}
{% load i18n geoluminate contributor_tags %}

{% block card_header %}
{% endblock card_header %}

{% block card_body %}
  <div class="card-body p-0 p-md-3 h-100 d-flex flex-column justify-content-end">
    {% comment %} <div class="pt-2 d-flex flex-wrap justify-content-center">
      <div>
        <h6>{% trans "Metadata" %}</h6>
        <div id="metadataQuality-{{ obj.id }}" class="gauge" width="45px"></div>
      </div>
      <div>
        <h6>{% trans "Data Quality" %}</h6>
        <div id="dataQuality-{{ obj.id }}" class="gauge" data-value="{{ obj.get_data_quality }}"></div>
      </div>
    </div> {% endcomment %}
    <h5 class="card-title text-decoration-none">
      {% block title %}
        <span>{{ obj }}</span>
      {% endblock title %}

    </h5>
    <h6>
      {% block subtitle %}
        <span class="me-2"
              data-bs-toggle="popover"
              data-bs-placement="bottom"
              data-bs-title="{% trans "Creators" %}"
              data-bs-content="{% trans "The following people are listed as creators of this database item." %}">{% icon "contributors" %}</span>
      {% endblock subtitle %}

    </h6>
    <p class="card-text line-clamp max-lines-5 d-none d-md-block overflow-y-hidden" height="50px">
      {% block description %}
        {% comment %} {{ obj.get_abstract.clean }} {% endcomment %}
      {% endblock description %}

    </p>
    {% if obj.get_tags_list %}
      <div class="card-footer">
        {% block footer %}
          <div class="text-muted">
            <div>
              {% block badges %}
                {% for tag in obj.get_tags_list %}<span class="badge rounded-pill">{{ tag }}</span>{% endfor %}
              {% endblock badges %}

            </div>
            {% block info %}
            {% endblock info %}

          </div>
        {% endblock footer %}

      </div>
    {% endif %}
    {% with obj.modified|timesince as last_updated %}
      <span>{% blocktrans %}Updated: {{ last_updated }} ago{% endblocktrans %}</span>
    {% endwith %}
    {{ block.super }}
  </div>
  <a href="{{ obj.get_absolute_url }}" class="stretched-link text-reset">
    {% comment %} {% trans "View detail" %} {% endcomment %}
    {% comment %} <div class="position-absolute bottom-0 end-0">
      <i class="fa-solid fa-door-open fa-lg"></i>
    </div> {% endcomment %}
  </a>
{% endblock card_body %}

{% block card_footer %}
{% endblock card_footer %}
