{% extends 'geoluminate/layout/fullwidth_sidebar.html' %}
{% load i18n formsetify autotables geoluminate %}

{% block toolbar_right %}
<a class="btn text-primary" href="#" role="button" onclick="$('#filterContainer').toggleClass('show')" aria-expanded="true">
  <i class="fas fa-filter"></i>
</a>

{% endblock %}

{% block content_sidebar %}
  <div id="searchButton"></div>
  {{ filter.form }}
{% endblock %}

{% block content_main %}
  {% render_table_for_url table True %}
{% if template %}<script id='template-card'>{% include template %}</script>{% endif %}

{% endblock %}


