{% extends "base.html" %}
{% load sekizai_tags i18n static compress %}

{% block page_header %}
{% endblock page_header %}

{% block title %}
  {{ geoluminate.database.short_name }} API
{% endblock title %}

{% block main %}
  <div id="swagger-ui" class="container"></div>
  {% addtoblock "body_end" %}
    <script src="{% static "drf_spectacular_sidecar/swagger-ui-dist/swagger-ui-bundle.js" %}"></script>
  {% endaddtoblock %}
  {% addtoblock "body_end" %}
    <script src="{% static "drf_spectacular_sidecar/swagger-ui-dist/swagger-ui-standalone-preset.js" %}"></script>
  {% endaddtoblock %}
  {% if script_url %}
    {% addtoblock "body_end" %}
      <script src="{{ script_url }}"></script>
    {% endaddtoblock %}
  {% else %}
    {% addtoblock "body_end" %}
      {# djlint:off #}
    <script>{% include template_name_js %}</script>
      {# djlint:on #}
    {% endaddtoblock %}
  {% endif %}
{% endblock main %}
