{% extends 'geoluminate/base/base_detail.html' %}

{% load i18n authentication crispy_forms_tags %}
{% block title %}{% trans "Account Settings" %}{% endblock %}
{% block page_title %}{% trans "Account Settings" %}{% endblock %}


{% block sidebar %}
<div id="list-example" class="list-group">
  {% for label, template, form in forms %}
    <a class="list-group-item list-group-item-action" href="#{{label}}">{{label}}</a>
  {% endfor %}
</div>
{% endblock %}


{% block main %}
<div class='container mt-3'>
  <header>
    <h1 class='display-1'>{% trans "Account Settings" %}</h1>
  </header>
  {% for label, template, form in forms %}
  <section class='card w-100'>
      {% include template %}
  </section>{% if not forloop.last %}
  <hr class='my-3'>{% endif %}
  {% endfor %}
</div>

{% endblock %}
