{% extends "geoluminate/base/base_detail.html" %}
{% load geoluminate %}
{% block main %}{% include template_name %}{% endblock main %}

{% comment %} {% block page_left %}
<div id="pageSidebar" class='offcanvas offcanvas-start sidebar' data-bs-backdrop="false">
  <div class='offcanvas-header'>
    <div>
      {% render_profile_image user.profile width="40px" height="40px" extra_classes='shadow me-2 rounded-circle' %}
      <span>{{ request.user.profile }}</span>
    </div>
  </div>
  <div class='offcanvas-body content-sidebar-inner'>
    <ul>
      {% for item in menus.account_sidebar %}
        {% if not item.url %}
            <h2>{{ item.title }}</h2>
        {% elif item.visible %}
          <li><a href="{{ item.url }}" hx-get="{{ item.url }}" hx-replace-url="{{ item.url }}"
            class="list-group-item list-group-item-action {{ item.extra_classes }}{% is_active item.url %}">
            <i class="fas {{ item.icon }}"></i>
            {{ item.title }}
          </a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock page_left %} {% endcomment %}

