{% load static i18n %}

<div class="card mb-3 w-100">
  <div class="row g-0">
    <div class="col-md-4">
      {% if obj.image %}
        <img src="{{ obj.image.url }}" class="w-100 h-100 bg-secondary-subtle object-fit-contain img-fluid rounded-start status-{{ obj.status }}" alt="{{ obj.title }}" />
      {% else %}
        <img src="http://placekitten.com/1300/591" class="w-100 h-100 bg-secondary-subtle object-fit-contain img-fluid rounded-start status-{{ obj.status }}" alt="{{ obj.title }}" >
      {% endif %}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        {% trans "Review Status" %}: <span class="badge bg-info bg-{{obj.status}}">{{obj.status}}</span>
        <h5 class="card-title">{{ obj.dataset.title }}</h5>
        {% trans "Reviewer" %}: {{ obj.reviewer.profile }}
        <p class="card-text"></p>
      </div>
      <div class='card-footer d-flex justify-content-between border-0'>
        <small class="text-body-secondary">Last modified {{ obj.modified }}</small>
        {% comment %} need a permission check for here {% endcomment %}
        {% if obj.status == "Draft" %}
          <a href="{{ obj.get_edit_url }}" class='btn btn-sm btn-success'>
            {% trans "Continue" %}
            <i class='fa-solid fa-arrow-right-long'></i>
          </a>
        {% elif obj.status == "Submitted" %}
          <a class='disabled btn btn-sm btn-success'>
            {% trans "Awaiting approval" %}
            <i class='fa-solid fa-arrow-right-long'></i>
          </a>
        {% endif %}


      </div>
    </div>
  </div>
</div>
