<div class="dropdown">
  <a class="nav-link {{ item.extra_classes }}"
     type="button"
     data-bs-toggle="dropdown"
     aria-expanded="false">
    {% icon item.icon %}
    {% if item.label %}<span class="d-none d-md-inline-block">{{ item.label }}</span>{% endif %}
  </a>
  <ul class="dropdown-menu">
    <li>
      <a class="dropdown-item" href="#">Samples</a>
    </li>
    <li>
      <a class="dropdown-item" href="#">Another action</a>
    </li>
    <li>
      <a class="dropdown-item" href="#">Something else here</a>
    </li>
  </ul>
</div>
