{% extends "base.html" %}
{% load static widget_tweaks sekizai_tags crispy_forms_tags %}

{% block main %}
<div class="w-100 vh-100 bg-light d-flex">
  <div class='d-flex flex-column px-2 map-sidebar'>
    <ul class='alt '>
      <li><a class="icon solid filter" data-bs-toggle="offcanvas" href="#offcanvasFilter" role="button" aria-controls="offcanvasExample"></a></li>
      <li><a class="icon solid download" data-bs-toggle="offcanvas" href="#offcanvasDownload" role="button" aria-controls="offcanvasExample"></a></li>
      <li><a class="icon solid settings" data-bs-toggle="offcanvas" href="#offcanvasSettings" role="button" aria-controls="offcanvasExample"></a></li>
    </ul>
  </div>

  <div class='flex-fill'>
    {% include "mapping/partials/map.html" with css_class='fullscreen' %}   
  </div>
</div>


  {% include 'mapping/partials/sidebar.html' with name='filter' form=filter.form helper=filter.helper %}
  {% include 'mapping/partials/sidebar.html' with name='download' form=download_form %}
  {% include 'mapping/partials/sidebar.html' with name='settings' form=settings %}
 
{% endblock main %}
