{% load menu_tags thumbnail cms_tags geoluminate %}

<div id="application-sidebar">
  {% render_model_block config "logo" %}
  <div class='logo sidebar-header'>
    <img src="{% logo %}" alt="logo">
  </div>
  {% endrender_model_block %}
  <button class='toggle'>
    <i class="fas fa-angle-double-left"></i>
  </button>
  <div class="inner">

    {% render_model_block request.current_page "changelist" %}
    <nav id="menu" class='sidebar-menu'>
      <ul>{% show_menu 0 100 100 100 "theme/menu/menu.html" %}</ul>
    </nav>
    {% endrender_model_block %}
  </div>
  <div class='footer'></div>
</div>