form {
  .dj-field-errors {
    display: none;
  }
}

.hidden-labels {
  label {
    display: none;
  }
}

.list-filter-top {
  @extend .w-100;
  @extend .d-flex;
  // @extend .flex-column;
  // @extend .flex-md-row;

  div {
    margin-bottom: 0 !important;
  }

  > div:not(:last-child) {
    @extend .me-lg-2;
    @extend .me-md-1;
  }
}

.list-filter-side {
  @extend .w-100;
  @extend .d-flex;
}

.dcsic_wrapper {
  .dcsic_choose_other_img {
    cursor: pointer;
  }


  img {
    @extend .rounded-circle;
    &:hover {
      cursor: pointer;
      filter: brightness(0.9);
    }
  }
}

.dcsic_overlay {

  .dcsic_dialog {
    @extend .modal-dialog;
    @extend .modal-dialog-centered;
  }


  .cr-slider-wrap {
    text-align: center;
    padding-top: 8px;
  }

  .cr-viewport.cr-vp-square {
    @extend .rounded-circle;
  }
}
