::-webkit-scrollbar {
	width: 10px;
	z-index: 1000;
}

::-webkit-scrollbar-track {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	z-index: 1000;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: $gray-400;

	&:hover {
		background: $gray-600;
	}
}
