{% load crispy_forms_tags %}

<c-vars form buttontext="Save" :modal="True" />
<form method="post" enctype="multipart/form-data" {{ attrs }}>
  {% csrf_token %}
  {{ form.media }}
  <c-bs5.modal id="{{ id }}Modal">
    <p class="form-text">{{ help_text }}</p>
    {{ form|crispy }}
    <c-slot name="footer">
      <button type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal">
        {% icon "cancel" %}
        {% trans "Cancel" %}
      </button>
      <button type="submit"
              class="btn btn-success"
              data-bs-dismiss="modal">{% trans buttontext %}</button>
    </c-slot>
  </c-bs5.modal>
</form>
