{% load literature fairdm easy_icons %}

<c-bs5.card title="{{ obj.title }}"
            subtitle="{{ obj.item|csl_field:"container-title" }}, {{ obj.issued.date|date:"Y" }}"
            x-data="{{ obj.item }}">
  <div class="text-muted">
    <template x-for="(obj, index) in author">
      <span>
        <span x-text="obj.given + ' ' + obj.family"></span><span x-show="index < author.length - 1">,</span>
      </span>
    </template>
  </div>
  {{ obj.item.abstract|truncatewords_html:75 }}
  <c-slot name="footer">
    {% if obj.datasets %}
      <c-bs5.button href="{{ obj.datasets.get_absolute_url }}"
                    icon="dataset"
                    text="{% trans "View Dataset" %}" />
    {% endif %}
    {% if obj.item.URL %}
      <c-bs5.button href="{{ obj.item.URL }}"
                    icon="globe"
                    variant="primary"
                    text="{% trans "Read online" %}" />
    {% endif %}
    {% block footer %}
    {% endblock footer %}

  </c-slot>
</c-bs5.card>
