{% extends "admin/import_export/base.html" %}
{% load i18n grp_tags admin_urls static admin_list import_export_tags %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "import_export/import.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "admin/css/table.css" %}" />
{% endblock %}

<!-- STYLESHEETS -->
{% block stylesheets %}
    {{ block.super }}
    {{ media.css }}
{% endblock %}

<!-- JAVASCRIPTS -->
{% block javascripts %}
    {{ block.super }}
    {% url 'admin:jsi18n' as jsi18nurl %}
    <script type="text/javascript" src="{{ jsi18nurl|default:'../../../jsi18n/' }}"></script>
    <script type="text/javascript" charset="utf-8">
        (function($) {
            $(document).ready(function() {
                grappelli.initDateAndTimePicker();
                $("#grp-content-container .grp-group").grp_collapsible_group();
                $("#grp-content-container .grp-collapse").grp_collapsible({
                    on_init: function(elem, options) {
                        // open collapse (and all collapse parents) in case of errors
                        if (elem.find("ul.errorlist").length > 0) {
                            elem.removeClass("grp-closed")
                                .addClass("grp-open");
                            elem.parents(".grp-collapse")
                                .removeClass("grp-closed")
                                .addClass("grp-open");
                        }
                    }
                });
                var related_lookup_fields_fk = {% get_related_lookup_fields_fk adminform.model_admin %};
                var related_lookup_fields_m2m = {% get_related_lookup_fields_m2m adminform.model_admin %};
                var related_lookup_fields_generic = {% get_related_lookup_fields_generic adminform.model_admin %};
                var autocomplete_fields_fk = {% get_autocomplete_lookup_fields_fk adminform.model_admin %};
                var autocomplete_fields_m2m = {% get_autocomplete_lookup_fields_m2m adminform.model_admin %};
                var autocomplete_fields_generic = {% get_autocomplete_lookup_fields_generic adminform.model_admin %};
                $.each(related_lookup_fields_fk, function() {
                    $("#id_" + this).grp_related_fk({lookup_url:"{% url 'grp_related_lookup' %}"});
                });
                $.each(related_lookup_fields_m2m, function() {
                    $("#id_" + this).grp_related_m2m({lookup_url:"{% url 'grp_m2m_lookup' %}"});
                });
                $.each(related_lookup_fields_generic, function() {
                    var content_type = "#id_" + this[0],
                        object_id = "#id_" + this[1];
                    $(object_id).grp_related_generic({content_type:content_type, object_id:object_id, lookup_url:"{% url 'grp_related_lookup' %}"});
                });
                $.each(autocomplete_fields_fk, function() {
                    $("#id_" + this).grp_autocomplete_fk({
                        lookup_url:"{% url 'grp_related_lookup' %}",
                        autocomplete_lookup_url:"{% url 'grp_autocomplete_lookup' %}"
                    });
                });
                $.each(autocomplete_fields_m2m, function() {
                    $("#id_" + this).grp_autocomplete_m2m({
                        lookup_url:"{% url 'grp_m2m_lookup' %}",
                        autocomplete_lookup_url:"{% url 'grp_autocomplete_lookup' %}"
                    });
                });
                $.each(autocomplete_fields_generic, function() {
                    var content_type = "#id_" + this[0],
                        object_id = "#id_" + this[1];
                    $(object_id).grp_autocomplete_generic({
                        content_type:content_type,
                        object_id:object_id,
                        lookup_url:"{% url 'grp_related_lookup' %}",
                        autocomplete_lookup_url:"{% url 'grp_autocomplete_lookup' %}"
                    });
                });
                $("a#grp-open-all").on("click", function(){
                    $("#grp-content .grp-collapse-handler").each(function() {
                        $(this).parent(".grp-collapse").removeClass("grp-closed").addClass("grp-open");
                    });
                });
                $("a#grp-close-all").on("click", function(){
                    $("#grp-content .grp-collapse-handler").each(function() {
                        $(this).parent(".grp-collapse").removeClass("grp-open").addClass("grp-closed");
                    });
                });
                // HACK: get rid of currently/change with URL–fields. F**K!!!
                {% block js_remove_url %}
                $('p.url').each(function() {
                    $(this).find("a").remove();
                    var text = $(this).html();
                    text = text.replace(/^\w*: /, "");
                    text = text.replace(/<br>.*: /, "");
                    $(this).html(text);
                });
                {% endblock %}
                // HACK: rearrange inlines
                {% block js_rearrange_inlines %}
                $('div.grp-group').each(function() {
                    var placeholder = $("fieldset.placeholder."+$(this).attr("id"));
                    if (placeholder.length) {
                        $(placeholder).replaceWith($(this));
                    }
                });
                {% endblock %}
                // HACK: remove input types
                {% block js_clean_input_types %}
                var clean_input_types = "{% grappelli_clean_input_types %}";
                if (clean_input_types == "True") {
                    grappelli.cleanInputTypes();
                };
                {% endblock %}
            });
        })(grp.jQuery);
    </script>
    {{ media }}
{% endblock %}

{% block breadcrumbs_last %}
{% trans "Import" %}
{% endblock %}

{% block bodyclass %}grp-change-list{% endblock %}
{% block content-class %}{% endblock %}

{% block content %}

  {% if confirm_form %}
    <form action="{% url opts|admin_urlname:"process_import" %}" method="POST">
      {% csrf_token %}
      {{ confirm_form.as_p }}
      <p>
        {% trans "Below is a preview of data to be imported. If you are satisfied with the results, click 'Confirm import'" %}
      </p>
      <div class="submit-row">
        <input type="submit" class="default" name="confirm" value="{% trans "Confirm import" %}">
      </div>
    </form>
  {% else %}
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <p style='padding-bottom:1rem'>
        {% trans "This importer will import the following fields: " %}
        <code>{{ fields|join:", " }}</code>
      </p>
      <div class="grp-module">
        <div class="grp-row">
          <fieldset class="module aligned">
            {% for field in form %}
              <div class="form-row">
                {{ field.errors }}

                {{ field.label_tag }}

                {{ field }}

                {% if field.field.help_text %}
                <p class="help">{{ field.field.help_text|safe }}</p>
                {% endif %}
              </div>
            {% endfor %}
          </fieldset>
        </div>
        <div class="grp-row">
          <input type="submit" class="default" value="{% trans "Submit" %}">
        </div>
      </div>
    </form>
  {% endif %}





  {% if result %}

    {% if result.has_errors %}
      <div class='l-2cr-fluid'>
        <h1>{% trans "Errors" %}</h1>
      </div>
      {% for error in result.base_errors  %}
      <li>
        <h2>{{ error.error }}</h2>
        <div class="traceback field-box grp-description">{{ error.traceback|linebreaks }}</div>
      </li>
      {% endfor %}

      {% for line, errors in result.row_errors %}
        {% for error in errors %}
          <div class="module grp-module grp-collapse grp-closed">
            <h2 class='grp-collapse-handler collapse'>{% trans "Line number" %}: {{ line }} - {{ error.error }}</h2>
            <div class='grp-row'>
              <label class='required'>Failing row contains:</label><br>
              <code>{{ error.row.values|join:", " }}</code>
            </div>
            <div class="traceback grp-row">{{ error.traceback|linebreaks }}</div>
          </div>
        {% endfor %}
      {% endfor %}

    {% elif result.has_validation_errors %}

    <div class='l-2cr-fluid'>
      <h1>{% trans "Some rows failed to validate" %}</h1>
    </div>
    <p style='padding-bottom:1rem'>{% trans "Please correct these errors in your data where possible, then reupload it using the form above." %}</p>

    <form id="grp-changelist-form" action="" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %} novalidate>{% csrf_token %}

      <section id="grp-changelist" class="{% if cl.list_editable %} grp-editable{% endif %}">
        <div class="grp-module grp-changelist-results">
          <table id="result_list" cellspacing="0" class="import-preview grp-table grp-sortable">
            <thead>
              <tr>
                <th scope="col"><div class='grp-txt' style='padding:5px'>{% trans "Row" %}</div></th>
                <th scope="col" {{ header.class_attrib }}><div class='grp-txt' style='padding:5px'>{% trans "Errors" %}</div></th>
                {% for field in result.diff_headers %}
                  <th scope="col" {{ header.class_attrib }}><div class='grp-txt' style='padding:5px'>{{ field }}</div></th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
            {% for row in result.invalid_rows %}
              <tr class="grp-row {% cycle 'grp-row-even' 'grp-row-odd' %}">
                <td>{{ row.number }} </td>
                <td class="errors">
                  <span class="validation-error-count">{{ row.error_count }}</span> 
                  <div class="validation-error-container">
                    <ul class="validation-error-list">
                      {% for field_name, error_list in row.field_specific_errors.items %}
                        <li>
                            <span class="validation-error-field-label">{{ field_name }}</span>
                            <ul>
                              {% for error in error_list %}
                                <li>{{ error }}</li>
                              {% endfor %}
                            </ul>
                        </li>
                      {% endfor %}
                      {% if row.non_field_specific_errors %}
                        <li>
                          <span class="validation-error-field-label">{% trans "Non field specific" %}</span>
                          <ul>
                            {% for error in row.non_field_specific_errors %}
                              <li>{{ error }}</li>
                            {% endfor %}
                          </ul>
                        </li>
                      {% endif %}
                    </ul>
                  </div>
                </td>
                {% for field in row.values %}
                  <td>{{ field|default_if_none:'' }}</td>
                {% endfor %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>    
      </section>
    </form>
    {% else %}

      <h2>{% trans "Preview" %}</h2>
      <section id="grp-changelist" class="{% if cl.list_editable %} grp-editable{% endif %}">
        <div class="grp-module grp-changelist-results">
          <table id="result_list" class="grp-table grp-sortable">
          {% comment %} <table class="import-preview"> {% endcomment %}
            <thead>
              <tr>
                <th></th>
                {% for field in result.diff_headers %}
                  <th>{{ field }}</th>
                {% endfor %}
              </tr>
            </thead>
            {% for row in result.valid_rows %}
              <tr class="grp-row {% cycle 'grp-row-even' 'grp-row-odd' %} {{ row.import_type }}">
                <td class="import-type">
                  {% if row.import_type == 'new' %}
                    {% trans "New" %}
                  {% elif row.import_type == 'skip' %}
                    {% trans "Skipped" %}
                  {% elif row.import_type == 'delete' %}
                    {% trans "Delete" %}
                  {% elif row.import_type == 'update' %}
                    {% trans "Update" %}
                  {% endif %}
                </td>
                {% for field in row.diff %}
                  <td>{{ field }}</td>
                {% endfor %}
              </tr>
            {% endfor %}
          </table>
        </div>    
      </section>
    {% endif %}

  {% endif %}

{% endblock %}
