{% extends 'geoluminate/components/sidebar.html' %}
{% load i18n crispy_forms_tags sekizai_tags %}
{% block title %}
 {% blocktranslate with count=paginator.count %}Filter {{ count }} publications{% endblocktranslate %}:
{% endblock title %}
{% block body %}
 <form id='literatureFilter'
       method='get'
       hx-trigger="change"
       hx-target="#publication-list"
       hx-params="*"
       hx-get>
  {% crispy filter.form %}
 </form>
 {% addtoblock "js" %}
  {{ filter.form.media.js }}{% endaddtoblock %}
 {% endblock body %}
