{% load i18n %}

<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      {% if obj.image %}
        <img src="{{ obj.image.url }}" class="w-100 h-100 bg-secondary-subtle object-fit-contain img-fluid rounded-start status-{{ obj.status }}" alt="{{ obj.title }}" />
      {% else %}
        <div class="w-100 h-100 object-fit-cover img-fluid rounded-start status-{{ obj.status }}" style="background-color: green;"></div>
      {% endif %}
    </div>
    <div class="col-md-8">
      {% if obj.tags.all %}
      <div class='card-header border-0'>
        {% for tag in obj.tags.all %}
          <span class="badge rounded-pill text-bg-primary">{{ tag }}</span>
        {% endfor %}
      </div>
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ obj.title }}</h5>
        <p class='text-muted'>
          {% include "partials/contributor/names_list.html" with contributors=obj.contributors.all %}
        </p>
        <p class="card-text">
          {{ obj.get_abstract.description|safe|truncatewords_html:30 }}
          <a href="{{ obj.get_absolute_url }}" class="icon-link icon-link-hover">
          {% trans "view details" %}
          <span class='fa-solid fa-arrow-right-long'></span>
        </a></p>
      </div>
      <div class='card-footer d-flex justify-content-between border-0'>
        <small class="text-body-secondary">Last modified {{ obj.modified }}</small>
        {% comment %} need a permission check for here {% endcomment %}
        <a href="{% url "project-edit" uuid=obj.uuid %}" class='btn btn-sm btn-success'>
          <i class='fas fa-pencil'></i>
          {% trans "Edit" %}
        </a>
      </div>
    </div>
  </div>
</div>
