.nav {

    // .nav-link.active {
    //     background-color: _palette(primary);
    //     color: _palette(bg)!important;
    // }

    &-tabs {
        border-bottom: 1px solid _palette(primary)!important;

        a {
            color: _palette(primary);

            &:hover {
                border-bottom-color: _palette(primary)!important;
            }



        }

    }

    &-link {
        &.active {
            background-color: _palette(bg)!important;
            color: _palette(primary)!important;
            border-color: _palette(primary) _palette(primary) _palette(bg)!important;
            &:hover {
                border-bottom-color: _palette(bg)!important;
            }
        }
    }

}
