///
/// Editorial by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Table */

.table-wrapper {
	-webkit-overflow-scrolling: touch;
	overflow-x: auto;
}

table {
	margin: 0 0 _size(element-margin) 0;
	width: 100%;

	tbody {
		tr {
			border: solid 1px _palette(border);
			border-left: 0;
			border-right: 0;

			&:nth-child(2n + 1) {
				background-color: _palette(border-bg);
			}
		}
	}

	td {
		padding: 0.75em 0.75em;
		text-align:center;
		&:first-child {
			text-align: left!important;
		}
	}

	th {
		color: _palette(fg-bold);
		font-size: 0.9em;
		font-weight: _font(weight-bold);
		padding: 0 0.75em 0.75em 0.75em;
		text-align: center;
		&:first-child {
			text-align: left!important;
		}
	}

	thead {
		border-bottom: solid 2px _palette(border);
	}

	tfoot {
		border-top: solid 2px _palette(border);
	}

	&.alt {
		border-collapse: separate;

		tbody {
			tr {
				td {
					border: solid 1px _palette(border);
					border-left-width: 0;
					border-top-width: 0;

					&:first-child {
						border-left-width: 1px;
					}
				}

				&:first-child {
					td {
						border-top-width: 1px;
					}
				}
			}
		}

		thead {
			border-bottom: 0;
		}

		tfoot {
			border-top: 0;
		}
	}
}

.top {
	@include vendor('display', 'flex');
	@include vendor('justify-content', 'space-between');
	@include vendor('align-items', 'center');

	label {
		margin: 0;
	}

	.dataTables_info {
		padding: 0!important;
	}
}

.dataTables_wrapper {
	td, th {
		padding:0;
		text-decoration: none;
		a {
			border-bottom: none!important;
		}
	}
}