{% extends 'sidebar_right.html' %}
{% load i18n authentication crispy_forms_tags %}

{% block head_title %}{% trans "Account" %}{% endblock %}
{% block nav_title_bold %}{% trans "Account" %}{% endblock nav_title_bold %}
{% block nav_title %}{{ request.user.full_name }}{% endblock nav_title %}


{% block main_window %}
<div class='container'>
  {% for label, template, form in forms %}
    <section id="{{label|slugify}}" class='searchable border-bottom py-5'>
      <h4>{{ label }}</h4>
      {% include template %}
    </section>
    {% endfor %}
</div>
{% endblock main_window %}




{% block sidebar_right %}
  <div class='sidebar-body p-3'>
    <ul class='alt nav flex-column' id="myTab" role="tablist" hx-target="#dashboardContainer">
      {% for label, template, form in forms %}
      <li>
        <a href="#{{ label|slugify }}">
          <span class='ps-2'>{{ label|capfirst }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
{% endblock sidebar_right %}
