{% extends "base.html" %}
{% load i18n crispy_forms_tags socialaccount %}

{% block head_title %}ORCID{% endblock %}
{% block nav_title_bold %}ORCID{% endblock nav_title_bold %}

{% block content %}

<div class='flex-grow-1 overflow-auto'>
  <div class='container content pt-5'>
    <header class='header'>
      <strong>
        {% trans "Why ORCID?" %}
      </strong>
    </header>
    <section>
      <h5>TODO:</h5>
      <p>Write about why this service integrates with ORCID</p>
    </section>
  </div>
</div>
{% endblock %}