{% extends "account/base.html" %}
{% load i18n crispy_forms_tags account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block nav_title %}{% trans "Sign In" %}{% endblock nav_title %}
{% block heading %}{% trans "Sign In" %}{% endblock heading %}

{% block inner %}
  {% get_providers as socialaccount_providers %}

  <p>{% trans "Click the image below to easily sign in using your ORCID." %}</p>
  {% include 'account/orcid/login.html' %}
  <hr>
  {% blocktrans %}<p>Don't have an ORCID? Use the details you registered with in the form below. If you haven't created an account yet, please <a href="{{ signup_url }}">sign up</a> first.</p>{% endblocktrans %}
  {% crispy form %}

  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="primaryAction" type="submit" form='loginForm'>{% trans "Sign In" %}</button>
{% endblock %}