{% extends "geoluminate/bootstrap/card.html" %}
{% load i18n account crispy_forms_tags %}
{% block header %}
    {% trans "Password Reset" %}
{% endblock header %}
{% block body %}
    <p class='card-text'>
        {% trans "Forgot your password? Please enter a registed e-mail address below and we'll send you a link to reset it. If you have issues, please get in contact and we will try to assist you." %}
    </p>
    {% if user.is_authenticated %}
        <div class="alert alert-info" role="alert">{% include "account/snippets/already_logged_in.html" %}</div>
    {% endif %}
    <form id='resetPassword'
          method="POST"
          action="{% url 'account_reset_password' %}"
          class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <input hidden value="{% trans 'Reset My Password' %}"/>
    </form>
{% endblock body %}
{% block footer %}
    <button type='submit' class='btn btn-primary' for='#resetPassword'>{% trans 'Reset My Password' %}</button>
{% endblock footer %}
