{% extends "account/base.html" %}
{% load i18n crispy_forms_tags socialaccount geoluminate formsetify  %}


{% block head_title %}{% trans "Sign Up" %}{% endblock %}
{% block nav_title %}{% trans "Sign Up" %}{% endblock nav_title %}
{% block heading %}{% trans "Sign Up" %}{% endblock heading %}

{% block body %}
<p>{% blocktrans %}Create a new account below. Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
{% formsetify form "bootstrap" field_classes="mb-3" %}
<django-formset endpoint="{{ request.path }}" csrf-token="{{ csrf_token }}">
  <form id="{{ form.form_id }}" method='post'>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    {% include "formset/non_field_errors.html" %}
    {% for field in form %}
      {% if field.is_hidden %}
        {{ field }}
      {% elif field.name == "my_special_field" %}
        {% include "myproject/my_special_field.html" %}
      {% else %}
        {% include "formset/default/field_group.html" %}
      {% endif %}
    {% endfor %}
  </form>
</django-formset>
<div class='d-flex align-items-end'>
  <button class="btn btn-lg btn-primary" type="submit" form='{{ form.form_id }}'>{% trans "Submit" %}</button>
</div>
{% endblock body %}
