{% load partials crispy_forms_tags %}

{% partialdef detail %}
<span id="{{ date.type }}">{{ date.type }}</span>: <span>{{ date.value }}</span>
{% endpartialdef %}

{% partialdef form inline=True %}
<div x-data="{submit() { this.$refs.form.requestSubmit(); }}"
     id="{{ date.type }}">
  <form action="{{ request.path }}"
        hx-post="{{ request.path }}"
        hx-swap="outerHTML"
        x-ref="form"
        @click.outside="submit">
    {{ form|crispy }}
  </form>
</div>
{% endpartialdef %}
