{% load partials crispy_forms_tags %}

{% partialdef dropdown %}
<div></div>
{% endpartialdef %}

{% partialdef detail %}
<c-description type="{{ description.type }}"
               :description="description"
               can_update />
{% endpartialdef %}

{% partialdef form inline=True %}
<style>
  textarea {
    padding: 0
  }

  textarea:focus {
    outline: 0;
    border: none;
  }

  textarea:focus-visible {
    outline: 0;
    border: none;
  }
</style>
<c-description type="{{ title }}"
               x-data="{submit() { this.$refs.form.requestSubmit(); }}"
               can_delete>
  <form action="{{ request.path }}"
        hx-post="{{ request.path }}"
        hx-swap="outerHTML"
        x-ref="form"
        @click.outside="submit"
        @keydown.tab="submit">
    {{ form }}
  </form>
</c-description>
{% endpartialdef %}
