{% load i18n activity_tags easy_icons %}

{% if request.user|is_following:object %}
  <c-bs5.button href="{% follow_all_url object %}"
                hx-get="{% follow_all_url object %}"
                hx-target="this"
                hx-swap="outerHTML"
                icon="star-solid"
                title="{% trans "Following" %}"
                size="sm">
    {% trans "Following" %}
  </c-bs5.button>
{% else %}
  <c-bs5.button href="{% follow_all_url object %}"
                hx-get="{% follow_all_url object %}"
                hx-target="this"
                hx-swap="outerHTML"
                icon="star-solid"
                title="{% trans "Following" %}"
                size="sm">
    {% trans "Following" %}
  </c-bs5.button>
{% endif %}
