html {
  margin-top: 0!important;
  // #cms-top {
      // position: relative !important;
      // z-index: 100;

    .cms {
      position: sticky;
    }


      .cms-toolbar {
          z-index: 10;
          position: relative !important;
          // display: none;
      }
      // .cms-structure {
      //   margin-top: 46px;
      //   z-index: 9;
      // }
      .cms-toolbar-item-logo, .cms-toolbar-item-switch-save-edit {
          display: none;
      }
  }
// }
// #cms-top > div.cms-toolbar > div.cms-toolbar-left > ul > li:nth-child(1) {
//     display: none;
// }
