@import "bs5/functions";
@import "bs5/variables";
@import "bs5/variables-dark";
@import "bs5/maps";
@import "bs5/mixins";
@import "bs5/utilities";

$utilities: map-merge(
  $utilities,
  (
    "line-clamp": (
      property: -webkit-line-clamp,
      class: max-lines,
      values: 1 2 3 4 5
    ),
    "darken": (
      property: filter,
      class: darken,
      values: (
        10: brightness(90%),
        20: brightness(80%),
        30: brightness(70%),
        40: brightness(60%),
        50: brightness(50%),
      )
    ),
    "height": (
      property: height,
      class: h,
      responsive: true,
      values: (
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto
      )
    ),
  )
);

@import "bs5/utilities/api";
