@import "bs5/functions";
@import "bs5/variables";
@import "bs5/variables-dark";

$sidebar-width:              315px !default;
$card-border-radius:         1rem;
$enable-gradients:           false;
$enable-shadows:             false;
$headings-font-weight:        475;
$headings-line-height:        1.2;

// Add a custom color to $theme-colors
$fairdm-colors: (
  "project": #ebf92c,
  "dataset": #00cb07,
  "sample": #2c33f9,
  "measurement": #f97e2c,
);
$theme-colors: map-merge($theme-colors, $fairdm-colors);

@import 'bs5/bootstrap';
@import "utilities";
@import "spectacular";
@import "custom";
