{% load i18n %}
{% spaceless %}{% verbatim %}
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ image }}" class="w-100 h-100 object-fit-cover img-fluid rounded-start status-{{ status }}" alt="{{ title }}" />
    </div>
    <div class="col-md-8">
      {{#if tags }}
      <div class='card-header border-0'>
        {{#each tags }}
        <span class="badge rounded-pill text-bg-primary">{{this}}</span>
        {{/each}}
      </div>
      {{/if}}
      <div class="card-body">
        <h5 class="card-title">{{ title }}</h5>
        <p class='text-muted'>
          {{#each contributors }}
            <a class='text-muted' href="{{contributor.web_url}}">{{ contributor.name }}</a> {{#if @last}}{{else}}| {{/if}}
          {{/each}}
        </p>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer... <a href="{{ web_url }}" class="icon-link icon-link-hover">
          {% endverbatim %}{% trans "view details" %}{% verbatim %}
          <span class='fa-solid fa-arrow-right-long'></span>
        </a></p>
      </div>
      <div class='card-footer d-flex justify-content-between border-0'>
        <small class="text-body-secondary">Last modified {{ modified }}</small>
     </div>
    </div>
  </div>
</div>
{% endverbatim %}{% endspaceless %}
