<div class="card {{ class }}" {{ attrs }}>
  {% if header %}<div class="card-header {{ header_class }}">{{ header }}</div>{% endif %}
  <div class="card-body {{ body_class }}">
    {% if title %}<h2 class="card-title fs-5 {{ title_class }}">{{ title }}</h2>{% endif %}
    {% if subtitle %}<h3 class="card-subtitle fs-6 mb-2 {{ subtitle_class }}">{{ subtitle }}</h3>{% endif %}
    {{ slot }}
  </div>
  {% if footer %}<div class="card-footer {{ footer_class }}">{{ footer }}</div>{% endif %}
</div>
