.application-wrapper {
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  // height: 100vh;
  width: 100%;
  flex-direction: column;
  overflow: hidden!important;
}

.page-nav {
  // @extend .container-fluid;
  width: 100%;
  @extend .bg-light-subtle;
  @extend .bg-gradient;
  @extend .small;
  text-transform: capitalize;
}

.page-wrapper {
  display: flex;
  align-items: stretch;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  flex-grow: 1 !important;
}

.page-messages {
  @extend .container;
  position: absolute;
}

.content-wrapper {
  display: flex;
  flex-grow: 1 !important;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  // @extend .bg-gradient;

  >div:first-child {
    overflow: auto;
  }

}


.page {
  display: flex;
  flex-grow: 1 !important;
  flex-direction: column;
  overflow: auto;
  // background-color: var(--bs-body-bg);
  // @extend .bg-gradient;

  // >div:first-child {
  //   overflow: auto;
  // }

}

.page-inner {
  // @extend .container;
  display: flex;
  flex-direction: column;
  flex-grow: 1 !important;
  overflow: hidden;
}


.page-content {
  position: relative;
  scroll-behavior: smooth;
}


// Color mode variables in _root.scss
@include color-mode(dark) {

  img {
    filter: grayscale(50%);
  }
}
