	#menu, .sidebar-menu {
		ul {
			list-style: none;
			margin-bottom: 0;
			padding: 0;
			text-transform: uppercase;

			a, span {
				border-bottom: 0;
				color: inherit;
				cursor: pointer;
				display: block;
				font-size: 0.9em;
				padding: 0.625em 0;

				&:hover {
					color: _palette(primary);
				}

				&.opener {
					-webkit-tap-highlight-color: rgba(255,255,255,0);
					position: relative;

					&:before {
						content: '\f078';
						position: absolute;
						right: 0;
						line-height: inherit;

					}

					&:hover {
						&:before {
							color: $primary;
						}
					}

					&.active {
						& + ul {
							display: block;
						}

						&:before {
							transform: rotate(-180deg);
						}
					}
				}
			}
		}

		> ul {
			> li {
				border-top: solid 1px $secondary;
				margin: 0;
				padding: 0;

				> ul {
					color: $gray-300;
					margin: 0.5em 0 1.5em 0;
					padding-left: 1em;

					a, span {
						font-size: 0.8em;
					}

					> li {
						margin: 0.125em 0 0 0;
						padding: 0.125em 0 0 0;
					}
				}

				&:first-child {
					border-top: 0;
					margin-top: 0;
					padding-top: 0;
				}
			}
		}

	.sub-menu {
		font-size: smaller;
		background-color: $secondary;
		min-width: 100%;
		padding: 0 1rem;
		margin: 0 -1rem;
		margin-bottom: 0.5rem;

		ul	{
			display: flex;
			flex-direction: column;
			li	{
				padding: 0;
			}
		}
	}
}



