.navbar {
    background-color:$gray-300;
}

#appMenu {
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    button, a {
        background-color: $secondary;
        margin-left: 0.25rem;
        margin-right: 0.25rem;
        font-size: small;
        text-decoration: none;
        border-bottom: none;
        position: relative;
        transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
        color: #679bd0;
    }
}