{% load static sekizai_tags i18n crispy_forms_tags %}
<div id="createPublicationModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createPublicationModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <img src="{% static "collection/images/MB_logo.svg" %}" alt="" class='pe-2' style='max-height:1.5em;'>
        <h3 class='modal-title'>{% trans "Add Publication" %}</h3>
        <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close" value'bibtex'></button>
      </div>
      <div class='modal-body'>
        {% crispy form %}
        <h5>{% trans "Preview" %}:</h5>
        <p id='citePreview' style='min-height:100px;'></p>
        <div class="modal-footer">
          <input id='createPublicationSubmit' form='createPublicationForm' type="submit" name="submit" value="Create" class="button primary large disabled">
        </div>
      </div>
    </div>
  </div>
</div>

{% addtoblock "js" %}<script src="https://cdn.jsdelivr.net/npm/citation-js@0.4.0-8/build/citation.js"></script>{% endaddtoblock %}

{% addtoblock "js" %}<script>

$("#createPublicationModal").submit(function(e) {

  e.preventDefault();

  var export_as = cite.format($(this).val())
  console.log(export_as)
  var a = document.createElement('a');

  var a = $("<a></a>")
  a.attributes({
    href: 'data:text/plain;charset=utf-8,' + encodeURIComponent(export_as),
    download: `${$(this).val()}`,
  })

  a.hide()
  a.click();





  {% comment %} var form = $(this); {% endcomment %}
  {% comment %} console.log(citationObject) {% endcomment %}

  {% comment %} $.post({
      url: form.attr('action'),
      data: form.serialize(),
      success: function(data)
      {
        location.href = '/';
        window.location.reload(true);
      },
      error: function(data)
      {
        form.find('.error-message').show()
        form.find('.success-message').show()
        form.replaceWith(data.responseJSON.form)
      },
  }); {% endcomment %}

});

</script>{% endaddtoblock %}