{% extends "geoluminate/base/form_view.html" %}
{% load i18n formsetify geoluminate %}

{% block help_text %}
  {% blocktrans %}
  <p>You have chosen to review the following literature in order to identify any valuable scientific data that might be relevant to our community database.</p>
  {% endblocktrans %}
  <p class="citation-js ms-3 py-3" data-input="{{ object.CSL }}"></p>
  {% blocktrans %}
  <p>
    In accepting, you agree to the terms and conditions.

    complete the review in a timely manner. Once you accept, the literature will be parsed (where possible) into a Dataset entry where you will then be able to review metadata and upload any relevant data.
  </p>
  {% endblocktrans %}
{% endblock help_text %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type='submit' class='btn btn-success'>{% trans "Let's get started" %}</button>
  </form>
{% endblock %}
