{% extends "reviews/base.html" %}
{% load static i18n formsetify sekizai_tags geoluminate autotables %}

{% block content %}
  <p>{{object.dataset}}</p>
  <p>{{object.literature}}</p>
  <p>{{object.get_status_display }}</p>
{% endblock %}

{% block form %}
<form method='post'>
  {% csrf_token %}
  {{ form.as_p }}
  <button formaction="{% url "review:delete" pk=object.id %}" class='btn btn-warning'>{% trans "Delete" %}</button>
  <button formaction="{% url "review:delete" pk=object.id %}" class='btn btn-secondary'>{% trans "Reject" %}</button>
  <button formaction="{% url "review:submit" pk=object.id %}" class='btn btn-success'>{% trans "Submit completed review" %}</button>
  <button formaction="{% url "review:accept" pk=object.id %}" class='btn btn-success'>{% trans "Approve" %}</button>
</form>
{% endblock %}