{% extends "geoluminate/cards/two_column.html" %}
{% load i18n geoluminate %}

{% block card_header %}
{% endblock card_header %}
{% block card_body %}
{% endblock card_body %}
{% block pretitle %}
  {% with obj.review.reviewer.profile as profile %}
    <h6 class="my-0 text-muted fw-light">
      <span class="me-2" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-title="{% trans "Reviewer" %}" data-bs-content="{% trans "The following community member/s revised this literature item for inclusion in the database." %}">{% icon "person" %}</span>
      <span><a href="{{ profile.get_absolute_url }}" class=""></a></span>
    </h6>
  {% endwith %}
{% endblock pretitle %}
{% block card_head_status %}
  <span class="badge text-bg-primary {{ obj.review.status|slugify }}">{{ obj.review.get_status_display|default:"Open" }}</span>
{% endblock card_head_status %}
{% block subtitle %}
  <span class="text-muted">{{ obj.authors }}</span>
{% endblock subtitle %}
{% block card_left %}
  <h6>{% trans "Submitted" %}:</h6>
  <span>{{ obj.review.submitted|date|default:"-" }}</span>
  <h6>{% trans "Accepted" %}:</h6>
  <span>{{ obj.review.approved|date|default:"-" }}</span>
  <h6>{% trans "Database Release" %}:</h6>
  <span class="ms-2">{{ geoluminate.database.name }} v{% now "Y" %}.1</span>
{% endblock card_left %}
{% comment %} {% block footer_info %}
  {% trans "Release" %}: <span class="ms-2">{{ geoluminate.database.name }} v{% now "Y" %}.1</span>
{% endblock footer_info %} {% endcomment %}
{% block actions %}
  {% if not obj.review %}
    <a href="{% url "review:accept-literature" pk=obj.id %}" class="btn btn-success btn-sm">{% trans "Begin Review" %}</a>
  {% endif %}
  {% if request.user == obj.review.reviewer %}
    <a href="{{ obj.get_absolute_url }}" class="btn btn-success btn-sm">{% trans "Continue" %}</a>
  {% elif obj.review.status == 2 %}
    <a href="{{ obj.review.dataset.get_absolute_url }}" class="btn btn-primary btn-sm">{% trans "View Dataset" %}</a>
  {% endif %}
{% endblock actions %}
