{% extends "geoluminate/base/base_detail.html" %}
{% load static i18n formsetify sekizai_tags geoluminate %}

{% block sidebar_top %}
  <div>
    <form method='post'>
      {% csrf_token %}
      {% comment %} <button formaction="{% url "review:delete" pk=object.id %}" class='btn btn-warning'>{% trans "Delete" %}</button> {% endcomment %}
      {% comment %} <button formaction="{% url "review:delete" pk=object.id %}" class='btn btn-secondary'>{% trans "Reject" %}</button> {% endcomment %}
      <button formaction="{% url "review:submit" pk=object.id %}" class='btn btn-success'>
        {% trans "Submit completed review" %}
      </button>
      {% comment %} <button formaction="{% url "review:accept" pk=object.id %}" class='btn btn-success'>{% trans "Approve" %}</button> {% endcomment %}
    </form>
  </div>
  <p>{{ object.literature }}</p>
{% endblock sidebar_top %}
