.content-center {
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .align-items-center;
}

.tooltip {
  --bs-tooltip-bg: var(--bs-primary);
  --bs-tooltip-color: var(--bs-white);

  &.text-start {
    .tooltip-inner {
      text-align: left;
    }
  }

  ul {
    padding-left: 1rem;
  }
}

.tooltip-primary {
  --bs-tooltip-bg: var(--bs-primary);
  --bs-tooltip-color: var(--bs-white);
}

.tooltip-secondary {
  --bs-tooltip-bg: var(--bs-secondary);
  --bs-tooltip-color: var(--bs-white);
}

.navbar {
  button,
  a {
    color: var(--bs-navbar-color);
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-navbar-color);
    // @extend .bg-body;
  }

  &.bg-primary {
    button.btn,
    a.btn {
      @extend .text-white;
      // @extend .bg-primary;
    }
  }
}

// shortcut for adding a link with underline on hover
.link-underline-hover {
  @extend .link-underline;
  @extend .link-underline-opacity-0;
  @extend .link-underline-opacity-75-hover;
}

// center an element (requires the parent to have position-relative)
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sidebar {
  display: block;
  position: relative;
  width: $sidebar-width;
  min-height: 100%;
  z-index: inherit;
}

svg {
  overflow: visible;
  box-sizing: content-box;
  display: var(--fa-display, inline-block);
  vertical-align: -0.125em;
}

// for alpine.js x-cloak directive to work
[x-cloak] {
  display: none !important;
}

.overflow-auto {
  -ms-overflow-style: none;
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
}
body {
  scrollbar-width: thin;
}

.overflow-auto:hover {
  scrollbar-color: rgba(173, 173, 173, 0.852) transparent;
}

.bg-gradient-none {
  --bs-gradient: none;
}

.select2-container--open {
  z-index: 1055;
}

th {
  white-space: nowrap;
}

.editable {
  cursor: pointer;
}

// menus
.list-group-item {
  span.icon {
    min-width: 2em;
  }
}

.shadow-bottom {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25) !important;
}

.fairdm-table {
  --stripe-color: rgba(0, 0, 0, 0.03); /* Solid stripe color */
  --stripe-transparent: transparent; /* Transparent stripe */
  --stripe-width: 25px; /* Width and height of stripes */
  @extend .bg-light;

  background: linear-gradient(
    45deg,
    var(--stripe-color) 25%,
    var(--stripe-transparent) 25%,
    var(--stripe-transparent) 50%,
    var(--stripe-color) 50%,
    var(--stripe-color) 75%,
    var(--stripe-transparent) 75%,
    var(--stripe-transparent)
  );
  background-size: var(--stripe-width) var(--stripe-width);

  table {
    @extend .table-striped;
    @extend .table-sm;
    @extend .table-hover;
    margin: 0 !important;

    thead {
      position: sticky;
      top: 0;
    }
    tbody {
      td {
        white-space: nowrap;
      }
    }
  }
}

// DARK THEME OVERRIDES
html[data-bs-theme="dark"] {
  .fairdm-table {
    @extend .bg-dark;
  }
}
