{% load static i18n authentication %}

{% if user.is_authenticated %}
<li id='institutionDropdown' class="nav-item ms-auto dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="primary me-1 fas fa-university d-inline-block align-text-middle"></span>
    {% if user.ror_organization.exists %}
      {{user.ror_organization.first.name }}
    {% else %}
      {% trans "No Affiliations" %}
    {% endif %}
  </a>
  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
    {% if user.affiliation %}
      <li><a class="dropdown-item"  href="{% url 'user:profile' %}">{% trans "Profile" %}</a></li>
    {% else %}
      <li>
        {% comment %} <a href="{% url 'ror:register_affiliations' %}" class="dropdown-item"> {% endcomment %}
          <i class="fas fa-handshake me-2"></i>{% trans "Register affiliation" %}</a>
      </li>
    {% endif %}
  </ul>
</li>
{% endif %}