{% load static i18n sekizai_tags %}
<div>
  <svg id="gantt" style='height: 100%'></svg>
</div>

{% addtoblock 'css' %}<link rel="stylesheet" href="{% static 'node_modules/frappe-gantt/dist/frappe-gantt.min.css' %}">{% endaddtoblock %}
{% comment %} https://frappe.io/gantt {% endcomment %}

{% addtoblock 'js' %}<script src="{% static 'node_modules/frappe-gantt/dist/frappe-gantt.min.js' %}"></script>{% endaddtoblock %}

{% addtoblock 'js' %}
<script>
  var tasks = [
  {
  id: 'Task 1',
  name: 'Task 1',
  start: '2023-4-20',
  end: '2023-5-31',
  progress: 20,
  },
  {
    id: 'Task 2',
    name: 'Task 2',
    start: '2023-5-20',
    end: '2023-6-24',
    progress: 60,
    },
  ];
  $(function () {
  var gantt = new Gantt("#gantt", tasks);
  gantt.change_view_mode('Month')
  })
  </script>
  {% endaddtoblock %}

