{% load static %}


<div class='d-flex justify-content-between'>
  {% include "crossref/paginator.html" %}
  <img id='indicator' class="htmx-indicator" style='height:1em' src="{% static "core/spinners/spinning-circles.svg" %}"/>
  <a href="#filterPublicationsModal" class="icon solid filter" data-bs-target="#filterPublicationsModal" data-bs-toggle="modal" data-bs-dismiss="modal"></a>
</div>	
{% for year, publications in years %}
{% if not forloop.first %}<hr class="major" />{% endif %}
  {% include "crossref/publication_group.html" %}
{% endfor %}