{% extends "geoluminate/cards/two_column.html" %}
{% load i18n literature geoluminate %}

{% block card_header %}
  <div class="container pt-2 d-flex justify-content-between">
    {% if obj.review.status == 2 %}
      <div>{% trans "Submitted by" %}: {{ obj.review.reviewer }}, {{ obj.review.submitted|date }}</div>
      <span>{{ obj.review.get_status_display }}</span>
      <div>{% trans "Accepted by" %}: TBD, {{ obj.review.accepted|date }}</div>
    {% else %}
      {% trans "Under review by" %}: {{ obj.review.reviewer }}
      <span>{{ obj.review.get_status_display }}</span>
      <div>{% trans "Due by" %}: Future Date TBD</div>
    {% endif %}
  </div>
{% endblock card_header %}
{% block card_body %}
  <div class="text-truncate">
    {# djlint:off #}
  {% for author in obj.CSL.author %}
    {{ author.family }}, {{ author.given }}{% if not forloop.last %},{% endif %}
  {% endfor %}
    {# djlint:on #}
  </div>
  <h5 class="card-title">{{ obj.title }}</h5>
  <h6 class="card-subtitle mb-1">{{ obj|CSL:"container-title" }}</h6>
  <p class="card-text line-clamp max-lines-5">
    {% if obj.CSL.abstract %}{{ obj.CSL.abstract }}{% endif %}
  </p>
{% endblock card_body %}
{% block card_footer_content %}
  {% if obj.CSL.URL %}
    <a href="{{ obj.CSL.URL }}" class="btn btn-sm btn-primary me-1 z-2">
      <i class="fa-solid fa-globe"></i>
      {% trans "View online" %}
    </a>
  {% endif %}
  {% if not obj.review %}
    <a href="{% url "review:accept-literature" pk=obj.pk %}" class="btn btn-sm btn-success me-1 z-2">
      {% icon "review" %}
      {% trans "Begin Review" %}
    </a>
  {% else %}
    <a href="{% url "datasets:detail" uuid=obj.review.dataset.uuid %}" class="btn btn-sm btn-success z-2">
      {% icon "dataset" class="me-1" %}
      {% trans "View Dataset" %}
    </a>
  {% endif %}
{% endblock card_footer_content %}
{% block card_end %}
{% endblock card_end %}
{% comment %} {% block list_group %}
  {% if not obj.review %}
    <li>
      {% trans "Status" %}: <span>{% trans "Awaiting review" %}</span>
    </li>
  {% else %}
    <li>
      {% trans "Status" %}: <span>{{ obj.get_status_display }}</span>
    </li>
  {% endif %}
  <li>
    {% trans "Type" %}: <span>{{ obj.get_type_display|default:"-" }}</span>
  </li>
  <li>
    {% trans "Published" %}: <span>{{ obj.published|date:"Y"|default:"-" }}</span>
  </li>
  <li>
    {% trans "Volume" %}: <span>{{ obj.CSL.volume|default:"-" }}</span>
  </li>
  <li>
    {% trans "Page" %}: <span>{{ obj.CSL.page|default:"-" }}</span>
  </li>
  <li>
    {% trans "Dataset" %}: <a href="{{ obj.review.get_absolute_url }}" class="float-end"><i class="fa-solid fa-folder-open text-primary"></i></a>
  </li>
{% endblock list_group %} {% endcomment %}
{% comment %} {% block info %}
  {% trans "Date Added" %}: <span>{{ obj.created|date:"dS M, Y" }}</span>
{% endblock info %} {% endcomment %}
