{% load i18n authentication %}

<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <span class="primary me-1 icon fa-user-circle d-inline-block align-text-middle"></span>
      {% if user.is_authenticated %}
        {{user.display_name}}
      {% else %}
        {% trans "Guest" %}
      {% endif %}
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% if user.is_authenticated %}
          <li><a class="dropdown-item"  href="{% url 'user:profile' %}">{% trans "Profile" %}</a></li>
          <li><a class="dropdown-item"  href="{% url 'user:dashboard' %}">{% trans "Dashboard" %}</a></li>
          <li><a class="dropdown-item"  href="{% url 'user:account' %}">{% trans "Settings" %}</a></li>
          {% if user.is_staff %}
            <li><a class="dropdown-item"  href="{% url 'admin:index' %}?toolbar_off">{% trans "Admin" %}</a></li>
            {% if request.user|has_group:"CMS" or request.user.is_superuser %}
              <li><a class="dropdown-item" href="./?edit">{% trans "Edit Page" %}</a></li> 
            {% endif %}
          {% endif %}
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item"  href="{% url 'account_logout' %}">{% trans "Logout" %}</a></li>
        {% else %}
          <li>{% auth_link '#loginModal' "Login" "dropdown-item" %}</li>
          <li>{% auth_link '#createAccountModal' "Register" "dropdown-item" %}</li>
          {% endif %}

      </ul>
    </ul>
  </li>

</ul>