{% extends "geoluminate/base/base_detail.html" %}
{% load static i18n formsetify geoluminate sekizai_tags %}

{% block image %}<img src="{{ object.profile_image }}" class='w-50 rounded-circle' alt="{{ object }}">{% endblock %}

{% block description %}
<span class='small'>
  {{object.about|safe|truncatewords_html:50}}
</span>
{% endblock %}

{% block scripts %}
{{ block.super }}
{% addtoblock 'js' %}<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>{% endaddtoblock %}
{% endblock scripts %}



