{% extends "geoluminate/base/base_detail.html" %}
{% load geoluminate %}
{% block main %}{% include template_name %}{% endblock main %}

{% block sidebar_header %}
<div>
  {% avatar user.profile class='shadow me-2 rounded-circle' %}
  <span>{{ request.user.profile }}</span>
</div>
{% endblock %}

{% block sidebar_content %}
<section>
  <h2>Date Joined</h2>
  <span class='ms-2'>{{object.created}}</span>
</section>
<section>
  <h2>Affiliations</h2>
  <ul>
  {% for org in contributor.affiliations.all %}
    <li>{{org}}</li>
    {% endfor %}
  </ul>
</section>
<section>
  <h2>Research Interests</h2>
  {% for interest in contributor.interests.all %}
    <span class="badge rounded-pill text-bg-primary">{{interest}}</span>
  {% endfor %}
  <span>{{object.primary_affiliation}}</span>
</section>

{% endblock %}
