{% extends "geoluminate/base/base_list.html" %}

{% block heading %}GHFDB Contributors{% endblock %}

{% block description %}
The projects listed here have been created by community members looking to share their past, present and future projects with the community. Creating and sharing projects is a great way to showcase your previous work, update the community on your current research and potentially establish new collaborative partnerships. If you have a project you would like to share, or would just like an easy way to group your related datasets, head to your <a href="{{user.get_absolute_url}}">contributor profile</a> and get started now.
{% endblock %}
