{% load i18n geoluminate contributor_tags %}

{% spaceless %}
  {% with obj.profile as contributor %}
    <div class="entry-list-item col-{{ col }} {% if col < 12 %}px-2{% endif %} {% for role in obj.roles %}{{ role }}{% endfor %}">
      <div class="card border-bottom h-100 mb-2">
        <div class="card-body">
          <div class='row mx-auto'>
            <div class='col-auto px-0'>{% avatar contributor class='rounded-circle' %}</div>
            <div class='col'>
              <div class='card'>
                <a href="{{ contributor.get_absolute_url }}" class='text-decoration-none'>
                  <div class="card-title">{{ contributor }}</div>
                </a>
                {% if contributor.user %}
                  <div class='card-subtitle'>
                    {% icon "organization" %}
                    {{ contributor.default_affiliation }}
                  </div>
                {% endif %}
                <div class='card-subtitle'>
                  {% icon "location" %}
                  {{ contributor.location }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='card-footer'>{% follow_button contributor %}</div>
      </div>
    </div>
  {% endwith %}
{% endspaceless %}
