{% extends "geoluminate/base/base_list.html" %}
{% block description %}
  The people and organisations listed here have contributed in some way to a dataset that has passed our internal review process and been included in the {{ geoluminate.database.name }}. The contributor profiles presented here aim to promote a sense of community and foster collaboration between active and future members of the portal. All information has either been found through publicly available sources or has been provided by the active community member themselves. If you take issue with any personal information presented here, please <a href="{% url "django_contact_form" %}">contact us</a> directly and we will work with you to resolve the issue.
{% endblock description %}
