{% extends "base.html" %}
{% load static flex_menu partials geoluminate i18n %}
{% load render_bundle from webpack_loader %}

{% block page_nav %}
  <c-bs5.nav id="pageMenu"
             class="border-bottom border-1 border-secondary-subtle px-2 position-relative shadow-sm bg-gradient"
             tabstyle="underline">
    {% if base_object %}
      {% render_menu menu pk=base_object.pk %}
    {% else %}
      {% render_menu menu pk=object.pk %}
    {% endif %}
    <c-menu.widgets class="ms-auto">
      <c-bs5.dropdown button_class="" icon="ellipsis">
        {% if dataset %}
          <c-bs5.button href="{% url "dataset-upload" pk=dataset.pk %}"
                        hx-get="{% url "dataset-upload" pk=dataset.pk %}"
                        hx-target="#pluginContainer"
                        class="dropdown-item"
                        text="{% trans "Upload" %}"
                        icon="upload" />
          <h6 class="dropdown-header">{% trans "Download" %}</h6>
          <c-bs5.button href="{% url "dataset-metadata-download" pk=dataset.pk %}"
                        class="dropdown-item"
                        text="{% trans "Metadata" %}"
                        icon="download-xml" />
          <c-bs5.button href="{% url "samples-download" %}"
                        class="dropdown-item"
                        text="{% trans "Archive" %}"
                        icon="download-zip" />
        {% endif %}
      </c-bs5.dropdown>
    </c-menu.widgets>
  </c-bs5.nav>
{% endblock page_nav %}

{% block content %}
  <c-layout.detail>
    <c-slot name="sidebar">
      <c-detail.sidebar image_class="ratio ratio-1x1 rounded-circle w-75 mx-auto">
        <c-sidebar.section heading="">
          <h1 class="fs-5">{{ object }}</h1>
          <c-bs5.button class="text-success"
                        icon="orcid"
                        href="//test.com"
                        text="0000-0000-0000-0001" />
        </c-sidebar.section>
        <c-sidebar.section heading="{% trans "External Links" %}">
          {% for link in object.links %}
            <c-bs5.button icon="link"
                          class=""
                          href="{{ link.url }}"
                          text="{{ link.display }}" />
          {% endfor %}
        </c-sidebar.section>
        <c-sidebar.section heading="{% trans "Organizations" %}">
          {% for link in object.links %}
            <c-bs5.button icon="organization"
                          class=""
                          href="{{ link.url }}"
                          text="{{ link.display }}" />
          {% endfor %}
        </c-sidebar.section>
      </c-detail.sidebar>
    </c-slot>
    {% block plugin %}
    {% endblock plugin %}

    <div class="container">
      <h2>{% trans "About" %}</h2>
      {{ object.profile }}
      <h2>{% trans "Projects" %}</h2>
      {{ object.profile }}
      <h2>{% trans "Datasets" %}</h2>
      {{ object.profile }}
    </div>
  </c-layout.detail>
{% endblock content %}
