{% load i18n geoluminate contributor_tags %}
{% spaceless %}{% with obj.profile as contributor %}
<div class="card h-100 w-100 border-bottom">
  <div class="card-body">
    <div class='row mx-auto'>
      <div class='col-auto px-0'>{% avatar contributor class='rounded-circle' %}</div>
      <div class='col'>
        <div class='card'>
          <a href="{{ contributor.get_absolute_url }}" class='text-decoration-none'>
            <div class="card-title">{{ contributor }}</div>
          </a>
          {% if contributor.user %}
          <div class='card-subtitle'>
            {% icon "organization" %}
            {{ contributor.default_affiliation }}
          </div>
          {% endif %}
          <div class='card-subtitle'>
            {% icon "location" %}
            {{ contributor.location }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='card-footer'>
    {% follow_button contributor %}
  </div>
</div>
{% endwith %}{% endspaceless %}
