{% load i18n formsetify %}

<div id="{{ request.htmx.target }}"
     class="card"
     hx-target='this'
     hx-swap="outerHTML"
     hx-select="#{{ request.htmx.target }}">
  {{ form.media.css }}
  <div class='card-body'>
    {% comment %} <django-formset>
      {% render_form form %}
    </django-formset> {% endcomment %}
    <form id='targetForm' hx-post="{{ request.get_full_path }}" hx-trigger='submit'>
      {{ form.as_p }}
    </form>
    {{ form.media.js }}
  </div>
  <div class='card-footer'>
    <button class="btn btn-secondary" hx-get="{% url "contributor:edit" uuid=object.uuid %}">
      <i class='fa-solid fa-ban'></i>
      {% trans "Cancel" %}
    </button>
    <button class="btn btn-success" type="submit" form="targetForm">
      <i class='fa-solid fa-floppy-disk'></i>
      {% trans "Save" %}
    </button>
  </div>
</div>
