{% extends "geoluminate/plugins/base_list.html" %}
{% block toolbar_left %}
  <div class="filter-button-group" role="group" aria-label="Contributor roles filter button group">
    {% for role, label in all_contributor_roles.choices %}
      <button class="btn btn-sm btn-outline-primary mb-1" data-filter=".{{ role }}">{{ label }}</button>
    {% endfor %}
  </div>
{% endblock toolbar_left %}
{% block toolbar_right %}
  <div class="dropdown">
    <button class="btn btn-primary btn-sm dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">Type</button>
    <div class="dropdown-menu filter-button-group"
         role="group"
         aria-label="Contributor type filter dropdown">
      <button class="dropdown-item" data-filter=".Personal">Person</button>
      <button class="dropdown-item" data-filter=".Organizational">Organization</button>
    </div>
  </div>
{% endblock toolbar_right %}
