{% extends "geoluminate/object_form.html" %}
{% load crispy_forms_tags partials %}

{% block content %}
  {% partialdef plugin inline=True %}
  <c-plugin layout="page" title="{{ view.title }}">
    <c-slot name="actions">
      {% block actions %}
        <div class="dropdown">
          <c-bs5.button class="btn btn-primary btn-sm"
                        text="{% trans "New" %}"
                        icon="plus"
                        data-bs-toggle="dropdown" />
          <ul class="dropdown-menu">
            {% for form in forms %}
              <li>
                <a class="dropdown-item"
                   href="#"
                   data-bs-toggle="modal"
                   data-bs-target="#rorFormModal">From ROR</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endblock actions %}

    </c-slot>
    <c-card-list class="row-cols-5"
                 :object_list="object_list"
                 :template="object_template" />
  </c-plugin>
  <div>
    <c-form-modal id="rorForm"
                  method="post"
                  action="{% url 'ror-create' %}"
                  hx-post="{% url 'ror-create' %}"
                  hx-vals='{"object": "{{ base_object.pk }}"}'
                  :form="forms.ror"
                  help_text="{% trans "Add an organization using the Research Organization Registry" %}"
                  title="Add organization" />
  </div>
{% endpartialdef plugin %}

{% endblock content %}
