{% load static sekizai_tags i18n authentication %}

<div id="resetPasswordModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="resetPasswordModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      {% include 'geoluminate/modals/header.html' with header='Forgot Password' %}
      <div class='modal-body'>
        <p class='mb-3'>{% trans "Enter your email below and press send to recover your account. If the email provided matches exists in our system, we will send you a link to reset your password." %}</p>
        {% authentication_form "reset_password" %}
        <div class="modal-footer">
          <input form='resetPasswordForm' type="submit" name="submit" value="{% trans "Send" %}" class="btn btn-primary">
        </div>
      </div>
    </div>
  </div>
</div>

{% addtoblock "js" %}<script>
  $("#resetPasswordForm").submit(function(e) {
    console.log('Here')
    e.preventDefault();
    var form = $(this);
    console.log(form.serialize())

    $.post({
        url: form.attr('action'),
        data: form.serialize(),
        success: function(data)
        {
          console.log('Do Something!')
        },
        error: function(data)
        {
          form.replaceWith(data.responseJSON.form)
        },
    });
  });
    </script>{% endaddtoblock %}