{% load i18n l10n cms_tags cms_js_tags static sekizai_tags %}


<div id="cms-top" class="cms cms-reset nav-item dropdown
     {% if not user.is_authenticated %} cms-toolbar-auth{% endif %}
     {% if debug %} cms-toolbar-debug{% endif %}
     "
     dir="ltr" data-touch-action="none">
     {% block toolbar_top %}
     {% endblock toolbar_top %}

    {# start: toolbar #}
    <div class='cms-toolbar'>
        <div class="cms-debug-bar"></div>
        <div class="cms-toolbar-left">
            <a class="nav-link" href="#" id="cms-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg class="bi" width="90" height="24" preserveAspectRatio="xMinYMid meet">
                    <use xlink:href="{% static "geoluminate/icons/icons.svg" %}#djangocms"/>
                </svg>
            </a>
            <ul class="cms-toolbar-item cms-toolbar-item-navigation dropdown-menu dropdown-menu-end">
                {% for item in cms_toolbar.get_left_items %}
                    {{ item.render }}
                {% endfor %}
                {% for item in cms_toolbar.get_right_items %}
                    {{ item.render }}
                {% endfor %}
            </ul>
        </div>
    </div>
    {# end: toolbar #}
    

</div>


{% block toolbar_bottom %}
{% endblock toolbar_bottom %}







