{% load static geoluminate django_htmx compress %}
{% load render_bundle from webpack_loader %}

<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
{% include 'meta/meta.html' %}
<link rel="icon" type="image/svg+xml" href="{% brand "icon" %}" />
<link href="{% static 'formset/css/bootstrap5-extra.css' %}" rel="stylesheet" />
<link href="{% static 'formset/css/collections.css' %}" rel="stylesheet" />
<script type="module" src="{% static 'formset/js/django-formset.js' %}" crossorigin="anonymous"></script>
{% django_htmx_script %}
{% compress css %}
  <link rel="stylesheet" type="text/x-scss" href="{% static "scss/stylesheet.scss" %}" />
{% endcompress %}
{% render_bundle 'project' 'css' 'GEOLUMINATE' %}
{% comment %} JAVASCRIPT {% endcomment %}
<script src={% static "vendors/jquery-3.7.1.min.js" %} defer></script>
{% render_bundle 'bootstrap' 'js' 'GEOLUMINATE' attrs="defer" %}
{% render_bundle 'htmx' 'js' 'GEOLUMINATE' attrs="defer" %}
{% render_bundle 'justGage' 'js' 'GEOLUMINATE' attrs="defer" %}
{% render_bundle 'project' 'js' 'GEOLUMINATE' attrs="defer" %}
<script src="{% static "vendor/citation-js/citation.js" %}" defer></script>
