{% load static geoluminate %}
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport"
      content="width=device-width, initial-scale=1"/>
<meta name="author" content="Sam Jennings">
{% include 'meta/meta.html' %}
<link rel="icon" type="image/svg+xml" href="{% icon %}">
<script type="module" src="{% static 'formset/js/django-formset.js' %}" crossorigin="anonymous"></script>
<link href="{% static 'formset/css/bootstrap5-extra.css' %}" rel="stylesheet">
<link href="{% static 'formset/css/collections.css' %}" rel="stylesheet">

<link rel="stylesheet" type="text/x-scss" href="{% static "geoluminate/scss/geoluminate.scss" %}">
<script src="https://kit.fontawesome.com/269c5474e1.js" crossorigin="anonymous" data-auto-replace-svg="nest"></script>
<script src="https://unpkg.com/htmx.org@1.8.0"
        integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc"
        crossorigin="anonymous"></script> 
{% comment %} <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
      /> {% endcomment %}