{% extends "base.html" %}
{% load static sekizai_tags %}

{% block content %}
<div class='container table-responsive fill-available overflow-auto'>
  <table class="table table-sm table-striped table-hover w-100">
    <thead class="table-light text-capitalize"></thead>
  </table>
</div>
        
{% addtoblock "css" %}<link rel="stylesheet" type="text/css" href="{% static 'datatables/datatables.min.css' %}"/>{% endaddtoblock %}

{% comment %} Datatables and Editor.js {% endcomment %}
{% addtoblock "js" %}<script src="{% static 'datatables/datatables.min.js' %}"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{% static 'datatables/remoteTable.js' %}"></script>{% endaddtoblock %}


{% comment %} Table Creation {% endcomment %}
{% addtoblock "js" %}
<script>$(function () {

  var table = $('table').RemoteDataTable("{{ remote_url }}")
})
</script>


{% endaddtoblock %}
{% endblock content %}





