{% extends 'application.html' %}
{% load i18n formsetify %}

{% block content %}
<div class='container pt-5'>
 <header class='header'>
  <strong>{% trans "Sample Name" %}: {{ sample.name }}</strong>
 </header>

 <div class='row'>
  <div class='col-3 border-end'>
    <div class='bg-secondary-subtle'>
      <img src="http://placekitten.com/400/600" class="object-fit-contain w-100" height=200>
    </div>
    <h5 class='py-3'>{% trans "Sampled by" %}</h5>
    <div class='me-2'>
      <img src="http://placekitten.com/100/100" class="img-fluid rounded-circle">
    </div>    
    <h5 class='py-3'>{% trans "Key dates" %}</h5>
    <ul class="list-group border-0">
      {% for date in key_dates %}
        <li class="list-group-item">{{ date.label|title }}: {{ date.value }}</li>
      {% endfor %}
    </ul>
    <h5 class='py-3'>{% trans "Belongs to" %}</h5>
    {% include "dataset/card.html" with dataset=sample.dataset %}
    {% include "project/card.html" with project=sample.dataset.project %}
  </div>
  <div class='col-9'>
    <section class='card border-0 border-bottom'>
      <div class='card-body px-0'>
        <h5>{% trans "Description" %}</h5>
        {% comment %} <p>{{sample.description|safe}}</p> {% endcomment %}
      </div>
     </section>
     <section class='card border-0 border-bottom'>
      <div class='card-body px-0'>
        <h5 class="card-title">{% trans "Measurements" %}</h5>
        <div class='d-flex w-100'>
          {% for measurement in measurements %}
            {% include "measurement/card.html" %}
          {% empty %}
            {% trans "No measurements have been made on this sample yet." %}
          {% endfor %}
        </div>
      </div>
     </section>
  </div>
 </div>







</div>

{% endblock content %}