{% load static meta sekizai_tags fairdm compress easy_icons django_htmx pwa %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}"
      x-data="theme"
      :data-bs-theme="activeTheme">
  <head {% meta_namespaces %}>
    {% block head %}
      <meta charset="utf-8" />
      <meta http-equiv="x-ua-compatible" content="ie=edge" />
      <meta name="viewport"
            content="width=device-width, initial-scale=1" />
      {% include "meta/meta.html" %}
      {% progressive_web_app_meta %}
      <link rel="icon"
            type="image/svg+xml"
            href="{% static "img/brand/icon.svg" %}" />
      {% compress css file fairdm %}
        <link rel="stylesheet"
              type="text/x-scss"
              href="{% static "scss/stylesheet.scss" %}" />
      {% endcompress %}
      {% render_bundle "project" "css" "FAIRDM" %}
      <script defer
              src="https://cdn.jsdelivr.net/npm/@alpinejs/sort@3.x.x/dist/cdn.min.js"></script>
      {% compress js file fairdm %}
        {% render_bundle "project" "js" "FAIRDM" attrs="defer" %}
      {% endcompress %}
      {% compress js file fairdm %}
        <script>
          (function() {
            const theme = localStorage.getItem('_x_theme') || (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');
            document.documentElement.setAttribute('data-bs-theme', JSON.parse(theme));
          })();
        </script>
        {% render_bundle "popper" "js" "FAIRDM" %}
      {% endcompress %}
      {% django_htmx_script %}
      {{ config|json_script:"database-identity" }}
      <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.bootstrap5.min.css"
            integrity="sha512-Ars0BmSwpsUJnWMw+KoUKGKunT7+T8NGK0ORRKj+HT8naZzLSIQoOSIIM3oyaJljgLxFi0xImI5oZkAWEFARSA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
      <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
            rel="stylesheet" />
      <script src="https://code.jquery.com/jquery-3.7.1.min.js"
              integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
              crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
      <!-- Include Selectize JS -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js"
              integrity="sha512-IOebNkvA/HZjMM7MxL0NYeLYEalloZ8ckak+NDtOViP7oiYzG5vn6WVXyrJDiJPhl4yRdmNAG49iuLmhkUdVsQ=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer"></script>
    {% endblock head %}

    {% render_block "css" %}
    {% block css %}
    {% endblock css %}

  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        hx-target="main"
        hx-ext="debug,preload"
        x-data="{{ config|safe }}"
        class="vstack vh-100 w-100">
    {% block body %}
      {% block application %}
        {% block content_menu %}
          <c-nav.main show_brand="true">
          </c-nav.main>
        {% endblock content_menu %}

        {% block page_nav %}
        {% endblock page_nav %}

        {% comment %} <main class="flex-grow-1 overflow-hidden"> {% endcomment %}
        {% block content_wrapper %}
          {% block content %}
          {% endblock content %}
        {% endblock content_wrapper %}

        {% comment %} </main> {% endcomment %}
      {% endblock application %}

      <c-messages.container id="messageContainer" />
      {% block body_end %}
      {% endblock body_end %}

      <div id="bodyEnd"></div>
      {% block js %}
      {% endblock js %}

      {% if user.is_authenticated %}
        {% include "account_management/sidebar.html" %}
      {% endif %}
    {% endblock body %}

    {% render_block "js" %}
    {% render_block "body_end" %}
  </body>
</html>
