{% load sekizai_tags static compress %}

<c-layout.standard>
  <c-slot name="head">
    <link rel="stylesheet" href="{{ swagger_ui_css }}" />
  </c-slot>
  <c-layout.page :hr="False">
    <div id="swagger-ui"></div>
  </c-layout.page>
  <script src="{{ swagger_ui_bundle }}"></script>
  <script src="{{ swagger_ui_standalone }}"></script>
  {% if script_url %}
    <script src="{{ script_url }}"></script>
  {% else %}
    {# djlint:off #}
  <script>{% include template_name_js %}</script>
    {# djlint:on #}
  {% endif %}
</c-layout.standard>
