{% extends 'geoluminate/layout/sidebar_left.html' %}

{% load static i18n formsetify geoluminate sekizai_tags %}

{% block title %}{{ geoluminate.database.acronym}} {{ object|verbose_name|title }}{% endblock %}

{% block title_after %}{{ object|title }}{% endblock %}

{% block page_nav %}
<ul class="nav nav-pills nav-pills-alternate d-print-none" id="myTab" role="tablist">

  {% for item in navigation %}
  <li class="nav-item" role="presentation">
      <button  href="{{ item.url }}" data-bs-toggle="pill" type="button" role="tab"
          hx-get="{{ item.url }}"
          class="nav-link {{ item.extra_classes }}{% if forloop.first %} active{% endif %}"
          >
        <i class="fas {{ item.icon }}"></i>
        {{ item.title }}
      </button>
    </li>
  {% endfor %}
    {% comment %} <button class="nav-link {% if forloop.first %}active{% endif %}" data-bs-toggle="pill" data-bs-target="#{{panel.title}}" type="button" role="tab" aria-controls="{{panel.title}}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
      <i class="{{panel.icon}}"></i>
      <span>{{panel.title}}</span>
    </button> {% endcomment %}

  {% comment %} {% for panel in panels %}
    <li class="nav-item" role="presentation">
      <button class="nav-link {% if forloop.first %}active{% endif %}" id="{{panel.title}}-tab" data-bs-toggle="pill" data-bs-target="#{{panel.title}}" type="button" role="tab" aria-controls="{{panel.title}}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
        <i class="{{panel.icon}}"></i>
        <span>{{panel.title}}</span>
      </button>
    </li>
  {% endfor %} {% endcomment %}
</ul>


  {% comment %} <ul class="nav nav-pills nav-pills-alternate d-print-none" role="tablist">
    {% for panel in navigation %}
      <li class="nav-item" role="presentation">
        <button class="nav-link {% if forloop.first %}active{% endif %}" id="{{panel.title}}-tab" data-bs-toggle="pill" data-bs-target="#{{panel.title}}" type="button" role="tab" aria-controls="{{panel.title}}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
          <i class="{{panel.icon}}"></i>
          <span>{{panel.title}}</span>
        </button>
      </li>
    {% endfor %}
  </ul> {% endcomment %}
{% endblock %}


{% block navbar_menu %}
  <li class="nav-item child">
    <a class="nav-link" href="{{ object.get_list_url}}">
      <div class="d-flex align-items-center">
        <span>{{ geoluminate.database.acronym}} {{ view.model|verbose_name_plural|title }}</span>
      </div>
    </a>
  </li>
  <span class='nav-link'>/</span>
  <li class="nav-item child">
    <a class="nav-link" href="{{ object.get_absolute_url }}">
      <div class="d-flex align-items-center">
        <span>{{object}}</span>
      </div>
    </a>
  </li>
{% endblock %}

{% block sidebar_header %}<small class='text-muted'>{{object.uuid}}</small>{% endblock %}

{% block sidebar_content %}
  <div class='w-100 d-flex justify-content-center'>
    {% if object.image %}
      <img src="{{object.image.url}}" class='w-100' alt="">
    {% else %}
      <img src="http://placekitten.com/1200/630" class='w-100' alt="">
    {% endif %}
  </div>
  <section>
    <h5>{% trans "Title" %}</h5>
    <div class='sidebar-section-content'>
    {{object.title}}
    </div>
  </section>
  {% include "core/snippets/contributors.html" with title="Contact Person" contributors=object.get_contact_persons %}
{% endblock %}

{% block main %}
<code>
  <pre>
  {% autoescape off %}
  {{ object.generate_xml|force_escape }}
  {% endautoescape %}
  </pre>
</code>


  {% comment %} <div class="tab-content flex-grow-1 d-flex">
    {% for panel in panels %}
      <div class="tab-pane fade w-100 {% if forloop.first %}show active{% endif %}" id="{{panel.title}}" role="tabpanel" aria-labelledby="{{panel.title}}-tab" tabindex="0">
        {% include panel.template_name with title=panel.title %}
      </div>
    {% endfor %}
  </div> {% endcomment %}
{% endblock %}


{% block toolbar_right %}
<a href="#" class='py-0 px-1 fas fa-link'></a>
{% include "geoluminate/components/social_share/icon_link.html" %}
<a id='printPage' href="#" class='py-0 px-1 fas fa-print'></a>
{% endblock toolbar_right %}


{% block scripts %}

{% addtoblock 'js' %}
  <script>
    $("#contributorModal").on("show.bs.modal", function (event) {
      var button = $(event.relatedTarget);
      var modal = $(this);
      modal.find(".contributor-name").text(button.data("bs-name"));
      modal.find(".profile-image").html(button.data("bs-image"));
      modal.find(".contributor-roles").text(button.data("bs-roles"));
      modal.find(".contributor-bio").html(button.data("bs-bio"));
      modal.find(".modal-footer a").attr("href", button.data("bs-url"))
    });
  </script>
{% endaddtoblock %}

<script>
  $("#Map-tab").on('shown.bs.tab', function (e) {
    map.invalidateSize();
  })
</script>

{% comment %} https://github.com/jasonday/printThis {% endcomment %}
<script src="{% static 'node_modules/print-this/printThis.js' %}"></script>

{% comment %} <script>
$("#printPage").click(function() {
  $("section").printThis({
    importCSS: true,
    importStyle: true,
    loadCSS: "{% static 'css/print.css' %}",
    header: "<h1>{{ object|verbose_name|title }}: {{ object.title }}</h1>",
    footer: "<p>Printed on {{ now|date:'SHORT_DATE_FORMAT' }}</p>",
    pageTitle: "{{ object|verbose_name|title }}: {{ object.title }}",
    base: true,
    canvas: true,
    removeScripts: true,
    copyTagClasses: true,
    header: "<h1>{{ object.title }}</h1>",
    footer: "<p>Printed on {{ now|date:'SHORT_DATE_FORMAT' }}</p>",
    pageTitle: "{{ object.title }}",
    base: true,
    canvas: true,
    removeScripts: true,
    copyTagClasses: true,
    beforePrint: function() {
      $("section").addClass("printable-printing");
    },
    afterPrint: function() {
      $("section").removeClass("printable-printing");
    }
  });
}
);

</script> {% endcomment %}
{% endblock scripts %}

