{% load i18n geoluminate %}

<div class="dcsic_wrapper{% if current_img_url %} has_image{% endif %}"
     data-res-width="{{ widget.res_width }}"
     data-res-height="{{ widget.res_height }}"
     data-res-format="{{ widget.res_format }}"
     data-res-quality="{{ widget.res_quality }}">
  <div class='image-wrapper position-relative'
       style="width: {{ widget.preview_width }}px;
              height: {{ widget.preview_height }}px">
    <input type="hidden"
           name="{{ widget.name }}"
           {% include "django/forms/widgets/attrs.html" %}
           {% if original_uploaded_data %}value="{{ original_uploaded_data }}"{% endif %} />
    <img src="{{ current_img_url }}"
         class="dcsic_current_img"
         style="width: {{ widget.preview_width }}px;
                height: {{ widget.preview_height }}px" />
    {% avatar width=widget.preview_width|addstr:"px" class="missing_image" %}
    <div class="dropdown position-absolute end-0 bottom-0 mb-2">
      <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class='fa-solid fa-pencil'></i>
        {% trans "Edit" %}
      </button>
      <ul class="dropdown-menu">
        <label class='w-100'>
          <li class="dcsic_choose_img">
            <span class="dropdown-item">{% trans "Choose image" %}</span>
          </li>
          <li class="dcsic_choose_other_img">
            <span class=" dropdown-item">{% trans "Choose other image" %}</span>
          </li>
          {% if input_clearable %}
            <li class="dcsic_delete_image">
              <span class=" dropdown-item">{% trans "Delete image" %}</span>
            </li>
          {% endif %}
          <input type="file" class="dcsic_file_input" accept="image/*" />
        </label>
      </ul>
    </div>
  </div>
</div>
<div class="dcsic_overlay modal">
  <div class="dcsic_dialog modal-dialog modal-fullscreen">
    <div class='modal-content'>
      <div class="modal-header">
        <h5 class="modal-title">{% trans "Profile Image" %}</h5>
        <button type="button" class="btn-close dcsic_cancel" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="dcsic_croppie_container h-100"></div>
      </div>
      <div class="dcsic_buttons modal-footer">
        <div class='text-end'>
          <button class="dcsic_right btn btn-primary">
            <span class="dcsic_icon">↺</span> {% trans "Rotate left" %}
          </button>
          <button class="dcsic_left btn btn-primary">
            <span class="dcsic_icon">↻</span> {% trans "Rotate right" %}
          </button>
        </div>
        <div>
          <button class="dcsic_cancel btn btn-secondary">{% trans "Cancel" %}</button>
          <button class="dcsic_ok btn btn-success">{% trans "Done" %}</button>
        </div>
      </div>
    </div>
  </div>
</div>
