{% load static i18n %}

<div id="flagCommentModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="flagCommentModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      {% include 'geoluminate/modals/header.html' with header='Flag for review' %}
      <div class='modal-body'>
        <p>{% trans "You are about to flag the following comment for review by site moderators" %}.</p>
        <figure>
          <blockquote class="blockquote"></blockquote>
          <figcaption class="blockquote-footer"></figcaption>
        </figure>
        <form id='flagCommentForm' action="" method="post">
          {% csrf_token %}
          <input id='flagComment_id' type="hidden" name="next" value="">
        </form>
        <div class="modal-footer">
          <input form='flagCommentForm' type="submit" name="submit" value="{% trans "Confirm" %}" class="btn btn-primary">
        </div>
      </div>
    </div>
  </div>
</div>