{% load i18n static sekizai_tags %}


<div id='app'>
  <div id='shadow'></div>
</div>

{% addtoblock "css" %}<script defer src="{% static 'node_modules/ghfdb_map_viewer/js/chunk-vendors.884b4230.js' %}"></script>{% endaddtoblock %}
{% addtoblock "css" %}<script defer src="{% static 'node_modules/ghfdb_map_viewer/js/app.62582b32.js' %}"></script>{% endaddtoblock %}
{% addtoblock "css" %}<link href="{% static 'node_modules/ghfdb_map_viewer/css/chunk-vendors.6dbcc75e.css' %}" rel="stylesheet">{% endaddtoblock %}
{% addtoblock "css" %}<link href="{% static 'node_modules/ghfdb_map_viewer/css/app.4e7a47cd.css' %}" rel="stylesheet">{% endaddtoblock %}


