{% extends "base.html" %}
{% load i18n static sekizai_tags %}
{% load render_bundle from webpack_loader %}

{% block css %}
  {{ block.super }}
  {% render_bundle 'detail' 'css' 'GEOLUMINATE' %}
{% endblock css %}

{% block javascript %}
  {{ block.super }}
  {% render_bundle 'detail' 'js' 'GEOLUMINATE' attrs="defer" %}
{% endblock javascript %}

{% block main %}
  {% comment %} <style>
   main.page {
     position: initial;
   }

   .sidebar {
     background-color: unset !important;
     background-image: none !important;
     border: none !important;
   }
 </style> {% endcomment %}
  <div id="map">
    <div id="shadow"></div>
  </div>
  <style>
    #map,
    .maplibregl-canvas {
      width: 100% !important;
      height: 100% !important;
      z-index: 0;
    }

    #shadow {
      box-shadow: inset -2px -2px 8px 7px #00000026;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      pointer-events: none;
    }
  </style>
{% endblock main %}

{% block body_end %}
  <script defer>
       console.log("Map")
       var map = new maplibre.Map({
            container: "map", // container id
            style: 'https://demotiles.maplibre.org/style.json', // style URL
            center: [0, 0], // starting position [lng, lat]
            zoom: 1 // starting zoom
       })
  </script>
{% endblock body_end %}
