{% extends "base.html" %}
{% load i18n static sekizai_tags %}
{% comment %} {% block title %}{{ geoluminate.database.acronym }} {% trans "Explorer" %}{% endblock title %} {% endcomment %}

{% block main %}
<style>
  main.page {
    position: initial;
  }
  .sidebar {
    background-color: unset !important;
    background-image: none !important;
    border: none !important;
  }
</style>

<div id='app' class='w-100 h-100'>
  <div id='shadow'></div>
</div>

{% addtoblock "css" %}<script defer src="{% static 'node_modules/whfd-mapping/dist/js/chunk-vendors.a34f2da6.js' %}"></script>{% endaddtoblock %}
{% addtoblock "css" %}<script defer src="{% static 'node_modules/whfd-mapping/dist/js/app.c7039588.js' %}"></script>{% endaddtoblock %}


{% addtoblock "css" %}<link href="{% static 'node_modules/whfd-mapping/dist/css/chunk-vendors.97a6882d.css' %}" rel="stylesheet">{% endaddtoblock %}
{% addtoblock "css" %}<link href="{% static 'node_modules/whfd-mapping/dist/css/app.da545179.css' %}" rel="stylesheet">{% endaddtoblock %}
{% endblock %}
