 <div class="modal fade position-absolute" id="{{modal_id}}"
 tabindex="-1" aria-labelledby="{{modal_id}}Label" aria-hidden="true"
 >
   <div class="modal-dialog {{dialog_css}}">
     <div class="modal-content {{content_css}}">
       <div class="modal-header">
         <h5 class="modal-title" id="{{modal_id}}Label">
          {% block title %}{% endblock title %}
         </h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body {{body_css}}">
        {% block body %}{% endblock body %}
      </div>

       <div class="modal-footer">
        {% block footer %}{% endblock footer %}
       </div>
     </div>
   </div>
 </div>