<!-- RIGHT SIDEBAR -->
<div id='{{ sidebar_id }}' class="sidebar sidebar-end show">
 <div class="sidebar-header">
  {% block header %}
   <h5 class="sidebar-title">
    {% block title %}
    {{ title|default:'Sidebar' }}
    {% endblock title %}
   </h5>
   <button type="button"
           class="btn-close text-reset"
           data-bs-dismiss="offcanvas"
           aria-label="Close"
           onclick="$('#rightSidebar').toggleClass('show')">
   </button>
  {% endblock header %}
 </div>
 <div class="sidebar-body">
  {% block body %}
  {% endblock body %}
 </div>
</div>
