{% extends "base.html" %}
{% load i18n geoluminate %}

{% block page %}
  <div class="modal d-block position-relative {% block modal_classes %}{% endblock %}" tabindex="-1">
    <div class="modal-dialog">
     <div class="modal-content border-0">
        <div class="modal-header {% block header_classes %}{% endblock %}">
         {% block header %}
          <img class="w-75 mx-auto" src="{% logo %}" alt="">
          {% endblock %}
        </div>
        <div class="modal-body {% block body_classes %}{% endblock %}">
          {% block body %}{% endblock %}
        </div>
        <div class="modal-footer {% block footer_classes %}{% endblock %}">
          {% block footer %}{% endblock %}
        </div>
      </div>
    </div>
</div>
{% endblock %}