{% load cms_tags %}
<nav class="navbar navbar-expand-lg navbar-light p-1">
  <div class="container-fluid">
    <header id="header" class='p-2 border-0'>
      <div class="logo">
        <strong>{% block nav_logo %}{{ request.current_page }}{% endblock nav_logo %}</strong> 
        <span id='navSubTitle'>{% render_model config.site "name" "name" %}</span>
      </div>
    </header>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% include 'authentication/navbar_widget.html' %}
    </div>
  </div>
</nav>
