{% load menu_tags thumbnail cms_tags geoluminate sekizai_tags %}

<div id="application-sidebar" class="{{ request.COOKIES.sidebarState }}">
  {% render_model_block config "logo" %}
  <div class='logo sidebar-header'>
    <img id='sidebarLogo' src="{% logo %}" alt="logo">
    <img id='sidebarIcon' src="{% icon %}" alt="icon">
  </div>
  {% endrender_model_block %}
  <button class='toggle'>
    <i class="fas fa-angle-double-left"></i>
  </button>
  <div class="inner">
    {% render_model_block request.current_page "changelist" %}
    <nav id="menu" class='sidebar-menu' hx-target='#main'>
      <ul>{% show_menu 0 100 100 100 "theme/menu/menu.html" %}</ul>
    </nav>
    {% endrender_model_block %}
  </div>
  <div class='footer'></div>
</div>