{% load menu_tags thumbnail cms_tags geoluminate sekizai_tags %}

<div id="sidebar"  class="card border-0 bg-light rounded-0 w-25 {{ request.COOKIES.sidebarState }}" tabindex="-1" aria-labelledby="offcanvasLabel">
  <div class="card-body">
    <nav id="menu" class='sidebar-menu' hx-target='#main'>
      <ul>
        {% include 'theme/menu/toolbar.html' %}
      </ul>
    </nav>
  </div>
  <div class='footer'></div>
</div>

{% comment %} <script>
  $(function () {
   
   $('#sidebar-toggle').on('click', function (e) {  

       $($(e.target).data('bsTarget')).removeClass('animate__animated animate__slideOutDown');
       $($(e.target).data('bsTarget')).addClass('animate__animated animate__slideInDown');
       $($(e.relatedTarget).data('bsTarget')).addClass('animate__animated animate__slideOutDown');
       $($(e.relatedTarget).data('bsTarget')).removeClass('animate__animated animate__slideInDown');
   })

  })
</script> {% endcomment %}


{% comment %} <div id="application-sidebar" class="{{ request.COOKIES.sidebarState }}">
  <div class="inner">
    <nav id="menu" class='sidebar-menu' hx-target='#main'>
      <ul>
        {% include 'theme/menu/toolbar.html' %}
      </ul>
    </nav>
  </div>
  <div class='footer'></div>
</div> {% endcomment %}