#cms-top {
    position: sticky;
    z-index: 100;
    .cms-toolbar {
        z-index: 10;
        position: absolute;
    }
    .cms-toolbar-item-logo, .cms-toolbar-item-switch-save-edit {
        display: none;
    }
}
#cms-top > div.cms-toolbar > div.cms-toolbar-left > ul > li:nth-child(1) {
    display: none;
}

