// first import user defined variables to allow customization
@import "scss/variables";

// place geoluminate default variables here
// remember to end each with !default to allow customization
// $sidebar-width: 275px !default;
// $sidebar-width: 230px !default;
$sidebar-width: 335px !default;

// $body-bg-dark: rgb(59, 59, 59) !default;
$font-size-base:              0.9rem !default; // Assumes the browser default, typically `16px`
// $font-family-base

$display-font-sizes: (
  1: 2.5rem,
  2: 2rem,
  3: 1.5rem,
//   4: 1.5rem,
//   5: 1.5rem,
//   6: 1.5rem
);

// $card-border-width: 0px !default;
// $card-spacer-x: 0px !default;
// $card-cap-bg: transparent !default;
// $card-border-radius: 0px !default;