{% extends "base.html" %}
{% load partials easy_icons %}

{% block body_class %}
  vstack vh-100
{% endblock body_class %}

{% block content %}
  <div class="d-flex flex-grow-1 overflow-hidden">
    {% block page_left %}
      {% partialdef sidebar inline=True %}
      <aside id="pageSidebar" class="sidebar ps-4 p-2 overflow-auto">
        {% block sidebar %}
        {% endblock sidebar %}

      </aside>
    {% endpartialdef sidebar %}

  {% endblock page_left %}

  <div class="col overflow-auto position-relative">
    <main>
      {% block plugin %}
        {% if template_name %}
          {% include template_name %}
        {% endif %}
      {% endblock plugin %}

    </main>
    <div id="mainIndicator"
         class="dataTables_processing htmx-indicator endless_loading fs-1"
         style="width: 3rem;
                height: 3rem"
         role="status">
      {% icon "spinner" %}
      <span class="visually-hidden">{% trans "Loading..." %}</span>
    </div>
  </div>
  {% block after_page %}
  {% endblock after_page %}

</div>
{% endblock content %}
