{% extends 'base.html' %}
{% load static %}

{% comment %} {% block page %}
<div class='page-inner'>
  {% block page_header %}
  <div class="page-header {% block app_menu_css %}page-layout{% endblock %}">
    <strong>{% block page_title %}{{ title }}{% endblock %}</strong>
    <div class='toolbar'>
      <div class="toolbar-left">
        {% block toolbar_left %}{% endblock %}
      </div>
      <div class="toolbar-right">
        {% block toolbar_right %}{% endblock %}
      </div>
    </div>
    {% block app_menu %}{% endblock %}
  </div>
  {% endblock page_header %}
  {% include "geoluminate/components/messages.html" %}
  <div class='page-content'>
    {% block content %}{% endblock %}
    <img id='mainIndicator' class="htmx-indicator" src="{% static "geoluminate/img/spinners/spinning-circles.svg" %}"/>
  </div>
</div>
<div class='page-footer'>
  {% block app_footer %}
    <div class='footer-left'>
      {% block footer_left %}{% endblock %}
    </div>
    <div class='footer-right'>
      {% block footer_right %}{% endblock %}
    </div>
  {% endblock %}
</div>
{% endblock %} {% endcomment %}
