{% extends 'base.html' %}
{% load static %}

{% comment %} {% block body_class %}application{% endblock body_class %} {% endcomment %}


{% comment %} {% block page %}
  {% block page_header %}
  <div class="page-header">
    {% block page_title %}{% endblock %}
    <div class='toolbar'>
      <div class="toolbar-left">
        {% block toolbar_left %}{% endblock %}
      </div>
      <div class="toolbar-right">
        {% block toolbar_right %}{% endblock %}
      </div>
    </div>
    {% block app_menu %}{% endblock %}
  </div>
  {% endblock page_header %}
  <div class='page-content'>
    {% block content %}{% endblock %}
    <img id='mainIndicator' class="htmx-indicator" src="{% static "geoluminate/img/spinners/spinning-circles.svg" %}"/>
  </div>

{% endblock %} {% endcomment %}
