{% extends 'geoluminate/layout/full_width.html' %}
{% load static i18n formsetify geoluminate sekizai_tags %}

{% block page_css_class %}{% endblock %}

{% comment %} {% block body_class %}application{% endblock body_class %} {% endcomment %}

{% block before_page %}
<div id="pageSidebar" class='offcanvas offcanvas-start sidebar' data-bs-backdrop="false">
  <div class='offcanvas-header'>
    {% block sidebar_header %}{% endblock sidebar_header %}
  </div>
  <div class='offcanvas-body content-sidebar-inner'>
    {% block content_sidebar %}{% endblock %}
  </div>
</div>
{% endblock before_page %}

{% block content %}
   {% block content_main %}{% endblock %}
{% endblock content %}
