{% load menu_tags thumbnail cms_tags geoluminate sekizai_tags static %}
<nav id="mainSidebar" class="sidebar sidebar-start show" tabindex="-1">
  <div class="sidebar-header">
    {% comment %} <img src="{% static 'images/brand/WHFDB_logo.svg' %}" alt="" width='100%'> {% endcomment %}
    <img src="{% logo %}" alt="" width='100%'>
    <button type="button"
            class="btn btn-sm btn-light border ms-1"
            aria-label="Close"
            onclick="$('#mainSidebar').toggleClass('show')"
            >
      <span class="fas fa-caret-left text-muted"></span>
    </button>
  </div>
  <div class="sidebar-body">
    {% include 'geoluminate/layout/partials/sidebar_menu.html' %}
  </div>
  <div class='footer'></div>
</nav>
<div id="mainSidebarOpener" class="d-flex opacity-25">
  <button class="btn sidebar-toggler d-flex"
          type="button"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
          onclick="$('#mainSidebar').toggleClass('show');">
    <span class="btn btn-sm fas fa-caret-right mt-1" aria-hidden="true"></span>
  </button>
</div>
