{% extends 'base.html' %}
{% load static i18n formsetify geoluminate sekizai_tags %}

{% block page_left %}
<aside id="pageSidebar" class='sidebar col-3 d-none d-lg-block' data-bs-backdrop="false">
  <div class='sidebar-content'>
    {% block sidebar %}
    <div class='py-3'>
      {% block sidebar_header %}{% endblock sidebar_header %}
    </div>
    <div class='offcanvas-body content-sidebar-inner'>
      {% block sidebar_content %}{% endblock %}
    </div>
    {% endblock sidebar %}
  </div>
</aside>
{% endblock page_left %}

