{% extends 'base.html' %}
{% load static i18n formsetify geoluminate sekizai_tags %}

{% block page_left %}
<aside id="pageSidebar" class='sidebar modal' data-bs-backdrop="false">
    <div class='modal-dialog modal-dialog-centered'>
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% block sidebar_title %}{% endblock %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            {% block sidebar %}{% endblock sidebar %}
            </div>
            <div class="modal-footer">
                {% block sidebar_footer %}{% endblock %}
            </div>
        </div>
    </div>
</aside>
{% endblock page_left %}

