{% load i18n comments comments_xtd %}
<div id='c{{ comment.id }}' class='comment-wrapper'>
  <div class='comment'>
    <div class="comment-avatar">{{ comment.user_email|xtd_comment_gravatar }}</div>
    <div class="comment-body">
      <div class="comment-header">
        <h6>
          {{ comment.submit_date|timesince }} {% if comment.url and not comment.is_removed %}<a href="{{ comment.url }}" target="_new">{% endif %} - {{ comment.name }}{% if comment.url %}</a>{% endif %} {% if comment.user and comment.user|has_permission:"django_comments.can_moderate" %} <span class="badge bg-secondary">{% trans "moderator" %}</span>{% endif %} 
        </h6>
        <ul class='icons'>
          {{comment.nested_count}}
          {% include "comments/actions/flag.html" %}
          {% include "comments/actions/delete.html" %}
        </ul>
      </div>
      <div class='comment-content'>
        {% if comment.is_removed %}
          <p class="text-muted{% if not allow_feedback and not comment.allow_thread %} pb-3{% endif %}"><em>{% trans "This comment has been removed." %}</em></p>
        {% else %}
          <p class="{% if not allow_feedback and not comment.allow_thread %}pb-3{% endif %}">{{ comment.comment }}</p>
        {% endif %}
      </div>
      {% if not comment.is_removed %}
      <div class='comment-actions'>
        {% include "comments/actions/like_dislike.html" %}
        {% include "comments/actions/reply.html" %}
        {% include "comments/actions/view_replies.html" %}
      </div>
      {% endif %}
      {% comment %} <div class='comment-drawer'></div> {% endcomment %}
    </div>
  </div>

  {% comment %} {% if not comment.is_removed and item.children %} {% endcomment %}
  <div class="comment-replies {% if not item.children %}hidden{% endif %}">
    <div class='comment-replies-inner'>
      <div class='comment-drawer'></div>
        {% if item.children %}
          {% render_xtdcomment_tree with comments=item.children %}
        {% endif %}
    </div>
  </div>


</div>