{% extends "geoluminate/cards/base.html" %}
{% load i18n geoluminate contributor_tags %}

{% block card_header %}
{% endblock card_header %}

{% block card_body %}
  <div class="card-body p-0 p-md-3 h-100 d-flex flex-column justify-content-end">
    <h5 class="card-title text-decoration-none">
      {% block title %}
        <span>{{ obj }}</span>
      {% endblock title %}

    </h5>
    <h6>
      {% block subtitle %}
        <span class="me-2"
              data-bs-toggle="popover"
              data-bs-placement="bottom"
              data-bs-title="{% trans "Creators" %}"
              data-bs-content="{% trans "The following people are listed as creators of this database item." %}">{% icon "contributors" %}</span>
      {% endblock subtitle %}

    </h6>
    <p class="card-text line-clamp max-lines-5 d-none d-md-block overflow-y-hidden" height="50px">
      {% block description %}
      {% endblock description %}

    </p>
    {% if obj.get_tags_list %}
      <div class="card-footer">
        {% block footer %}
          <div class="text-muted">
            <div>
              {% block badges %}
                {% for tag in obj.get_tags_list %}<span class="badge rounded-pill">{{ tag }}</span>{% endfor %}
              {% endblock badges %}

            </div>
            {% block info %}
            {% endblock info %}

          </div>
        {% endblock footer %}

      </div>
    {% endif %}
    {% with obj.modified|timesince as last_updated %}
      <span>{% blocktrans %}Updated: {{ last_updated }} ago{% endblocktrans %}</span>
    {% endwith %}
    {{ block.super }}
    <a href="{{ obj.get_absolute_url }}" class="btn btn-primary">{% trans "View detail" %}</a>
  </div>
{% endblock card_body %}

{% block card_footer %}
{% endblock card_footer %}
