{% load i18n geoluminate contributor_tags %}

<div id="{{ obj.uuid }}" class="card mb-3 w-100">
  {% block card_header %}
    <div class="card-header d-flex justify-content-between">
      {% block card_header_inner %}
      {% endblock card_header_inner %}
    </div>
  {% endblock card_header %}
  <div class="card-body row g-0 {% block card_body_class %}{% endblock card_body_class %} ">
    {% block card_body %}
    {% endblock card_body %}
  </div>
  {% block card_footer %}
    <div class="card-footer d-flex">
      {% block card_footer_content %}
        <div class="ms-auto">
          {% block card_actions %}
          {% endblock card_actions %}
        </div>
      {% endblock card_footer_content %}
    </div>
  {% endblock card_footer %}
  {% block card_end %}
    <a href="{{ obj.get_absolute_url }}" class="stretched-link"></a>
  {% endblock card_end %}
</div>
