{% load static %}

<div class="bg-secondary text-light h-100">
  <div class="container">
    <div class="row" style="min-height: 50vh;">
      <div class="col-lg-6 col-12 vstack justify-content-center align-items-center">
        <h2>{% trans "Acknowledgements" %}</h2>
        <p>
          {% blocktrans %}
          This web portal was developed as part of the <a href="https://www.heatflow.world">World Heat Flow Database Project</a> on behalf of the international heat flow community. Phase 1 of the project was funded by the <a href="https://www.dfg.de">Deutsche Forschungsgemeinschaft (DFG)</a> under the project number <a href="https://gepris-extern.dfg.de/gepris/projekt/491795283">491795283</a>. The portal, along with any associated data, is hosted on internal servers at the <a href="https://www.gfz-potsdam.de/en/">German Research Centre for Geosciences (GFZ)</a>.
          {% endblocktrans %}
        </p>
      </div>
      <div class="col-lg-6 col-12 vstack justify-content-center align-items-center">
        <h2>{% trans "Supporting Organizations" %}</h2>
        <div class="row d-flex flex-wrap g-2">
          <div class="col-4">
            <img class="w-100 h-100 bg-white p-2 rounded" src="{% static "img/brand/GFZ.svg" %}" alt="German Research Centre for Geosciences (GFZ)" />
          </div>
          <div class="col-4">
            <img class="w-100 h-100 bg-white p-2 rounded" src="{% static "img/brand/TU_Dresden.svg" %}" alt="Technical University of Dresden (TDU)" />
          </div>
          <div class="col-4">
            <img class="w-100 h-100 bg-white p-2 rounded" src="{% static "img/brand/IHFC.svg" %}" alt="International Heat Flow Commission" />
          </div>
          <div class="col-4">
            <img class="w-100 h-100 bg-white p-2 rounded" src="{% static "img/brand/DFG.gif" %}" alt="Deutsche Forschungsgemeinschaft (DFG)" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-100 text-center bg-dark">This portal was created using the FairDM framework.</div>
</div>
