{% extends "base.html" %}
{% load crispy_forms_tags i18n %}

{% block content %}
<div class='inner container'>
	<header id="header">
		<div class='logo'>
			<strong> {% trans "Account" %} </strong>{{ user.display_name }}
		</div>
		<div class='ms-auto'>
			<i class='fas fa-user-circle'></i>
		</div>
	</header>

	<section class='d-flex flex-row-reverse'>
		<div class='w-25 ps-3'>
			<ul class='alt nav flex-column' id="myTab" role="tablist">
				<li>
					<a href="#accountPanel" data-bs-toggle="tab" data-bs-target="#accountPanel" aria-current="page" class="icon solid fa-user"><span class='ps-2'>{% trans "Account" %}</span></a>
				</li>
			</ul>
		</div>
		<div class='w-75 border-end pe-3'>
			<section class='tab-content'>
				{% comment %} {% include "dashboard/panels/publications.html" %}
				{% include "dashboard/panels/projects.html" %} {% endcomment %}
				{% include "dashboard/panels/account.html" %}
			</section>  
		</div>
	</section>
</div>
{% endblock content %}