{% extends "base.html" %}
{% load static %}

{% block main %}
  <div class="container py-3 col-6">
    {% block page_top %}
      <div class="page-top position-relative">
        {% block header %}
          <header class="page-header mb-0 {% block page_header_css %}page-layout{% endblock page_header_css %}
             ">
            <h1 class="display-1">
              {% block title %}
                {{ meta.title }}
              {% endblock title %}

            </h1>
          </header>
        {% endblock header %}

        {% block help_text %}
          {% if meta.description %}<div class="page-description">{{ meta.description }}</div>{% endif %}
        {% endblock help_text %}

      </div>
      <hr class="mt-0 border border-primary" />
    {% endblock page_top %}

    <div class="page-content">
      {% block content %}
      {% endblock content %}

    </div>
    {% block page_end %}
    {% endblock page_end %}

  </div>
{% endblock main %}
