{% load social_share sekizai_tags %}

<li>{% post_to_twitter '' request.path ' ' "fab fa-twitter" %}</li>
<li>{% post_to_linkedin request.path "fab fa-linkedin" %}</li>
<li>{% post_to_telegram "Check out this publication from the World Heat Flow Project" request.path " " "fab fa-telegram" %}</li>
<li>{% post_to_whatsapp request.path " " "fab fa-whatsapp" %}</li>
<li>{% post_to_facebook request.path ' ' "fab fa-facebook-f" %}</li>
<li>{% post_to_reddit '' request.path ' ' "fab fa-reddit-alien" %}</li>
<li>{% send_email 'World Heat Flow Database' 'Take a look at this publication from the  World Heat Flow Database.' request.path ' ' "fas fa-envelope" %}</li>
