{% load social_share sekizai_tags %}

<span class='pe-3'>{% post_to_twitter '' request.path ' ' "fab fa-twitter" %}</span>
<span class='pe-3'>{% post_to_linkedin request.path "fab fa-linkedin" %}</span>
<span class='pe-3'>{% post_to_telegram "Check out this publication from the World Heat Flow Project" request.path " " "fab fa-telegram" %}</span>
<span class='pe-3'>{% post_to_whatsapp request.path " " "fab fa-whatsapp" %}</span>
<span class='pe-3'>{% post_to_facebook request.path ' ' "fab fa-facebook-f" %}</span>
<span class='pe-3'>{% post_to_reddit '' request.path ' ' "fab fa-reddit-alien" %}</span>
<span class='pe-3'>{% send_email 'World Heat Flow Database' 'Take a look at this publication from the  World Heat Flow Database.' request.path ' ' "fas fa-envelope" %}</span>
