{% extends "application.html" %}
{% load crispy_forms_tags i18n %}

{% block content %}
<section id='main' class='container'>
  <section>
    <div class='row'> 
      <div class='col-12 col-md-2'>
        <ul>
          <li><a href="{% url 'user:account' %}">{% trans "Settings" %}</a></li>
        </ul>
      </div>
      <div class='col-12 col-md-10'>
        <div class='container border-left'>
          {% block profile_content %}{% endblock %}
        </div>
      </div>
    </div>
  </section>
</section>

{% endblock content %}


