{% load i18n authentication sekizai_tags geoluminate %}

<li class="d-flex flex-column">
    <a
        href="#"
        class='nav-link dropdown-toggle'
        role="button"
        aria-expanded="false"
        {% if user.is_authenticated %}
        data-bs-toggle="offcanvas"
        data-bs-target="#userToolbar"
        {% else %}
        data-bs-toggle="dropdown"
        {% endif %}
        >

  {% if user.is_authenticated %}
    {% render_profile_image user.profile width="32px" height="32px" extra_classes='shadow me-1' %}
  {% else %}
    <i class="d-none d-lg-inline fa-solid fa-circle-user fa-lg me-2"></i>
      {% trans "Guest" %}
  {% endif %}
  </a>
  {% if not user.is_authenticated %}
    {% comment %} // This is the dropdown menu that appears when the user is not logged in {% endcomment %}
    <!-- Dropdown menu links -->
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
      <li>
        <a href="{% url 'account_login' %}" class="dropdown-item">
        <i class="fas fa-sign-in-alt me-2"></i>
        {% trans "Login" %}</a>
      </li>
      <li>
        <a href="{% url 'account_signup' %}" class="dropdown-item">
        <i class="fas fa-user-plus me-2"></i>
        {% trans "Register" %}</a>
      </li>
    </ul>
    {% else %}
    {% comment %} // This is the user toolbar that slides in from the right when the user is logged in {% endcomment %}
    {% comment %} {% addtoblock "page_right" %}{% include 'user/toolbar.html' %}{% endaddtoblock %} {% endcomment %}
  {% endif %}
  </li>



