{% extends 'geoluminate/htmx/page.html' %}
{% load i18n formsetify %}

{% block title %}{% trans "Contributor Profile" %}{% endblock %}

{% block content %}
<section>
  Filling out a public profile is optional, but it helps the community to better understand your needs and interests. You can also use this space to share your contact information with other members of the community.

</section>
<div class='container mt-3'>
 <django-formset endpoint="{{ request.path }}" csrf-token="{{ csrf_token }}">
  {% render_form form "bootstrap" field_classes="mb-3" %}
  <button type="button" class="btn btn-primary"  df-click="submit({update: true}) -> proceed">{% trans "Update" %}</button>
</django-formset>
</div>
{% endblock %}


{% block footer_left %}
<button type="button" class="btn btn-danger"  df-click="submit({delete: true}) -> proceed">{% trans "Delete" %}</button>
{% endblock %}

