#result_list thead th {
  white-space: normal !important;
  padding: 10px 3px !important;
}

#result_list thead th:first-child {
  padding-left: 8px !important;
}

#result_list thead th a, #result_list thead th span {
  font-size: 12px !important;
}

#result_list tr th {
  vertical-align: middle !important;
  padding: 5px !important;
}

#result_list tr td {
  vertical-align: middle !important;
  padding: 5px 3px !important;
  font-size: 13px;
}

#result_list tr td:first-child {
  padding-left: 8px !important;
  vertical-align: middle !important;
}

#result_list tr td:first-child input {
  vertical-align: middle !important;
}

#result_list tr td a {
  font-size: 12px !important;
}

#result_list .field-title {
  max-width: 600px;
  white-space: normal !important;
}

#result_list .field-_authors {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#changelist #changelist-form .paginator {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: #fff0 !important;
}
