<div class="list-group list-group-flush flex-grow-1">
  {% for item in menu %}
    {% if item.visible and item.url %}
      <a href="{{ item.url }}"
         class="list-group-item list-group-item-action {% if item.selected %}active{% endif %}{{ item.extra_classes }}">
        {% if item.icon %}<i class="fas {{ item.icon }} pe-2"></i>{% endif %}
        <span class="text-capitalize">{{ item.title }}</span>
      </a>
    {% endif %}
    {% if item.children %}
      <h6 class="text-capitalize mt-3">{{ item.title }}</h6>
      <div class="list-group list-group-flush flex-grow-1">
        {% for item in item.children %}
          {% if item.visible and item.url %}
            <a href="{{ item.url }}"
               class="list-group-item list-group-item-action {% if item.selected %}active{% endif %}{{ item.extra_classes }}">
              {% if item.icon %}<i class="fas {{ item.icon }} pe-2"></i>{% endif %}
              <span class="text-capitalize">{{ item.title }}</span>
            </a>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  {% endfor %}
</div>
