.dtsp {
    &-titleRow {
        display: flex;
        flex-wrap: wrap;

        .dtsp-title {
            width: 100%;
            display: none;
        }
        button {
            @extend .btn-primary;
            @extend .btn-sm;
            // border-radius: 0;
            margin: 0.2rem 0.2rem !important;
            // padding: 0.5rem 0!important;
            flex-grow: 1;
        }
    }

    &-panes {
        .clearButton, .dtsp-collapseButton {
            @extend .btn-primary;
        }
    }
    &-searchPanes {
        // border-top: 1px solid $primary-bg-subtle;
        padding: $offcanvas-padding-y $offcanvas-padding-x;
    }
}

.dataTables_wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    .dataTables_scroll {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        overflow: auto;
        // .dataTables_scrollBody {
            // height: 100% !important;
            // max-height: 100% !important;
        // }
    }
    .dataTables_scrollHead {
        @extend .shadow-sm;
        @extend .border-bottom;
    }
}
