{% load static sekizai_tags %}
<div id='map'
     url="{% url "sites-list" %}?"
     data-format='geojson'
     {% if publication %} data-references='{{ publication.pk }}'{% endif %}
     {% if site %} data-id='{{ site.pk }}'{% endif %}
     class="flex-fill {{ css_class }}">
  <div id='shadow'></div>
</div>
{% addtoblock "css" %}
  <link rel="stylesheet"
        href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>
{% endaddtoblock %}
{% addtoblock "css" %}
  <link rel="stylesheet"
        href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"/>
{% endaddtoblock %}
{% addtoblock "css" %}
  <link rel="stylesheet"
        href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"/>
{% endaddtoblock %}
{% addtoblock "js" %}
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
          integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
          crossorigin=""></script>{% endaddtoblock %}
  {% addtoblock "js" %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/2.1.0/leaflet.ajax.min.js"></script>{% endaddtoblock %}
    {% addtoblock "js" %}
      <script src='https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js'></script>{% endaddtoblock %}
      {% addtoblock "js" %}
        <script src="https://unpkg.com/esri-leaflet@2.5.0/dist/esri-leaflet.js"
                integrity="sha512-ucw7Grpc+iEQZa711gcjgMBnmd9qju1CICsRaryvX7HJklK0pGl/prxKvtHwpgm5ZHdvAil7YPxI1oWPOWK3UQ=="
                crossorigin=""></script>{% endaddtoblock %}
        {% addtoblock "js" %}
          <script src="{% static 'mapping/js/map.js' %}"></script>{% endaddtoblock %}
