{% comment %} {% extends 'geoluminate/components/sidebar.html' %}
{% load i18n crispy_forms_tags sekizai_tags %}
{% block title %}
  Filters
{% endblock title %}
{% block body %}
<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
 {% endblock body %} {% endcomment %}


{% load i18n crispy_forms_tags %}

<div id='offcanvasExample' class="offcanvas offcanvas-end position-absolute" tabindex="-1" id='offcanvas{{ name|title }}' aria-labelledby="offcanvas{{ name|title }}Label">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvas{{ name|title }}Label">{% trans name|title %}</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    {% comment %} {% if helper %}
      {% crispy form helper %}
    {% else %}  
      {% crispy form %}
    {% endif %} {% endcomment %}
    Sidebar content
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>