{% extends "geoluminate/layout/full_screen_form.html" %}
{% load i18n %}

{% block title %}
  {% trans "Bad Request!" %}
{% endblock %}

{% block page_title %}
  {% trans "Bad Request!" %}
{% endblock %}

{% block content %}
  <p>
    {% trans "Oops! It looks like there was a problem processing your request. The server didn't understand what you were asking for. Please make sure you've entered all the necessary information correctly and try again. If the issue persists, feel free to reach out to our support team for assistance. We're here to help!" %}
  </p>
{% endblock %}
