{% load static meta sekizai_tags geoluminate compress easy_icons django_htmx pwa %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}"
      x-data="theme"
      :data-bs-theme="activeTheme">
  <head {% meta_namespaces %}>
    {% block head %}
      <meta charset="utf-8" />
      <meta http-equiv="x-ua-compatible" content="ie=edge" />
      <meta name="viewport"
            content="width=device-width, initial-scale=1" />
      {% include "meta/meta.html" %}
      {% progressive_web_app_meta %}
      <link rel="icon" type="image/svg+xml" href="{% static "img/brand/icon.svg" %}" />
      {% compress css file fairdm %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "scss/stylesheet.scss" %}" />
      {% endcompress %}
      {% render_bundle "project" "css" "GEOLUMINATE" %}
      {% compress js file fairdm %}
        {% render_bundle "project" "js" "GEOLUMINATE" attrs="defer" %}
      {% endcompress %}
      {% compress js file fairdm %}
        <script>
          (function() {
            const theme = localStorage.getItem('_x_theme') || (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');
            document.documentElement.setAttribute('data-bs-theme', JSON.parse(theme));
          })();
        </script>
        {% render_bundle "popper" "js" "GEOLUMINATE" %}
      {% endcompress %}
      {% django_htmx_script %}
      {{ config|json_script:"database-identity" }}
      <script src="https://code.jquery.com/jquery-3.7.1.min.js"
              integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
              crossorigin="anonymous"></script>
    {% endblock head %}

    {% render_block "css" %}
    {% block css %}
    {% endblock css %}

  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        hx-target="main"
        hx-ext="debug,preload"
        x-data="{{ config|safe }}"
        class="vstack vh-100 w-100">
    {% block body %}
      {% block application %}
        {% block content_menu %}
          <c-menu.main show_brand="true">
          </c-menu.main>
        {% endblock content_menu %}

        {% block page_nav %}
        {% endblock page_nav %}

        <main class="flex-grow-1 overflow-hidden">
          {% block content_wrapper %}
            {% block content %}
            {% endblock content %}
          {% endblock content_wrapper %}

        </main>
      {% endblock application %}

      <div id="messageContainer"
           class="position-absolute bottom-0 end-0">
        <div class="vstack gap-1">
          {% for message in messages %}
            <div aria-live="polite"
                 aria-atomic="true"
                 class="w-100 d-flex px-1">
              <div class="card alert shadow-sm"
                   data-delay="5000"
                   role="alert">
                <div class="card-header">
                  {% trans "Message" %}
                  <button type="button"
                          class="btn-close float-end"
                          data-bs-dismiss="alert"
                          aria-label="Close"></button>
                </div>
                <div class="card-body">
                  <p class="card-text">{{ message }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      {% block body_end %}
      {% endblock body_end %}

      <div id="bodyEnd"></div>
      {% block js %}
      {% endblock js %}

      {% if user.is_authenticated %}
        {% include "account_management/sidebar.html" %}
      {% endif %}
    {% endblock body %}

    {% render_block "js" %}
    {% render_block "body_end" %}
  </body>
</html>
