{% load static meta cms_tags menu_tags sekizai_tags authentication thumbnail geoluminate simple_menu i18n compress %}<!doctype html>
{% generate_menu %}
{% get_current_language as LANGUAGE_CODE %}

<html lang="{{ LANGUAGE_CODE }}" data-bs-theme="auto">
  <head {% meta_namespaces %}>
    <title>{% block title %}{{title}}{% endblock %} | {% block title_after %}{{ geoluminate.database.name }}{% endblock %}</title>
    {% include "geoluminate/utils/head.html" %}
    {% block head %}{% endblock head %}
    {% block css %}{% endblock css %}
    {% render_block "css" %}
    {% compress css %}
      <link rel="stylesheet" type="text/x-scss" href="{% static "geoluminate/scss/geoluminate.scss" %}" crossorigin="anonymous">
    {% endcompress %}
  </head>
  <body>
    <div class="application-wrapper {% block wrapper_class %}{% endblock %}">
    {% block application %}
      {% include 'geoluminate/components/navigation/navbar.html' %}
      <div class='page-nav'>{% block page_nav %}{% endblock %}</div>
      <div class='page-wrapper'>
        <div class='page-messages'>
          {% include "geoluminate/components/messages.html" %}
        </div>
        {% block before_page %}{% endblock before_page %}
        <div class="page {% block page_css_class %}{% endblock %}">
          {% block page_header %}
          <div class="page-header {% block app_menu_css %}page-layout{% endblock %}">
            {% block page_title %}{% endblock %}
            <div class='toolbar'>
              <div class="toolbar-left">{% block toolbar_left %}{% endblock %}</div>
              <div class="toolbar-right">{% block toolbar_right %}{% endblock %}</div>
            </div>
          </div>
          {% endblock page_header %}
          {% include "geoluminate/components/messages.html" %}
          <div class='page-content'>
            {% block content %}{% endblock %}
            <img id='mainIndicator' class="htmx-indicator" src="{% static "geoluminate/img/spinners/spinning-circles.svg" %}"/>
          </div>
          <div class='page-footer'>
            {% block app_footer %}
              <div class='footer-left'>
                {% block footer_left %}{% endblock %}
              </div>
              <div class='footer-right'>
                {% block footer_right %}{% endblock %}
              </div>
            {% endblock %}
          </div>
          {% comment %} {% block page %}{% endblock page %} {% endcomment %}
        </div>
        {% block after_page %}{% endblock after_page %}
      </div>
      {% comment %} {% render_block "page_right" %} {% endcomment %}
    {% endblock application %}
    </div>

    {% comment %} OFFCANVAS AND MODALS {% endcomment %}
    {% include 'geoluminate/components/navigation/sidebar.html' %}
    {% include "user/toolbar.html" %}

    {% block modals %}{% endblock modals %}
    {% render_block "modals" %}

    {% include "geoluminate/utils/scripts.html" %}

    {% block scripts %}{% endblock scripts %}
    {% render_block "js" %}

    {% include 'geoluminate/utils/screen-size-indicator.html' %}
  </body>
</html>
