{% load static meta  sekizai_tags authentication thumbnail geoluminate simple_menu i18n compress %}

<!DOCTYPE html>
{% generate_menu %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" data-bs-theme="auto">
  <head {% meta_namespaces %}>
    {% include "geoluminate/utils/head.html" %}
    {% render_block "css" %}
    {% block javascript %}
    {% endblock javascript %}

  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        hx-target="main"
        hx-indicator="#mainIndicator"
        hx-ext="debug">
    {% block application %}
      {% block site_nav %}
        {% include "geoluminate/navigation/navbar.html" %}
      {% endblock site_nav %}

      {% block page_nav %}
      {% endblock page_nav %}

      <div class="container-fluid flex-grow-1 overflow-hidden">
        <div class="row h-100 {% block row_css %}overflow-hidden{% endblock %}
           ">
          {% block page_left %}
          {% endblock page_left %}

          <main class="col px-0 overflow-auto position-relative {% block page_css_class %}{% endblock %}
             ">
            {% block main %}
              {% if template_name %}
                {% include template_name %}
              {% endif %}
            {% endblock main %}

            {% comment %} <div id="mainIndicator" class="spinner-border dataTables_processing htmx-indicator endless_loading" style="width: 3rem; height: 3rem" role="status"> {% endcomment %}
            <div id="mainIndicator"
                 class="dataTables_processing htmx-indicator endless_loading fs-1"
                 style="width: 3rem;
                        height: 3rem"
                 role="status">
              {% icon "spinner" %}
              <span class="visually-hidden">{% trans "Loading..." %}</span>
            </div>
          </main>
          {% block after_page %}
          {% endblock after_page %}

        </div>
      </div>
    {% endblock application %}

    {% comment %} MESSAGES {% endcomment %}
    <div id="messageContainer" class="position-absolute bottom-0 end-0">
      <div class="d-flex container justify-content-center">
        {% for message in messages %}
          <div aria-live="polite" aria-atomic="true" class="w-100 d-flex px-1">
            <div class="card alert border mb-3 bg-white p-0 shadow-sm"
                 data-delay="5000"
                 role="alert"
                 style="width: 18rem">
              <div class="card-header">
                {% trans "Message" %}
                <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <div class="card-body">
                <p class="card-text">{{ message }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    {% render_block "body_end" %}
    {% block body_end %}
    {% endblock body_end %}

  </body>
</html>
