{% load static meta cms_tags menu_tags sekizai_tags authentication thumbnail geoluminate simple_menu i18n compress %}<!doctype html>
{% generate_menu %}
{% get_current_language as LANGUAGE_CODE %}

<html lang="{{ LANGUAGE_CODE }}" data-bs-theme="auto">
  <head {% meta_namespaces %}>
    <title>{% block title %}{{title}}{% endblock %} | {% block title_after %}{{ geoluminate.database.name }}{% endblock %}</title>
    {% include "geoluminate/utils/head.html" %}
    {% block head %}{% endblock head %}
    {% block css %}{% endblock css %}
    {% render_block "css" %}
    {% compress css %}
      <link rel="stylesheet" type="text/x-scss" href="{% static "geoluminate/scss/geoluminate.scss" %}" crossorigin="anonymous">
    {% endcompress %}
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        hx-target="main"
        hx-ext="debug">
    <div class="application-wrapper {% block wrapper_class %}{% endblock %}">
    {% block application %}
      {% include 'geoluminate/components/navigation/navbar.html' %}
      <nav class='page-nav'>{% block page_nav %}{% endblock %}</nav>
      <div class='page-wrapper'>
        {% comment %} <div class='page-messages'>
          {% include "geoluminate/components/messages.html" %}
        </div> {% endcomment %}
        {% block page_left %}{% endblock page_left %}
        <main class="page {% block page_css_class %}{% endblock %}">
          {% block page_header %}
          <header class="page-header {% block page_header_css %}page-layout{% endblock %}">
            {% block page_title %}{% endblock %}
            <div class='toolbar'>
              <div class="toolbar-left">{% block toolbar_left %}{% endblock %}</div>
              <div class="toolbar-right">{% block toolbar_right %}{% endblock %}</div>
            </div>
          </header>
          {% endblock page_header %}
          <div class='page-messages'>{% include "geoluminate/components/messages.html" %}</div>
          <div class='page-content'>
            {% block content %}{% endblock %}
            <img id='mainIndicator' class="htmx-indicator" src="{% static "geoluminate/img/spinners/spinning-circles.svg" %}"/>
          </div>
          <footer class='page-footer'>
            {% block app_footer %}
              <div class='footer-left'>
                {% block footer_left %}{% endblock %}
              </div>
              <div class='footer-right'>
                {% block footer_right %}{% endblock %}
              </div>
            {% endblock %}
          </footer>
        </main>
        {% block after_page %}{% endblock after_page %}
      </div>
      {% comment %} {% render_block "page_right" %} {% endcomment %}
    {% endblock application %}
    </div>

    {% comment %} OFFCANVAS AND MODALS {% endcomment %}
    {% include 'geoluminate/components/navigation/sidebar.html' %}
    {% include "user/toolbar.html" %}

    {% block modals %}{% endblock modals %}
    {% render_block "modals" %}

    {% comment %} SCRIPTS {% endcomment %}
    <script src="{% static "node_modules/jquery/dist/jquery.min.js" %}"></script>


    {% block scripts %}{% endblock scripts %}
    {% render_block "js" %}

    {% compress js %}
      <script src="{% static "geoluminate/js/custom.js" %}"></script>
      <script src="{% static "geoluminate/js/color-theme-switch.js" %}"></script>

    {% comment %} <script src="{% static "geoluminate/js/multilevel-dropdown.js" %}"></script> {% endcomment %}
    {% endcompress %}

  </body>
</html>
