{% load meta geoluminate %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" data-bs-theme="auto">
  <head {% meta_namespaces %}>
    {% comment %} {% include "geoluminate/utils/head.html" %} {% endcomment %}
    {% block title %}
    {% endblock title %}

  </head>
  <body class="vh-100 w-100 d-flex justify-content-center align-items-middle bg-primary bg-gradient">
    <div class="modal d-block position-relative z-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0 shadow">
          <div class="modal-body">
            <img class="mx-auto w-100 mb-3"
                 src="{% brand "logo" %}"
                 alt=""
                 style="max-height:120px"
                 height="120"
                 width="auto" />
            <h5 class="modal-title mb-2 text-left">
              {% block error %}
              {% endblock error %}

            </h5>
            {% block content %}
            {% endblock content %}

          </div>
          <div class="modal-footer justify-content-between border-0">
            <a href="#" onclick="window.history.back();" class="btn btn-secondary">
              <span class="fa-solid fa-arrow-left-long"></span>
            {% trans "Previous" %}</a>
            <a href="/" class="btn btn-primary btn-primary">
              <span class="fa-solid fa-house"></span>
            {% trans "Home" %}</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
