{% extends "base.html" %}
{% load account_management %}

{% block content %}
  <c-layout.sidebar>
    <c-slot name="sidebar">
      <div class="dropdown">
        <a href="#"
           class="hstack fs-5 gap-2 text-reset text-decoration-none dropdown-toggle"
           type="button"
           data-bs-toggle="dropdown"
           aria-expanded="false">
          {% avatar_url user as avatar %}
          {% if avatar %}
            <img src="{{ avatar }}" class="h-100" />
          {% else %}
            {% icon "user" height="1.5em" %}
          {% endif %}
          <span class="text-truncate">{{ user }}</span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item"
               href="{{ request.user.get_absolute_url }}">
              {% icon "user" %}
            {% trans "Public profile" %}</a>
          </li>
        </ul>
      </div>
      {% block sidebar %}
        <c-sidebar.section heading="{% trans "My projects" %}"
                           class="btn btn-sm btn-success"
                           icon="plus"
                           href="{% url "project-create" %}"
                           data-bs-toggle="modal"
                           data-bs-target="#createProjectModal"
                           title="{% trans "Create a project" %}"
                           text="{% trans "New" %}">
          {% if request.user.projects.exists %}
            <c-sidebar.menu>
              {% for object in request.user.projects.all|slice:":3" %}
                <a class="list-group-item text-truncate px-0"
                   title="{{ object }}"
                   href="{{ object.get_absolute_url }}">{% icon "project" %} {{ object }}</a>
              {% endfor %}
            </c-sidebar.menu>
            <a href="#">{% trans "Show more" %}</a>
          {% else %}
            <span class="text-muted">{% trans "You don't have any projects yet." %}</span>
          {% endif %}
        </c-sidebar.section>
        <c-sidebar.section heading="{% trans "My datasets" %}"
                           class="btn btn-sm btn-success"
                           icon="plus"
                           href="{% url "dataset-create" %}"
                           data-bs-toggle="modal"
                           data-bs-target="#createProjectModal"
                           title="{% trans "Create a dataset" %}"
                           text="{% trans "New" %}">
          <c-sidebar.menu>
            {% for object in request.user.datasets.all|slice:":5" %}
              <a class="list-group-item text-truncate px-0"
                 title="{{ object }}"
                 href="{{ object.get_absolute_url }}">{% icon "dataset" %} {{ object }}</a>
            {% endfor %}
          </c-sidebar.menu>
          <a href="#">{% trans "Show more" %}</a>
        </c-sidebar.section>
      {% endblock sidebar %}

    </c-slot>
    <c-layout.page title="{% trans "Home" %}">
      <section class="mb-3">
        <h1 class="fs-5">{% trans "Recently worked on..." %}</h1>
        <swiper-container class="w-100"
                          navigation="true"
                          space-between="30"
                          slides-per-view="auto"
                          pagination="true"
                          pagination-clickable="true">
          <c-dashboard.card title="{% icon "project" %} {% trans "Create a project" %}"
                            class="text-center">
            {% trans "Store project-level metadata directly alongside your datasets. Doing so is a great way to showcase your funded research projects, group together related datasets and to share what you've been working on with the broader community!" %}
            <a class="stretched-link"
               href="#"
               data-bs-toggle="modal"
               data-bs-target="#createProjectModal"></a>
          </c-dashboard.card>
          <c-dashboard.card title="{% icon "dataset" %} {% trans "Create a dataset" %}"
                            class="text-center">
            {% trans "Plan a new dataset or upload data you've previously collected. Contribute dataset-level metadata to enhance the discoverability of your work and speed-up the data-publication process." %}
            <a class="stretched-link"
               href="#"
               data-bs-toggle="modal"
               data-bs-target="#createDatasetModal"></a>
          </c-dashboard.card>
        </swiper-container>
      </section>
      <section class="mb-3">
        <h1 class="fs-5">{% trans "Start something new" %}</h1>
        <swiper-container class="w-100"
                          navigation="true"
                          pagination="true"
                          pagination-clickable="true">
          <c-dashboard.card title="{% icon "project" %} {% trans "Create a project" %}"
                            class="text-center">
            {% trans "Store project-level metadata directly alongside your datasets. Doing so is a great way to showcase your funded research projects, group together related datasets and to share what you've been working on with the broader community!" %}
            <a class="stretched-link"
               href="#"
               data-bs-toggle="modal"
               data-bs-target="#createProjectModal"></a>
          </c-dashboard.card>
          <c-dashboard.card title="{% icon "dataset" %} {% trans "Create a dataset" %}"
                            class="text-center">
            {% trans "Plan a new dataset or upload data you've previously collected. Contribute dataset-level metadata to enhance the discoverability of your work and speed-up the data-publication process." %}
            <a class="stretched-link"
               href="#"
               data-bs-toggle="modal"
               data-bs-target="#createDatasetModal"></a>
          </c-dashboard.card>
        </swiper-container>
      </section>
      <section class="mb-3">
        <h1 class="fs-5">{% trans "Resources" %}</h1>
        <swiper-container class="w-100"
                          navigation="true"
                          pagination="true"
                          pagination-clickable="true">
          <c-dashboard.card title="{% trans "Tutorials" %}">
            {% trans "Learn how to get the most out of this portal." %}
          </c-dashboard.card>
          <c-dashboard.card title="{% trans "What is FairDM?" %}">
            {% trans "Learn more about FairDM, the python-based framework powering this platform." %}
          </c-dashboard.card>
          <c-dashboard.card title="{% trans "What is FairDM?" %}">
            {% trans "Learn more about FairDM, the python-based framework powering this platform." %}
          </c-dashboard.card>
        </swiper-container>
      </section>
    </c-layout.page>
  </c-layout.page>
  <c-form-modal id="createProject"
                :form="forms.project"
                buttontext="{% trans "Create" %}"
                action="{% url "project-create" %}" />
  <c-form-modal id="createDataset"
    :form="forms.dataset"
    buttontext="{% trans "Let's get started" %}"
    action="{% url "dataset-create" %}" />
  {% endblock content %}
