{% extends "geoluminate/layout/full_width.html" %}
{% load cms_tags menu_tags static authentication %}

{% block app_menu_wrapper %}
{% if request.user|has_group:"CMS" or request.user.is_superuser and current_page %}
{% include "geoluminate/components/navigation/partials/cms_menu.html" %}
{% endif %}
  {% comment %} {% if request.user|has_group:"CMS" or request.user.is_superuser and current_page %}
    {% include "geoluminate/components/navigation/partials/cms_menu.html" %}
  {% endif %} {% endcomment %}
{% endblock %}

{% block title %}
  {{ request.current_page }}
{% endblock title %}

{% block content %}

  {% placeholder "content" %}
{% endblock content %}
