{% extends "base.html" %}
{% load static i18n %}

{% block head %}
  {{ block.super }}
  <!-- Add the slick-theme.css if you want default styling -->
  <link rel="stylesheet"
        type="text/css"
        href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <!-- Add the slick-theme.css if you want default styling -->
  <link rel="stylesheet"
        type="text/css"
        href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
{% endblock head %}

{% block main %}
  <div class="spacer" style="height:350px"></div>
  <img class="position-fixed top-0 end-0 bottom-0 z-n1 object-fit-cover" src="{% static "img/world_map.webp" %}" alt="" />
  <div class="home-page bg-primary">
    <div style="transform:translateY(-200px)">
      <section class="mt-0">
        <div class="container px-5 py-3 rounded-top-4 bg-white col-md-9">
          <h1>{{ identity.database.name }}</h1>
          <p>{{ identity.database.description|linebreaks }}</p>
        </div>
      </section>
      <section>
        <div class="container col-md-9 px-5 py-3 bg-white">
          <h2>{% trans "Governance" %}</h2>
          <h3>{{ identity.authority.name }}</h3>
          <a href="{{ identity.authority.url }}">{{ identity.authority.url }}</a>
          <p>{{ identity.authority.description }}</p>
        </div>
      </section>
      <section class="bg-secondary-subtle ">
        <div id="carouselExampleDark" class="carousel carousel-dark slide">
          <div class="container col-md-9 p-3 multiple-items" style="height:450px">
            <h2 class="position-absolute">{% trans "Sample types" %}</h2>
            {% for c in sample_types %}
              <div class="carousel-item h-100 {% if forloop.first %}active{% endif %}" data-bs-interval="10000">
                <div class="text-center d-flex flex-column justify-content-center h-100">
                  <div class="card">
                    <div class="card-body">
                      <h5>{{ c.name_plural }}</h5>
                      <div class="mb-2">
                        <a href={{ c.authority.website }}>{{ c.authority.name }}</a>
                      </div>
                      {{ c.description }}
                      <div class="mt-4">
                        <a href="{{ c.list_url }}" class="btn btn-primary">{% icon "search.svg" %} {% trans "Search" %}</a>
                        <a href="{{ c.detail_url }}" class="btn btn-secondary">{% icon "chart.svg" %} {% trans "Visualize" %}</a>
                        <a href="{{ c.detail_url }}" class="btn btn-secondary">{% trans "Learn More" %}</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <button class="carousel-control-prev"
                  type="button"
                  data-bs-target="#carouselExampleDark"
                  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next"
                  type="button"
                  data-bs-target="#carouselExampleDark"
                  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </section>
      {% for template in view.templates %}
        {% include template %}
      {% endfor %}
    </div>
  </div>
{% endblock main %}

{% block body_end %}
  {{ block.super }}
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script>
    $('.multiple-items').slick({
      infinite: true,
      slidesToShow: 3,
      slidesToScroll: 3,
      centerMode: true,
      centerPadding: '60px'
    });
  </script>
{% endblock body_end %}
