{% extends "base.html" %}
{% load static partials easy_icons %}

{% partialdef carousel-item %}
<div class="text-center mx-2 " style="height: 350px">
  <div class="card container h-100">
    <div class="card-body d-flex flex-column">
      <h5>{{ c.name_plural }}</h5>
      <div class="mb-2">
        <a href={{ c.authority.website }}>{{ c.authority.name }}</a>
      </div>
      <p>{{ c.description }}</p>
      <div class="mt-auto">
        <a href="{{ c.list_url }}" class="btn btn-primary">{% icon "search" %} {% trans "Search" %}</a>
        <a href="{{ c.detail_url }}"
           class="btn btn-secondary">{% icon "chart" %} {% trans "Visualize" %}</a>
        <a href="{{ c.detail_url }}"
           class="btn btn-secondary">{% trans "Learn More" %}</a>
      </div>
    </div>
  </div>
</div>
{% endpartialdef carousel-item %}

{% block content %}
  <div class="spacer" style="height:350px"></div>
  <img class="position-fixed w-100 top-0 bottom-0 z-n1 object-fit-cover" width="auto" height="auto" src="{% static "img/world_map.webp" %}" alt="" />
  <div class="home-page bg-white">
    <div style="transform:translateY(-200px)">
      <section class="mt-0">
        <div class="container card rounded-4 col-md-9">
          <div class="card-body">
            <h1>{{ identity.database.name }}</h1>
            <p>{{ identity.database.description|linebreaks }}</p>
          </div>
        </div>
      </section>
      <section>
        <div class="container col-md-9 px-3 py-3 bg-white">
          <h2>{{ identity.authority.name }}</h2>
          <a href="{{ identity.authority.url }}">{{ identity.authority.url }}</a>
          <p>{{ identity.authority.description }}</p>
        </div>
      </section>
      <div class="bg-secondary-subtle vh-100 py-5">
        <h2 class="pt-3 container">{% trans "Sample types" %}</h2>
        <swiper-container centered-slides="true"
                          slides-per-view="2"
                          navigation="true"
                          grab-cursor="true">
          {% for c in sample_types %}
            <swiper-slide>
              {% partial carousel-item %}
            </swiper-slide>
          {% endfor %}
        </swiper-container>
      </div>
      <div class="bg-primary-subtle  vh-100 py-5">
        <h2 class="pt-3 container">{% trans "Measurements" %}</h2>
        <swiper-container centered-slides="true"
                          slides-per-view="2"
                          navigation="true"
                          grab-cursor="true">
          {% for c in measurement_types %}
            <swiper-slide>
              {% partial carousel-item %}
            </swiper-slide>
          {% endfor %}
        </swiper-container>
      </div>
      {% for template in view.templates %}
        {% include template %}
      {% endfor %}
    </div>
  </div>
{% endblock content %}
