{% extends 'base.html' %}
{% load i18n authentication crispy_forms_tags %}
{% block head_title %}
  {% trans "Account Settings" %}
{% endblock %}
{% block nav_title %}
  {{ request.user.full_name }}
{% endblock nav_title %}
{% block content %}
  <div class='container pt-5'>
    <header>
      {% trans "Account Settings" %}
    </header>
    {% for label, template, form in forms %}
      {% include template with card_class='mb-2' %}
    {% endfor %}
  </div>
{% endblock content %}
{% block sidebar_right %}
  {% include "user/components/account_sidebar.html" %}
{% endblock sidebar_right %}
