{% extends "sidebar_right.html" %}
{% load i18n geoluminate %}

{% block head %}
<script src="https://unpkg.com/htmx.org@1.8.0" integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc" crossorigin="anonymous"></script>
{% endblock head %}

{% block main_window %}
<div class='inner container pt-5'>
	<section id='dashboardContainer' class='application-container'>
	</section>  
</div>
{% endblock main_window %}

{% block sidebar_right %}
<div class='p-3'>
	{% menu dashboard 'geoluminate/menus/vertical.html' %}
</div>
{% endblock sidebar_right %}


