{% extends 'geoluminate/layout/fullwidth_sidebar.html' %}
{% load static geoluminate sekizai_tags autotables %}

{% block title %}{{ geoluminate.database.acronym}} {{ object|verbose_name|title }}{% endblock %}

{% block title_after %}{{ object.name|title }}{% endblock %}

{% block page_header %}{% endblock %}

{% block content_sidebar %}
  <div class='w-100 d-flex justify-content-center'>
    {% render_profile_image profile width="75px" height="150px" extra_classes='m-3' %}

    {% comment %} <img src="{{profile.image.url}}" class="rounded-circle m-3" width=150 height=150 alt=""> {% endcomment %}
  </div>
  <div class="nav flex-column nav-pills" id="tab" role="tablist" aria-orientation="vertical">
    <button class="nav-link active" id="Profile-tab" data-bs-toggle="pill" data-bs-target="#Profile" type="button" role="tab" aria-controls="Profile" aria-selected="true">Profile</button>
    <button class="nav-link" id="Affiliations-tab" data-bs-toggle="pill" data-bs-target="#Affiliations" type="button" role="tab" aria-controls="Affiliations" aria-selected="false">Affiliations</button>
    <button class="nav-link" id="Activity-tab" data-bs-toggle="pill" data-bs-target="#Activity" type="button" role="tab" aria-controls="Activity" aria-selected="false">Activity</button>
    <button class="nav-link" id="Projects-tab" data-bs-toggle="pill" data-bs-target="#Projects" type="button" role="tab" aria-controls="Projects" aria-selected="false">Projects</button>
    <button class="nav-link" id="Datasets-tab" data-bs-toggle="pill" data-bs-target="#Datasets" type="button" role="tab" aria-controls="Datasets" aria-selected="false">Datasets</button>
    <button class="nav-link" id="Instruments-tab" data-bs-toggle="pill" data-bs-target="#Instruments" type="button" role="tab" aria-controls="Instruments" aria-selected="false">Instruments</button>
    <button class="nav-link" id="Network-tab" data-bs-toggle="pill" data-bs-target="#Network" type="button" role="tab" aria-controls="Network" aria-selected="false">Network</button>
  </div>
{% endblock %}

{% block content_main %}
  <div class="tab-content container">
    <div class="tab-pane fade show active" id="Profile" role="tabpanel" aria-labelledby="Profile-tab" tabindex="0">
      <div class="page-header page-layout">
        <strong>{{ profile }}</strong>
        <div class='toolbar'>
          <div class="toolbar-left">
          </div>
          <div class="toolbar-right">
            {% if request.user == profile.user %}
              <a href="{% url 'user:profile_edit' %}" class='py-0 px-1 fas fa-edit'></a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class='p-1'>
        <span class='text-muted'>Interest 1 | Interest 2 | Interest 3</span>
      </div>
      <section class='py-3'>
        {{ object.about|safe }}
      </section>
    </div>
    <div class="tab-pane fade" id="Projects" role="tabpanel" aria-labelledby="Projects-tab" tabindex="0">
      {% include "partials/project_list.html" with table=tables.projects %}
    </div>
    <div class="tab-pane fade" id="Datasets" role="tabpanel" aria-labelledby="Datasets-tab" tabindex="0">
      {% include "partials/dataset_list.html" with table=tables.datasets %}
    </div>
    <div class="tab-pane fade" id="network" role="tabpanel" aria-labelledby="network-tab" tabindex="0">Network</div>
  </div>
{% endblock %}
