{% extends 'settings/base.html' %}
{% load i18n formsetify %}

{% block content %}
<div class='container mt-3'>
 <django-formset endpoint="{{ request.path }}" csrf-token="{{ csrf_token }}">
  {% render_form form "bootstrap" field_classes="mb-3" %}
  <button type="button" class="btn btn-primary"  df-click="submit({update: true}) -> proceed">{% trans "Update" %}</button>
</django-formset>
</div>
{% endblock %}


{% block footer_left %}
<button type="button" class="btn btn-danger"  df-click="submit({delete: true}) -> proceed">{% trans "Delete" %}</button>
{% endblock %}

