{% extends 'application.html' %}
{% load i18n formsetify %}

{% block content %}
<div class='container pt-5'>
 <header class='header'>
  <strong>{% trans "Edit Profile" %}</strong>
 </header>
 <django-formset endpoint="{{ request.path }}" csrf-token="{{ csrf_token }}">
  {% render_form form "bootstrap" field_classes="mb-2" %}

  <div class='container d-flex justify-content-end pb-3'>
   {% if add %}
     <button type="button" class="btn btn-primary" click="submit({add: true}) -> proceed">{% trans "Create" %}</button>
   {% else %}
     <button type="button" class="btn btn-primary"  click="submit({update: true}) -> proceed">{% trans "Update" %}</button>
     <button type="button" class="btn btn-danger"  click="submit({delete: true}) -> proceed">{% trans "Delete" %}</button>
   {% endif %}
  </div>
 </django-formset>
</div>

{% endblock content %}