{% extends 'geoluminate/layout/fullwidth_sidebar.html' %}
{% load i18n static geoluminate %}

{% block body_class %}application{% endblock %}
{% block page_css_class %}container overflow-auto{% endblock %}

{% block toolbar_right %}
{% if action %}
  <a href="{{ action.url }}" class='btn btn-sm btn-success'>
    {{ action.label }}
  </a>
{% endif %}
{% endblock %}

{% block sidebar_header %}
<div>
  {% render_profile_image user.profile width="40px" height="40px" extra_classes='shadow me-2 rounded-circle' %}
  <span>{{ request.user.profile }}</span>
</div>

{% endblock sidebar_header %}

{% block content_sidebar %}

  <ul>
    {% for item in menus.account_sidebar %}
      {% if not item.url %}
          <h2>{{ item.title }}</h2>
      {% elif item.visible %}
        <li><a href="{{ item.url }}"
          class="list-group-item list-group-item-action {{ item.extra_classes }}{% is_active item.url %}">
          <i class="fas {{ item.icon }}"></i>
          {{ item.title }}
        </a></li>
      {% endif %}
    {% endfor %}
  </ul>
{% endblock %}

{% block content %}
  {% block content_main %}{% endblock %}
{% endblock %}
