{% load i18n %}
<div id="claimPublication" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="claimPublication" aria-hidden="true" data-claimUrl="{% url "publications:claim" pk=pub.pk %}">
  <div class="modal-dialog modal-dialog-centered bg-transparent" role="document">
    <div class="modal-content">
      <section class='banner d-flex'>
          <div class="content p-5">
            <header class="major"><h2>{% trans "Claim this publication" %}</h2></header>
              <ul class="actions">
              <li><a href="" class="button primary">{% trans "Confirm" %}</a></li>
             </ul>
          </div>
      </section>
    </div>
  </div>
</div>



