{% load i18n crossref_tags sekizai_tags authentication %}

<div class="publication card">
  <div class='card-header d-flex w-100'>	
		{% include "crossref/partials/action_list.html" %}
	</div>
  <div class="card-body">      
		{% if object.is_verified %}
			<i class='text-success fas fa-check-circle' data-bs-toggle="tooltip" data-bs-placement="bottom" title="Data from this publication have been verified as part of the World Heat Flow Database Project!"></i>
		{% else %}
			<i class='text-warning fas fa-exclamation-triangle' data-bs-toggle="tooltip" data-bs-placement="bottom" title="Data from this publication are unverified. Use at your own discretion."></i>
		{% endif %}
		<i class='me-auto'>{{pub.container_title}}, {{ pub.published|date:'Y' }}</i>
    <h4 class="card-title"><a href="{% url "publications:detail" pk=pub.pk %}">{{ pub.title }}</a></h4>
		{% if pub.author.exists %}
			<h5 class="card-subtitle mb-2 text-muted authors">{{ pub.authors_display }}</h5>
		{% endif %}
		{% if pub.abstract %}
    	<p class="card-text abstract">
				{% comment %} {{ pub.abstract|safe|truncatewords:75 }} {% endcomment %}
				{{ pub.abstract|safe }}
			</p>
		{% endif %}
  </div>
	<div class='card-footer bg-white'>
		{% if pub.sites %}<span class='badge bg-primary'>
			Sites<span class='ms-1 badge bg-light text-secondary'>{{pub.sites.count}}</span>
		</span>{% endif %}

		{% if pub.intervals %}<span class='badge bg-success'>
			Intervals<span class='ms-1 badge bg-light text-secondary'>{{pub.intervals.count}}</span>
		</span>{% endif %}

	</div>
</div>

{% addtoblock "js" %}<script>$(function(){$('[data-bs-toggle="tooltip"]').tooltip()})</script>{% endaddtoblock %}
