{% extends "base.html" %}
{% load i18n crispy_forms_tags static i18n cms_tags %}

{% block content %}
<div class='inner container'>
	<header id="header">
		<div class="logo"><strong>{% trans "Publications" %}</strong> {% trans "World Heat Flow Project" %}</div>
		<ul class="icons">
			{% include "editorial/components/socials.html" %}
		</ul>
	</header>

	<section class='d-flex flex-row-reverse '>
		<div class='w-100'>
			{% placeholder "content" %}
			<section class='main'>
				<div class='d-flex justify-content-between'>
					{% include "crossref/paginator.html" %}
					<a href="#filterPublicationsModal" class="icon solid filter" data-bs-target="#filterPublicationsModal" data-bs-toggle="modal" data-bs-dismiss="modal"></a>
				</div>	
				{% for year, publications in years %}
				{% if not forloop.first %}<hr class="major" />{% endif %}
					{% include "crossref/publication_group.html" %}
				{% endfor %}
			</section>
		</div>
	</section>
</div>
{% endblock %}

{% block modals %}
	{% include 'core/modals/form.html' with modal_id="filterPublicationsModal" form=filter.form helper=filter.helper %}
{% endblock modals %}

