.comment-list-wrapper {
  @extend .list-group;
}

.comment-wrapper {
  display: block;
}

.comment-item {
  form {
    margin-left: 1em;
  }
} 

.comment-cancel-reply-link {
  @extend .btn;
  @extend .btn-danger;
  @extend .text-capitalize;
}

.comment-list-toggle {
  @extend .btn-primary;
  @extend .rounded-circle;

    line-height: 1.2;
    width: 1.5em;
    padding: 0;

  // &.collapsed {
  //   span.plus {
  //     display: none;
  //   }
  //   span.minus {
  //     display: inline-block;
  //   }
  // }

  &:before {
    content: "-";
  }
  &.collapsed:before {
    content: "+";
  }
}