	header, .header {
    @extend .d-flex;
		border-bottom: solid 4px var(--bs-primary-border-subtle);;
		padding-bottom: 0.5rem;
		margin-bottom: 1em;
		position: relative;
		overflow: hidden;
		color: var(--bs-primary);

		> * {
			margin-bottom: 0;
		}

		.icons {
			flex-shrink: 1;
			text-align: right;
		}

	}
