.sidebar {
  @extend .border-end;
  overflow: auto;
  position: relative;
  align-items: stretch;
  padding: $modal-inner-padding;
  max-width: $offcanvas-horizontal-width !important;

  form {
    .dj-field-errors {
      display: none;
    }
  }




  .sidebar-inner {
    // @extend .p-1;
    // max-height: 100%;
    overflow: auto;
    ::-webkit-scrollbar {
      width: 7px;
    }
  }

  .offcanvas-body {
    h1,h2,h3,h4,h5,h6 {
      @extend .mt-3;
      @extend .p-1;
      font-size: 0.875rem;

    }
  }


  ul {
    // @extend .overflow-auto;
    @extend .list-group;
    @extend .list-group-flush;
    @extend .small;
    // height: 100%;

  }

  i {
    width: 16px;
    @extend .me-1;
  }
}

@include media-breakpoint-up(lg) {

  .sidebar {
    position: relative;
    // visibility: visible;
    // transform: none !important;
    // z-index: auto;
    max-width: $offcanvas-horizontal-width !important;
    // min-width: $sidebar-width !important;
  }

  .content-sidebar-toggle {
    display: none;
  }
}
