.auto-table-wrapper {
    opacity: 0;
    width: 100%;

    &.loaded {
        opacity: 1;
    }
}

.datatable {
    width: 100% !important;
    @extend .table;
    @extend .table-striped;
    @extend .table-responsive;
}
.dataTables_wrapper {
    height: 100%;
}
// .dataTables_filter, .dt-buttons, .dts_label {
//     display: none;
// }
.dtsp-titleRow {
    button {
        padding: $btn-padding-y-sm $btn-padding-x-sm !important;
    }
}

.dtsp-searchIcon {
    display: none;
}
