{% extends 'base_detail_view.html' %}

{% load static i18n formsetify geoluminate autotables %}



{% block content_sidebar %}
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active bg-secondary-subtle">
      <img src="http://placekitten.com/400/600" class="object-fit-contain w-100" height=200 alt="...">
    </div>
    <div class="carousel-item bg-secondary-subtle">
      <img src="http://placekitten.com/600/400" class="object-fit-contain w-100" height=200 alt="...">
    </div>
    <div class="carousel-item bg-secondary-subtle">
      <img src="http://placekitten.com/400/400" class="object-fit-contain w-100" height=200 alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{{ block.super }}
{% include "partials/contributors.html" with title='Dataset Contributors' contributors=object.contributors.all %}
{% include "partials/key_dates.html" %}
{% endblock %}

{% comment %} {% block toolbar_right %}
<a href="#" class='btn btn-sm btn-outline-primary'>
  <i class='fas fa-edit'></i>
  {% trans "Edit" %}
</a>
{% endblock  %} {% endcomment %}


