{% extends 'geoluminate/layout/full_screen_form.html' %}
{% load i18n %}
{% block page_title %}{% trans "Your enquiry has been sent!" %}{% endblock %}

{% block content %}
<p>{% trans "Please allow at least one week for us to respond. Remember, our community is run by volunteers so please respect the schedule of others. If we haven't responded in this time frame, feel free to send us another message. Alternatively, you can reach out to us at the" %}<a href={{geoluminate.governance.website}}>{{geoluminate.governane.name}}</a></p>
{% endblock %}


{% block footer %}
  <a href="/" class="btn btn-primary">{% trans "Home" %}</a>
{% endblock %}
